<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html 
     PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
        <title>Internal Server Error</title>
    </head>
    <body>
	 <h1>
         Oops, Internal Server Error
         </h1>
	<p>There has been a &#34;500 internal application error&#34;. Please check back shortly.</p>
	<p>Thanks for your patience!</p>
	<p>By the way, this 500 has been recorded so that we can fix it.</p>
	<p>You could still visit our beta site at <a href="http://www.ck12.org">www.ck12.org</a></p>
    </body>
</html>

