<!-- ====== Editor Search ===== -->
    <div id="editor-search-widget">
        <h3>Add a connection</h3>
        <form id="concept__search__editor" class="concept__search" onkeypress="return event.keyCode != 13;">

            <input id="concept__search__input__editor" class="concept__search__input" type="text" placeholder="Search for a concept" name="q" value="" data-autocompleteclass="landing" class="ui-autocomplete-input" autocomplete="off">
            <i class="concept__search-icon icon-search"></i>

            <span class="concept__search-loading-icon hide">
                <img alt="loading" src="/media/common/images/icon_loading.gif">
            </span>
        </form>
        <i class="icon-close2 conceptmap__close-button"></i>
    </div>
<!-- ====== End Editor Search ===== -->