<div id="mobile-message">

    <section class="mobile-message__intro">
        <div class="row">
            <div class="column small-8 small-offset-2 end">
                <object class="map-logo" data="/media/conceptmap/images/tutorial/slide-1__map.svg" type="image/svg+xml" align="middle"></object>
                <p class="logo-text">Concept Map</p>
            </div>
        </div>
        <div class="row">
            <p class="column small-8 small-offset-2 end logo-subtext">Making connections between <br/>Math<span class="math-dot">&nbsp;&nbsp;&nbsp;</span> and Science<span class="science-dot">&nbsp;&nbsp;&nbsp;</span></p>
        </div>
    </section>


    <section class="mobile-message__video">
        <iframe src="https://www.youtube.com/embed/JYPoZBvbc_I?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
        <div class="row">
            <div class="column small-12">
                <p class="video-text">What is the CK-12 Concept Map?</p>
            </div>
        </div>
    </section>

    <section class="mobile-message__prompt">
        <h5>Our Concept Map is compatible with tablets, laptops, and desktops.</h5>
        <p>Mobile coming soon!</p>
        <a href="/" class="button tangerine small">Browse CK-12</a>
    </section>


</div>



