<div class="tutorial__modal">
    <div class="tutorial__modal__arrow"></div>
    <div class="tutorial__modal__exit"><i class="icon-close2"></i></div>
    <div class="tutorial__modal__slide">
        <!-- Slides -->
        <div class="tutorial__modal__slide-1 tutorial__modal__slide--active" data-slide="1">

            <iframe src="https://www.youtube.com/embed/JYPoZBvbc_I?rel=0&amp;controls=0&amp;showinfo=0&amp;enablejsapi=1" frameborder="0" allowfullscreen  class="tutorial-video"></iframe>
            <div class="tutorial-video__close-button">
                <i class="icon-close2"></i>
            </div>

            <div class="row">
                <div class="column small-2 small-offset-2">
                    <object class="map-logo" data="/media/conceptmap/images/tutorial/slide-1__map.svg" type="image/svg+xml" align="middle"></object>
                </div>
                <div class="column small-8">
                    <h2 class="logo-text">Concept Map</h2>
                </div>
            </div>
            <div class="row">
                <p class="column small-8 small-offset-2">Making connections between <br/>Math<span class="math-dot">&nbsp;&nbsp;&nbsp;</span> and Science<span class="science-dot">&nbsp;&nbsp;&nbsp;</span></p>
            </div>
            <div class="row">
                <div class="column small-6 small-offset-3">
                    <div class="mock-video-cover"></div>

                    <p class="video-text">What is the CK-12 Concept Map?</p>
                </div>
            </div>
        </div>
        <div class="tutorial__modal__slide-2" data-slide="2">
            <h3>How are Math and Science related?</h3>
            <p>View all connections or filter by subject.</p>
        </div>
        <div class="tutorial__modal__slide-3" data-slide="3">
            <h3>Here, you can follow concept pathways.</h3>
            <p>Click on a concept to open the next connection<br/>and learn more by clicking on the Details tag.</p>
        </div>
<!--        <div class="tutorial__modal__slide-4" data-slide="4">
            <h3>Got a suggestion? We want to hear it!</h3>
            <p>Help our team by giving feedback to improve the Concept Map.</p>
        </div>  -->
        <!-- End Slides -->
    </div>

    <div class="tutorial__modal__bottom-row">
        <div class="tutorial__modal__bottom-row__before"></div>
        <div class="tutorial__modal__bottom-row__dots">
            <div class="tutorial__modal__bottom-row__dot tutorial__modal__bottom-row__dot--active" data-slide="1"></div>
            <div class="tutorial__modal__bottom-row__dot" data-slide="2"></div>
            <div class="tutorial__modal__bottom-row__dot" data-slide="3"></div>
            <!-- <div class="tutorial__modal__bottom-row__dot" data-slide="4"></div> -->
        </div>
        <div class="tutorial__modal__bottom-row__next">
            <button class="button tangerine small tutorial__modal__bottom-row__start__button">Take a tour</button>
            <button class="button tangerine small tutorial__modal__bottom-row__next__button hide">Next</button>
            <button class="button tangerine small tutorial__modal__bottom-row__end__button hide">Start Exploring</button>
        </div>
    </div>
</div>
