{% extends "base/auth/master.html" %}
<!-- RIGHT SIDE as MAIN CONTENT -->
{% block content %}
	{% block content_left %}
	<aside id="leftsecondary" class="grid_2 desktop">
		{% block content_left_inner %}
			left content
		{% endblock %}
	</aside>
	{% endblock %}
	{% block content_right %}
		{% block rightinfotop %}{% endblock %}
		<div id="content" class="clearfix grid_10 ipad_grid_12">
			{% block content_right_inner %}
				right content
			{% endblock %}
			{% block rightinfobottom %}{% endblock %}
		</div>
	{% endblock %}
	<div class="gclear"></div>
{% endblock %}
