<div id="overlay-container" class="overlay-container" style="display: none;">
	<div class="row collapse relative hide-for-medium-down">
		<div class="pointer overlay-close js-overlay-close"><i class="icon-close2"></i></div>
	</div>
	<div class="greet-overlay-wrapper hide-for-medium-down">
		<div class="row collapse relative">
			<div class="overlay-text-wrapper relative large-7 large-centered column">
				<div class="overlay-content-wrapper relative">
					<div class="thanks-giving-text">Happy Holidays!</div>
                    <div class="overlay-question-text">What is winter solstice and when does it occur?</div>
					<div class="answer-wrapper js-answer-wrapper">
                    <div class="thanks-giving-answer diwali-text-bottom">The winter solstice, the shortest day of the year, occurs on Dec. 22, 2015 in the Northern Hemisphere. This occurs as a result of the Earth’s axis of rotation being tilted in relation to its orbit around the sun.</div>
                      <a class="button huge tangerine learn-more-button" href="/earth-science/Seasons/lesson/Seasons/?referrer=holiday-banner">Learn More <span class="icon-arrow_right right-side"></span></a>
					</div>
				</div>
			</div>
		</div>
		<div class="mountain-image"><img src="/media/common/images/overlays/snow_bck.svg" alt="snow mountain"/><img class="turkey-image" src="/media/common/images/overlays/snowman.svg" alt="snow man"/></div>
	</div>
	<div class="greet-overlay-background hide-for-medium-down"></div>
</div>
<div class="row collapse hide-for-medium-down overlay-header-wrapper">
	<div class="header-overlay pointer js-header-overlay" style="display: none;">
		<img src="/media/common/images/overlays/small_bck2.png" alt="header"/>
	</div>
</div>
