<div id="editAssignmentModal" class="edit-assignment-modal reveal-modal modal-uikit app-reveal-modal">
	<a class="close-reveal-modal close">+</a>
	<div class="row collapse ie8text">
		<div class="large-12 columns">
			<div class="modal-contents ie8text">
				Changes made to the scope and sequence in the assignment will be reflected across all groups this assignment has been shared.
				<br/><br/>
				Do you still wish to continue?
			</div>
			<div class="edit-assignment-content button-wrapper ie8text">
				<a class="button standard turquoise right" id="continueEditAssignment">Continue editing</a>
				<a class="link-green right close-assignment-edit-modal" id="cancelEditAssignment">Cancel</a>
			</div>
		</div>
	</div>
</div>	