<div id="deleteAssignmentModal" class="delete-assignment-modal reveal-modal modal-uikit app-reveal-modal">
	<a class="close-reveal-modal close">+</a>
	<div class="row collapse ie8text">
		<div class="large-12 columns">
			<div class="modal-contents ie8text">
				Deleting
				<b class="js-assignment-name"></b>
				will remove this assignment from your class members and groups sharing this assignment.
				All members' data will also be removed. 
			</div>
			<div class="delete-assignment-content button-wrapper ie8text">
				<a class="button standard turquoise right" id="deleteAssignment">Yes, delete assignment</a>
				<a class="link-green right close-assignment-delete-modal" id="cancelDeleteAssignment">Cancel</a> 
			</div>
		</div>
	</div>
</div>