<li class="small-6 large-6 column @@showMoreState@@">
  <div class="row collapse pointer select-concept-wrapper js-concept-select @@isPracticeConcept@@"
       data-recommendedConcept="1" data-encodedID="@@encodedID@@" data-handle="@@handle@@"
       data-parent-handle="@@parentHandle@@" data-realm="@@realm@@"  data-concept-collection-handle="@@conceptCollectionHandle@@"
       data-collection-creator-ID="@@collectionCreatorID@@">
    <span class="subject-icon">
      <span class="@@subjectName@@"></span>
    </span>
    <span class="concept-name">
  		<span class="js-concept-name">@@conceptName@@</span>
  		<i class="icon-Info @@assignmentConceptIcon@@ js-concept-newspaper"></i>
  	</span>
  	<div class="custom-box right">
  		<input type="checkbox" id="ID@@artifactID@@" class="js-concept-check" @@isChecked@@>
  		<label class="checkbox" for="ID@@artifactID@@"><span><i class="icon-validated"></i></span></label>
  	</div>
  </div>
</li>
