<div id="concept-newspaper" class="row collapse">
	<a id="newsPaperLink" class="hide" data-reveal-id="newspaperModal"></a>
	<div id="newspaperModal" class="reveal-modal large app-reveal-modal modal-uikit">
		<a id="close-newspaper-modal-icon" class="close-reveal-modal close">+</a>
		<div id="close-newspaper-modal-arrow" class="pointer back-button">
			<i class="icon-arrow"></i>
		</div>
		<div class="row collapse">
			<iframe id="concept-frame" height="620" src="@@src@@">
				<p>Your browser does not support iframes.</p>
			</iframe>
		</div>
	</div>
</div>
