<div id="assignment-empty-search-container" class="hide assignment-empty-search-container">
	<p>We couldn't find what you are looking for.</p>
	<div>
		<span>Some suggestions:</span>
		<div class="assignment-empty-search">
		<span>Make sure all words are spelled correctly.</span><br>
		<span>Try different keywords.</span><br>
		<span>Try more general keywords.</span>
		</div>
	</div>
</div>
<div class="hide assignment-empty-search-suggestion">
	<b>Showing results for: </b>
	<span id="assignment-search-suggestion"></span>
</div>