<div class="row collapse hide-for-small">
	<div class="row collapse">
		<div class="large-12 small-12 columns">
			<div class="share-resources-text">
				<span>Share resources with members.</span>
			</div>
		</div>
	</div>
	<div class="row collapse">
		<div class="large-5 small-11 columns group-shared-resources-zero-wrapper">
			<section class="get-started-section-left">
				Get started right away &ndash;<br>
				start sharing with this group<br>
				before members even join
			</section>
			<section class="sources-middle-section-left">
				Use the share link on<br>
				readings,  videos,  and more.
			</section>
			<img class="hide-for-small" src="/media/groups/assets/images/down-arrow-group-share.png" alt="arrow-mark">
			<section class="@@onlyForClass@@">
				<span class="class-tip-icon">
					<i class="icon-notice"></i>
				</span>
				<b>Tip: </b>Want to use reports<br>
				to track class member progress?<br>
				<a href="/group-assignments/@@groupID@@">Create Assignments</a> instead of<br>
				sharing resources.
			</section>
		</div>
		<div class="large-7 small-7 columns share-img-container-right hide-for-small">
			<img src="/media/groups/assets/images/sample-group-share.png" alt="sample-share">
		</div>
	</div>
	<div class="row collapse ie8text">
		<div class="large-12 small-11 columns members-receive-text">
			<span class="icon-message hide-for-small">
				<img alt="email" src="/media/groups/assets/images/message.png">
			</span>
			<span class="members-hint">Members receive links to shared resources in their email boxes.</span>
		</div>
	</div>
	<div class="row collapse ie8text">
		<div class="large-6 small-11 columns all-resources-right">
			All of the resources that members share are 
			accessible from the group’s Shared Resources page.
		</div>
		<div class="large-6 small-10 columns critical-thinking-image hide-for-small">
			<img src="/media/groups/assets/images/some3.png" alt="sample-resource">
		</div>
	</div>
</div>

<div class="row collapse ie8text show-for-small zero-state-mobile text-center">
	<div class="row collapse groups-home-page-mobile-wrapper shared-zero-mobile">
		<div class="row collapse groups-home-page-mobile left">
			<span class="encircled-number">1</span>
			<div class="row collapse activity-message">Share resources with members</div>
			<div class="row collapse activity-instruction">Get started right away - start sharing with this groups before members even join. Use the share link on readings, videos and more.</div>
			<div>
				<img src="/media/groups/assets/images/share.png" alt="email">
			</div>
		</div>
		<div class="row collapse groups-home-page-mobile left">
			<span class="encircled-number">2</span>
			<div class="row collapse activity-message">Members get email alerts</div>
			<div class="row collapse activity-instruction">Members are alerted every time a resource is shared with the rest of the group.</div>
			<div>
				<img src="/media/groups/assets/images/mail.png" alt="email">
			</div>
		</div>
		<div class="row collapse groups-home-page-mobile left">
			<span class="encircled-number">3</span>
			<div class="row collapse activity-message">All in one place</div>
			<div class="row collapse activity-instruction">All shared resources are accessible from the group's shared resources page.</div>
			<div>
				<img src="/media/groups/assets/images/resource.png" alt="email">
			</div>
		</div>
	</div>
	<div class="row collapse pagination">
		<span class="option-button active"></span>
		<span class="option-button"></span>
		<span class="option-button"></span>
	</div>
</div>