<div>
	<div id="settings-reminder" class="settings-reminder hide">
		<div class="reminder-header-wrapper">
			<div class="reminder-heading left">Reminder!</div>
			<a class="icon-close reminder-close right" id="close-reminder"></a>
		</div>
		<div class="reminder-body-wrapper">The registration instructions for this group and its link are in  Settings if you need them again.</div>
		<div class="arrow-top"></div>
	</div>

	<div id="activity-container" class="activity-content-wrapper">
		<h2 class="js-activity-time"></h2>
		<div class="activity-flow"></div>
	</div>
</div>