<div class="activity-content-individual-wrapper">
	<div class="activity-icon-wrapper">
		<span class="activity-content-title-icon">
			<i class="icon-share app-icons ie8icon"></i>
		</span>
	</div>
    <div class="panel row collapse share-panel">
        <div class="small-2 large-2 columns activity-topic">
            <div class="inner-topic-wrapper pointer js-activity-link@@book@@">
            	<i class="@@modalityicon@@ app-icons"></i>
				<span class="activity-type">@@artifactType@@</span>
            </div>
        </div>
       	<span class="activity-time-mobile show-for-small">@@activityTimeSmall@@</span>
        <div class="small-12 large-10 columns activity-content">
        	<a href="@@activityLink@@" target="_blank" class="sharedTitle ie8text">@@activityTitle@@</a>
        	<div class="activity-user ie8text">
            	<img src="/auth/member/image/@@activityOwnerAuthID@@" alt="@@activityOwner@@">
            	<span class="activity-type activity-description">@@activityOwner@@ shared @@activityTimeBig@@</span>
         	</div>
        </div>
    </div>
</div>