<div class="activity-content-individual-wrapper row collapse">
	<div class="card-activity-content left">
		<span class="assignment-title-container" title="@@activityTitle@@ @@dueDate@@">
			<span class="@@previousTitleGroup@@ card-assign-change">@@activityPrevTitle@@</span>
        	<span class="@@changedTo@@ card-assign-change">changed to</span>
			<span class="ie8text card-activity-header js-assignment-name @@assignmentLink@@" data-name="@@activityTitle@@" data-duedate="@@changedue@@">@@activityTitle@@</span>
	        <span class="@@due@@ dueDateMobile">@@dueDate@@</span>
	        <span class="@@assignmentDelete@@ ">All reports have been removed.</span>
			<span class="show-for-small activity-type-mobile @@hideForDelete@@">@@activityType@@</span>
		</span>
		<div class="card-activity-user ie8text row collapse">
			<img src="/auth/member/image/@@activityOwnerAuthID@@" alt="@@activityOwner@@" class="member-image">
			<span class="activity-detail hide-for-small" title="@@activityOwner@@ @@activityType@@ @@activityTime@@">@@activityOwner@@ @@activityType@@ @@activityTime@@</span>
			<span class="show-for-small activity-detail-small text-center">@@activityTimeSmall@@</span>
		</div>
	</div>
</div>