<div class="row collapse activity-content-individual-wrapper">
	<div class="left card-activity-content">
		<span class="assignment-title-container">
			<a href="@@activityLink@@" class="ie8text card-activity-header js-discussion-title" title="@@activityTitle@@"></a>
			<span class="show-for-small activity-type-mobile">@@discussionType@@</span>
		</span>
		<div class="row collapse card-activity-user ie8text">
			<img src="/auth/member/image/@@activityOwnerAuthID@@" alt="@@activityOwner@@" class="member-image">
			<span class="activity-detail hide-for-small" title="@@activityOwner@@ @@discussionType@@ @@activityTime@@">@@activityOwner@@ @@discussionType@@ @@activityTime@@</span>
			<span class="show-for-small activity-detail-small text-center">@@activityTimeSmall@@</span>
		</div>
	</div>
</div>
