<div id="@@activityID@@" class="panel row collapse js-resources-entry resources-entry-wrapper @@filterResource@@ share-panel">
	<div class="row collapse left resource-entry-child">
	    <div class="activity-topic small-2 columns large-2">
	        <div class="inner-topic-wrapper@@book@@">
	        	<i class="@@modalityicon@@ app-icons"></i>
				<span class="activity-type">@@activityType@@</span>
			</div>
		</div>
		<div class="activity-content small-12 large-10 columns">
			<a href="@@activityLink@@" target="_blank" class="ie8text" title="@@activityTitle@@">@@activityTitleText@@</a>
			<span class="@@deleteResource@@ close-group-member delete-resource hide-for-small js-delete-resource " data-reveal-id="deleteResourceModal"></span>
			<div class="activity-user ie8text">
				<span class="resource-type-image js-type-block">
					<img src="/auth/member/image/@@activityOwnerAuthID@@" alt="@@activityOwner@@">
				</span>
				<span class="bottom activity-type activity-description">@@activityOwner@@ shared @@activityTimeBig@@</span>
				<span class="show-for-small group-resource-time-small" title="Shared @@activityTimeBig@@ by @@activityOwner@@">@@activityTimeSmall@@</span>
			</div>
	    </div>
	</div>
	<div class="row collapse left resource-entry-child resource-entry-delete-wrapper show-for-small text-center">
		<i class="icon-remove remove-resource-mobile js-remove-resource-mobile"></i>
	</div>
</div>