<div class="left dashboard-widget expand-active leader-assignment-details">
	<div class="left assignment-functionality-container">
		<div class="intructions">
			<b>Instructions: </b><span class="description">@@description@@</span>
			<textarea class="bg-description hide-imp" type="text" value=@@description@@></textarea>		
			<i class="icon-edit edit-objective js-edit-objective" title="Edit instruction"></i>
		</div>
		<div>
			<span>@@conceptCount@@</span>
			<span>@@concepts@@</span><span>,</span>
			<span>@@quizCount@@</span>
			<span>@@quizzes@@</span>
		</div>
		<div class="assignment-@@status@@">
			<span class="assign-to-members">Assign to Members</span>
			<a class="button small turquoise js-assign">Assign</a>
			<span class="assigned">
				<a class="link-green js-unassign">Undo Assign</a>
			</span>
		</div>
		<div>
			<span class="due-date-label">Due Date</span>
			<input type="text" class="due-date js-due" maxlength="10" value="@@value@@" placeholder="mm/dd/yyyy">
		</div>
		<hr>
		<div class="hide-for-small">
			<a class="js-edit-assignment"  data-reveal-id="editAssignmentModal" data-groupID="@@groupID@@" data-assignmentID="@@assignmentID@@" data-assignmentName="@@assignmentName@@">Edit</a>
		<div class="quick-assign-info hide-important">
			<i class="icon-Info js-info-quick"></i>
			<div class="tooltip-top_header quick-assign-tooltip qa-off-tooltip">
    				<div class="content">The contents of this assignment cannot be changed. You can edit title, instructions, and due date on this screen.</div>
    			</div>
		</div>
		</div>
		<div class="hide-small @@hideReports@@">
			<a href="/group-reports/@@groupID@@/">See Reports</a>
		</div>
		<div>
			<a class="js-delete-assignment" data-reveal-id="deleteAssignmentModal">Delete Assignment</a>
		</div>
		<div class="member-assignment-invalid-date hide js-invalid-date js-date-popup">
			<i class="icon-close right pointer js-invalid-date-close"></i>
			<div>
				<span>You did not enter a valid date.</span>
			</div>
		</div>
		<div class="member-assignment-before-date hide js-before-date js-date-popup">
			<i class="icon-close right pointer js-before-date-close"></i>
			<div>
				<span>Please enter a Due Date that is on or after the current date.</span>
			</div>
		</div>
		<div class="member-assignment-future-date hide js-future-date error-popup js-date-popup">
			<i class="icon-close right pointer js-future-date-close"></i>
			<div>
				<span>Please enter a Due Date that is max 2 years in future.</span>
			</div>
		</div>		
		
		<div class="member-assignment-date-change hide js-date-change js-date-popup">
			<i class="icon-close right pointer js-date-change-close"></i>
			<div>
				<span>You've just updated the Due Date. This will be reflected in Dashboard and your Activity Feed.</span>
			</div>
		</div>
		<div class="assignment-title-change hide error-popup">
			<div>
				<span>Title can't be empty and can be max 200 characters long</span>
			</div>
		</div>
		<div class="assignment-instruction-change hide error-popup">
			<div>
				<span>Instruction can be max 500 characters long.</span>
			</div>
		</div>				
		<a class="right expand-view-button active js-detail-close show-for-small mobile leader-assignment-expand">
			<span class="expand-open">...</span>
		</a>
	</div>
	<div class="left widget-body-expands">
		<a class="right expand-view-button active js-detail-close"><span class="expand-close"></span></a>
		<span class="spindle-expand">
		          
		</span>
		<span class="swiped-top-button">...</span>
		<div class="row collapse concepts-wrapper">
			<ul class="assignment-concept-list small-font">@@conceptList@@</ul>
		</div>                    
		<span class="swiped-bottom-button">...</span>  
	</div>                        
</div>
