<li>
	<div class="display-indicator-container">
    	<span class="option-button"><span class="option-select @@hideRadioButton@@"></span></span>
    </div>
    <div class="concept-descriptions concept" title="@@conceptName@@" data-branch="@@branch@@" data-collection-handle="@@collectionHandle@@" data-concept-collection-handle="@@conceptCollectionHandle@@" data-concept-collection-absolute-handle="@@conceptCollectionAbsoluteHandle@@" data-collection-creator-ID="@@collectionCreatorID@@" data-contextUrl="@@data-contextUrl@@" data-mtype=@@mtype@@ data-contextName="@@contextName@@" data-encodedid="@@encodedid@@" data-assignmentid="@@assignmentid@@" data-handle="@@handle@@" data-login="@@login@@"><i class="modality-icon icon-@@icon-name@@"></i>@@conceptName@@</div>
    <div class="practice-score-container">
    	<span class="@@hideScore@@">@@percentage@@</span>
    	<span class="practice-complete @@hideComplete@@"></span>
    </div>
</li>