<div class="activity-content-individual-wrapper">
	<div class="activity-icon-wrapper">
		<span class="activity-content-title-icon">
			<i class="icon-comments app-icons ie8icon"></i>
		</span>
	</div>
    <div class="panel row collapse qa-panel">
        <div class="small-12 large-2 columns activity-topic">
            <div class="user-profile-photo">
                <img src="/auth/member/image/@@activityOwnerAuthID@@" alt="@@activityOwner@@">
            </div>
        </div>
        <span class="activity-time-mobile show-for-small">@@activityTimeSmall@@</span>
        <div class="small-12 large-10 columns activity-content">
            <a href="@@activityLink@@" class="hide-small">
                <span class="ie8text js-discussion-title groups-discussion-size" title="@@discussionTitle@@"></span>
                <div class="clear"></div>
            </a>
            <a href="@@activityLink@@" class="show-for-small js-discussion-title" title="@@discussionTitle@@"></a>
            <span class="bottom-details">
                <span class="ie8text hide-small owner">@@activityOwner@@</span>
                <span class="ie8text discussion-type">@@discussionType@@</span>
                <span class="activity-type-mobile show-for-small">@@discussionType@@</span>
                <span class="ie8text hide-small">@@activityTimeBig@@</span>
            </span>
        </div>
    </div>
</div>
