<div class="activity-content-individual-wrapper">
	<div class="activity-icon-wrapper">
		<span class="activity-content-title-icon">
			<i class="@@smallIcon@@ app-icons ie8icon"></i>
		</span>
	</div>
    <div class="panel row collapse assign-panel">
        <div class="small-2 large-2 columns activity-topic">
            <div class="inner-topic-wrapper js-activityTitle@@isAssignmentDelete@@">
            	<i class="icon-grps_assgnmts app-icons assign-icon"></i>
				<span class="activity-type">assignment</span>
            </div>
        </div>
        <span class="activity-type-mobile show-for-small @@activityUpdate@@">@@activityType@@</span>
       	<span class="activity-time-mobile show-for-small">@@activityTimeSmall@@</span>
        <div class="small-12 large-10 columns activity-content">
        	<h3 class="ie8text" title="@@activityTitle@@ @@dueDateChange@@ @@dueDate@@">
        		<span class="@@previousTitle@@">@@activityPrevTitle@@</span>
        		<span class="@@changedTo@@">changed to</span>
        		<span class="js-activityTitle ellipsis @@assignmentLink@@" data-title="@@activityTitle@@">@@activityTitle@@</span>
        		<span class="activity-type-mobile show-for-small dueDateMobile"> @@dueDateChange@@ @@dueDate@@</span>
        		<span class="@@due@@ hide-for-small"> @@dueDateChangeTo@@ @@dueDate@@</span>
        		<span class="@@assignmentDelete@@ hide-small"><span>All reports for this assignment have been removed.</span></span>
        		<span class="@@assignmentDelete@@ show-for-small"><span>All reports have been removed.</span></span>
        	</h3>
        	<div class="activity-user ie8text">
            	<img src="/auth/member/image/@@activityOwnerAuthID@@" alt="@@activityOwner@@">
            	<span class="hide-small activity-description" title="@@activityOwner@@ @@activityType@@ @@activityTimeBig@@">@@activityOwner@@ @@activityType@@ @@activityTimeBig@@</span>            	
         	</div>
        </div>
    </div>
</div>