<a id="wrongModalLink" data-reveal-id="wrongLinkModal" class="hide"></a>
<div id="wrongLinkModal" class="reveal-modal app-reveal-modal modal-uikit" style="display: none; opacity: 1; visibility: hidden; top: 100px;">
	<a class="close-reveal-modal close">+</a>
    <div class="row collapse wrong-modal-text">
        <p>We tried to find it, but this page doesn't exist. Try going back, or contacting your group leader.</p>
    </div>
    <div class="row collapse">
    	<div class="small-12 large-12 columns text-center">
        	<a class="button standard turquoise" id="wrong-link-back">Go Back</a>
        </div>
    </div>
</div>