<div id="@@assignmentID@@" class="row collapse assignment-list-container quick-assign-@@status@@">
	<div class="small-12 large-12 columns js-assignment-detail-wrapper">
		<div class="row collapse pointer assignment-list-wrapper js-assignment-list-wrapper" title="@@assignmentName@@">
			<div class="left assignment-title">
				<span class="link-green assignment-title-text js-assignment-name">@@assignmentName@@</span>
	            	<input type="text" class="text-assign-name hide-imp">
				<i class="icon-edit edit-name js-edit-name" title="Edit title"></i>
				<i class="icon-arrow_right leader-assignment-arrow-icon"></i>
			</div>
			<div class="text-center right assignment-message-@@status@@ assignment-@@status@@">
				<span class="button small turquoise js-assign">Assign</span>
				<div class="assigned">
					<i class="icon-checkmark">Assigned</i><br>
				</div>
			</div>
			<div class="text-center right assignment-due-date">
				<span class="hide-for-small">@@dueDate@@</span>
				<span class="show-for-small">@@dueDateShort@@</span>
			</div>
		</div>
	</div>
</div>