<div id="@@assignmentID@@" class="row collapse member-assignment-list-container">
	<div class="pointer member-assignment-list-wrapper js-member-assignment columns">
	<div class="left text-center member-assignment-due">
		<span class="hide-for-small">@@dueDate@@</span>
		<span class="show-for-small">@@dueDateShort@@</span>
	</div>
	<div class="left text-center member-assignment-late">
		<div class="pointer @@isLate@@ js-islate">
			<i class="icon-bell"></i>
			<span>&nbsp;</span>
		</div>
	</div>
	<div class="member-assignment-past-due hide">
		<i class="icon-bell left"></i>
		<span class="right">This assignment was due on @@dueDate@@.</span>
		<span class="member-assignment-past-due-time">You completed it @@daysLate@@ days late.</span>
	</div>
	<div class="member-assignment-name">
		<a class="link-green" title="@@assignmentName@@">
			<span class="js-assignment-name">@@assignmentName@@</span>
		</a>
		<i class="icon-arrow_right member-assignment-arrow-icon hide-for-small"></i>
	</div>
	<div class="right text-center member-assignment-progess">
		<input type="text" class="knob" value="@@percentage@@">
		<div class="progress-wrapper">
			<span>@@progress@@</span>
		</div>
	</div>
	</div>
	<div class="hide js-detail-view">
	@@detailView@@
	</div>
</div>