<div class="row collapse activity-content-individual-wrapper">
	<div class="left card-activity-content">
		<span class="assignment-title-container">
			<span class="ie8text card-activity-header" title="@@activityOwner@@">@@activityOwner@@</span>
			<span class="show-for-small activity-type-mobile joined-mobile">@@activityType@@</span>
		</span>
		<div class="row collapse card-activity-user ie8text">
			<img src="/auth/member/image/@@activityOwnerAuthID@@" alt="@@activityOwner@@" class="member-image">
			<span class="activity-detail hide-for-small" title="@@activityType@@&nbsp;@@activityTime@@">@@activityType@@&nbsp;@@activityTime@@</span>
			<span class="show-for-small activity-detail-small text-center">@@activityTimeSmall@@</span>
		</div>
	</div>
</div>