<div id="@@groupID@@" class="left dashboard-widget" data-type="@@groupType@@" data-role="@@groupRole@@" data-enable-qa="@@enableqa@@">
	<div class="widget-group-activity-header js-group-header">
		<div class="groups-sub-title">@@groupType@@</div>
		<span class="pointer js-groups-timeline"><img class="group-image" alt="Group Image" src="@@imageSrc@@"/></span>
		<span class="pointer widget-groups-title js-groups-timeline js-group-name" title="@@groupName@@">@@groupName@@</span>
	</div>
	<div class="widget-group-activity-body">
		<span class="latest-activity-patch">Latest Activity</span>
		<div class="activity-contect-wrapper">@@activityStamp@@</div>
	</div>
	<div class="widget-group-activity-footer">
		<div class="left group-owner">
			<span title="@@ownerName@@"><i class="icon-you @@youIcon@@"></i> @@ownerName@@</span>
		</div>
		<div class="pointer right members-counts-wrapper paragraph js-group-members">
			<i class="icon-user"></i>
			<span class="members-count">@@totalMembers@@</span>
		</div>
	</div>
	<div class="@@newAssignment@@">
		<i class="icon-grps_assgnmts"></i>
		<span>New Assignment</span>
	</div>
</div>