<div>
	<div id="group-settings-container">
		<div class="row collapse ie8text hide-for-small js-only-leader">
			<div class="large-12 columns">
				<div class="individual-section-title">
                                        <span class="section-title-header js-for-study">Registration Instructions</span>
					<span class="section-title-header js-for-class">About</span>
				</div>
                                <!-- begin group info -->
                                <div class="settings-group-info-section js-for-class">
                                  <div class="large-12 columns group-info-row">
                                    <p class="large-2 columns px10-vertical-center group-settings-info-row"><span class="js-group-member-count"></span> members</p>
                                    <p class="small-4 columns end px10-vertical-center"><a class="js-view-members-link"> View&nbsp; </a><span class="settings-grey-divider hide-for-medium-down">|</span> <span class="settings-members-section hide-for-medium-down">&nbsp; <a id="add-students-link" data-reveal-id="rosterModal" class="dxtrack-user-action" data-dx-desc="roster_settings_add_students_button">Add Students</a></span></p>
                                  </div>
                                  <div class="columns large-12 group-code-row">
                                    <p class="large-2 columns px10-vertical-center"> Group Code</p>
                                    <p class="large-2 columns"><input type="text" class="ck12link-input js-join-group-code text-center" readonly/></p>
                                    <p class="large-3 columns end px10-vertical-center group-settings-copy-link"><a class="js-copy-link" data-clipboard-target=".js-join-group-code">Copy</a></p>
                                  </div>
                                  <div class="large-12 columns group-link-row">
                                    <p class="large-2 columns px10-vertical-center"> Group Link</p>
                                    <p class="large-6 columns"><input type="text" class="ck12link-input js-join-group-link text-center" readonly/></p>
                                    <p class="large-3 columns end px10-vertical-center group-settings-copy-link"><a class="js-copy-link" data-clipboard-target=".js-join-group-link">Copy</a></p>
                                  </div>
                                </div>
                                <!-- end group info -->
				<div class="section-container auto js-for-study" data-section="" data-options="deep_linking: true; one_up: false">
					<section class="activity-wrapper-theme active" style="padding-top: 46px;">
						<p style="left: 0px;" class="title menu-tab" data-section-title="">
							<a class="menu-links">Instructions</a>
						</p>
						<div class="content" data-slug="panel1" data-section-content="">
							<div class="row collapse ie8text">
								<div class="large-12 columns">
									<p class="group-activity-content">Share these registration Instructions:</p>
								</div>
							</div>
							<div class="row collapse ie8text">
								<div class="large-8 columns">
									<div class="settings instructions-container">
										<div class="instructions-text-value js-email-instr-wrapper">
											<span class="instructions">Hi there:</span><br><br>
											<span class="instructions group-type">I’d like you to join my CK-12 </span><br>
											<span class="group-name instructions js-group-name"></span><br><br>
											<span class="instructions js-for-class">Joining my class allows me to share content with you and keep track of how well you do on your CK-12 practice assignments.</span>
											<span class="instructions js-for-study">Study groups allow you to share and receive resources from the CK-12 site with others in the group.</span><br><br>
											<span class="instructions">To join:</span><br>
											<span class="instructions js-instructions-goToUrl"></span><br>
											<span class="instructions">2. Click Join to create an account, or Sign In.</span><br>
											<span class="instructions">3. Click Groups.</span><br>
											<span class="instructions">4. Click Join a Group. (If you are a teacher, Click on the Plus Sign and choose 'Join a Group')</span><br>
											<span class="instructions js-instructions-group-code">5. Enter code: </span><br>
											<span class="instructions link_class">You can also join the class by using this link:</span><br>
											<span class="instructions link_studygroup">You can also join the study group by using this link:</span><br>
											<span class="instructions js-instructions-group-link"></span>
										</div>
										<textarea contenteditable="true" class="instructions-textarea round hide js-instructions-edit">Hello there: I’d like you to join my CK-12 group:</textarea>
									</div>                                    
								</div>
								<div class="large-4 columns activity-button-containe text-center">
									<a class="button standard tangerine js-email-instructions">Email Instructions</a>
								</div>
								<div class="large-12 columns">
									<p class="user-shorcut-wrapper">Use <span class="short-key">Control + C </span>(Windows) or <span class="short-key">Command + C </span>(Mac) to copy these instructions.</p>
								</div>
							</div>
						</div>
					</section>
					<section class="group activity-wrapper-theme">
						<p class="title menu-tab" data-section-title="" style="left: 160px;"><a class="menu-links">Group Link</a></p>
						<div class="content group-link-container" data-slug="panel2" data-section-content="">
							<div class="row collapse ie8text">
								<div class="large-12 columns">
									<p class="group-activity-content">Share this link with people who <span class="existing-account">already</span> have a CK-12 account.</p>
										<input class="ck12link-input js-join-group-link" type="text" readonly/>                                    
								</div>
								<div class="large-12 columns">
									<p class="user-shorcut-wrapper">Use <span class="short-key">Control + C </span>(Windows) or <span class="short-key">Command + C </span>(Mac) to copy this link.</p>
								</div>
							</div>
						</div>
					</section>
					<section class="code activity-wrapper-theme">
						<p class="title menu-tab" data-section-title="" style="left: 320px;">
							<a class="menu-links">Code</a>
						</p>
						<div class="content group-link-container" data-slug="panel3" data-section-content="">
							<p class="group-activity-content">Share this code to invite new members who don't have a link.</p>
							<div class="row collapse ie8text">
								<div class="large-2 columns">
									<input type="text" class="ck12link-input js-join-group-code" readonly/>
								</div>
								<div class="large-12 columns">
									<p class="user-shorcut-wrapper">Use <span class="short-key">Control + C </span>(Windows) or <span class="short-key">Command + C </span>(Mac) to copy this code.</p>
								</div>
							</div>
						</div>
					</section>
				</div>
			</div>
		</div>
		<div class="settings-wrapper hide-for-small">
			<div class="settings-header">Email Notifications</div>
			<div class="row collapse groups-select-wrapper">
				<div class="row collapse">
					<div class="row collapse">
						<div class="left groups-switch-large">
							<div class="onoffswitch cyan">
								<input type="checkbox" checked="checked" id="share-big" name="resourceShared" class="onoffswitch-checkbox js-notify-big">
								<label class="onoffswitch-label" for="share-big">
									<div class="onoffswitch-inner"></div>
									<div class="onoffswitch-switch"></div>
								</label>
							</div>
						</div>
						<div class="left notification-text js-only-leader">Shared resources, new members</div>
						<div class="left notification-text js-only-member js-for-study">Shared resources</div>
						<div class="left notification-text js-only-member js-for-class">Assignments, shared resources</div>
						<div class="right groups-notification-edit js-share-on js-share-on-big medium-12 large-5 column">
							<span class="js-share-big-label">Instant notifications</span>
							<i class="icon-edit pointer js-notifications-edit" name="share-open" title="Edit resource and member notifications."></i>
						</div>
						<div class="right groups-notification-edit groups-notification-close hide js-share-on js-share-on-big">
							<a class="pointer link-green js-notification-close" name="share-close">Close</a>
						</div>
						<div class="right groups-notification-edit hide js-share-off js-share-off-big">
							<a class="pointer link-green js-on-notification" data-target="resourceShared">Turn on notifications</a>
						</div>
					</div>
					<div class="row collapse groups-notification-expand hide">
						<div class="left groups-notification-expand-label">
							<span>Send emails:</span>
						</div>
						<div class="left group-notification-expand-instant">
							<div class="custom-box">
								<input type="radio" id="share-instant-big-common" class="js-share-instant" name="share-big" data-text="Instant notifications" checked="checked" data-target="share-dropdown-big-common">
								<label class="radio" for="share-instant-big-common"><span></span> instantly</label>
							</div>
						</div>
						<div class="group-notification-expand-weekly">
							<div class="custom-box">
								<input type="radio" id="share-weekly-big-common" class="js-share-weekly" name="share-big" data-text="Weekly digest" data-target="share-dropdown-big-common">
								<label class="radio" for="share-weekly-big-common"><span></span> weekly in a digest</label>
							</div>
						</div>
						<div class="left group-notification-expand-digest">
							<div class="custom-box">
								<input type="radio" id="share-digest-big-common" class="js-share-digest js-has-dropdown" name="share-big" data-text="in a digest every " data-target="share-dropdown-big-common">
								<label class="radio" for="share-digest-big-common"><span></span> in a digest every</label>
							</div>
						</div>
						<div class="group-notification-expand-dropdown">
							<div data-dropdown="share-dropdown-big-common" class="button small split simple js-dropdown"><a class="dropdown-label js-close-drop-down">6 hours</a><span class="js-close-drop-down"></span></div>
							<ul id="share-dropdown-big-common" class="f-dropdown tangerine-list simple js-share-dropdown" data-dropdown-content="" style="position: absolute; top: 31px; left: -99999px;">
								<li id="share-6hours-big-common" class="active js-frequency-dropdown js-share-6hours"><a>6 hours</a></li>
								<li id="share-12hours-big-common" class="js-frequency-dropdown js-share-12hours"><a>12 hours</a></li>
								<li id="share-daily-big-common" class="js-frequency-dropdown js-share-daily"><a>24 hours</a></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="row collapse">
					<div class="row collapse">
						<div class="left groups-switch-large">
							<div class="onoffswitch cyan">
								<input type="checkbox" checked="checked" id="peerhelp-big" name="peerHelp" class="onoffswitch-checkbox js-notify-big">
								<label class="onoffswitch-label" for="peerhelp-big">
									<div class="onoffswitch-inner"></div>
									<div class="onoffswitch-switch"></div>
								</label>
							</div>
						</div>
						<div class="left notification-text">Receive email notifications for Q&A</div>
						<div class="right groups-notification-edit js-peerhelp-on js-peerhelp-on-big medium-12 large-6 column">
							<span><span class="js-peerhelp-big-label">Instant notifications</span><span> on </span><span id="peerHelp-type-big-label">all group posts</span></span>
							<i class="icon-edit pointer js-notifications-edit" name="peerhelp-open" title="Edit notifications for Q&A."></i>
						</div>
						<div class="right groups-notification-edit groups-notification-close js-peerhelp-on js-peerhelp-on-big hide">
							<a class="pointer link-green js-notification-close" name="peerhelp-close">Close</a>
						</div>
						<div class="right groups-notification-edit hide js-peerhelp-off js-peerhelp-off-big">
							<a class="pointer link-green js-on-notification" data-target="peerHelp">Turn on notifications</a>
						</div>
					</div>
					<div class="row collapse groups-notification-expand hide">
						<div class="left group-notification-type-wrapper">
							<div class="left groups-notification-type-label">
								<span>Email me about:</span>
							</div>
							<div class="left group-notification-type-all">
								<div class="custom-box">
									<input type="radio" id="peerHelp-all-big-common" class="js-type-radio js-peerHelp-all" name="peerHelp-type-big" data-text="all group posts" checked="checked">
									<label class="radio" for="peerHelp-all-big-common"><span></span> all posts from the group</label>
								</div>
							</div>
							<div class="left group-notification-type-my">
								<div class="custom-box">
									<input type="radio" id="peerHelp-my-big-common" class="js-type-radio js-peerHelp-my" name="peerHelp-type-big" data-text="your posts">
									<label class="radio" for="peerHelp-my-big-common"><span></span> just my posts</label>
								</div>
							</div>
						</div>
						<div class="left groups-notification-expand-label">
							<span>Send emails:</span>
						</div>
						<div class="left group-notification-expand-instant">
							<div class="custom-box">
								<input type="radio" id="peerhelp-instant-big-common" class="js-peerhelp-instant" name="peerhelp-big" data-text="Instant notifications" checked="checked" data-target="peerhelp-dropdown-big-common">
								<label class="radio" for="peerhelp-instant-big-common"><span></span> instantly</label>
							</div>
						</div>
						<div class="group-notification-expand-weekly">
							<div class="custom-box">
								<input type="radio" id="peerhelp-weekly-big-common" class="js-peerhelp-weekly" name="peerhelp-big" data-text="Weekly digest" data-target="peerhelp-dropdown-big-common">
								<label class="radio" for="peerhelp-weekly-big-common"><span></span> weekly in a digest</label>
							</div>
						</div>
						<div class="left group-notification-expand-digest">
							<div class="custom-box">
								<input type="radio" id="peerhelp-digest-big-common" class="js-peerhelp-digest js-has-dropdown" name="peerhelp-big" data-text="in a digest every " data-target="peerhelp-dropdown-big-common">
								<label class="radio" for="peerhelp-digest-big-common"><span></span> in a digest every</label>
							</div>
						</div>
						<div class="group-notification-expand-dropdown">
							<div data-dropdown="peerhelp-dropdown-big-common" class="button small split simple js-dropdown"><a class="dropdown-label js-close-drop-down">6 hours</a><span class="js-close-drop-down"></span></div>
							<ul id="peerhelp-dropdown-big-common" class="f-dropdown tangerine-list simple" data-dropdown-content="" style="position: absolute; top: 31px; left: -99999px;">
								<li id="peerhelp-6hours-big-common" class="active js-frequency-dropdown js-peerhelp-6hours"><a>6 hours</a></li>
								<li id="peerhelp-12hours-big-common" class="js-frequency-dropdown js-peerhelp-12hours"><a>12 hours</a></li>
								<li id="peerhelp-daily-big-common" class="js-frequency-dropdown js-peerhelp-daily"><a>24 hours</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="settings-header js-only-leader">Q&A Settings</div>
			<div class="row collapse qa-settings-wrapper js-only-leader">
				<div class="row collapse qa-settings-options">
					<div class="row collapse">
						<div class="left groups-switch-large">
							<div class="onoffswitch cyan">
								<input type="checkbox" checked="checked" id="anonymous-big" name="allowAnonymous" class="onoffswitch-checkbox js-notify-qa-big">
								<label class="onoffswitch-label" for="anonymous-big">
									<div class="onoffswitch-inner"></div>
									<div class="onoffswitch-switch"></div>
								</label>
							</div>
						</div>
						<div class="left notification-text">Anonymous Post</div>
						<div class="icon-Info js-settings-info-icon anonymous-info-icon left relative">
							<div class="tooltip-left anonymous-info qa-settings-info">Anonymous Post allows student to ask questions, which otherwise they would hesitate to ask in a group.</div>
						</div>
					</div>
					<div class="row collapse">
						<div class="left groups-switch-large">
							<div class="onoffswitch cyan">
								<input type="checkbox" checked="checked" id="discussion-big" name="enableQA" class="onoffswitch-checkbox js-notify-qa-big">
								<label class="onoffswitch-label" for="discussion-big">
									<div class="onoffswitch-inner"></div>
									<div class="onoffswitch-switch"></div>
								</label>
							</div>
						</div>
						<div class="left notification-text">Enable Q&A</div>
						<div class="icon-Info js-settings-info-icon qa-info-icon left relative">
							<div class="tooltip-left qa-info qa-settings-info">Q&A encourages student to ask and answer question.</div>
						</div>
					</div>
				</div>
			</div>
			<div class="settings-header group-delete-header js-only-leader js-for-study">Delete Group</div>
			<div class="settings-header group-delete-header js-only-leader js-for-class">Delete Class</div>
			<div class="settings-content js-only-leader js-for-study">Members will no longer be able to share resources with others through this group.</div>
			<div class="settings-content js-only-leader js-for-class">Deleting a class will mean that all assignments will be lost. You will no longer have access to reports on the progress of students who were in this class. The students will be able to see their results, but not collected as assignments.</div>
			<div class="setting-button-wrapper js-only-leader">
				<a data-reveal-id="deleteGroupModal" class="button standard tangerine delete js-for-study"><span class="delete-mark">+</span>Delete Group</a>
				<a data-reveal-id="deleteGroupModal" class="button standard tangerine delete js-for-class"><span class="delete-mark">+</span>Delete Class</a>
			</div>
		</div>
		
		<div class="row collapse show-for-small mobile-settings-wrapper">
			<div class="row collapse mobile-settings">
				<div class="row collapse leader-settings left">
					<div id="registration-instr" class="row collapse settings-header settings-nav">
						<span>Registration Instructions</span>
						<i class="icon-arrow3_right"></i>
					</div>
					<div id="email-noti" class="row collapse settings-header settings-nav">
						<span>Email Notifications</span>
						<i class="icon-arrow3_right"></i>
					</div>
					<div id="qa-settings" class="row collapse settings-header settings-nav">
						<span>Q&A Settings</span>
						<i class="icon-arrow3_right"></i>
					</div>
					<div id="delete-gr" class="row collapse settings-header settings-nav">
						<span>Delete Group</span>
						<i class="icon-arrow3_right"></i>
					</div>
				</div>
				<div class="row collapse leader-settings left">
					<div class="row collapse levels registration-instr-wrapper hide">
						<div id="group-email-instr" class="row collapse registration-instruction-header email-Instruction-nav settings-nav">
							<span>Email Instructions</span>
							<i class="icon-arrow3_right"></i>
						</div>
						<div id="group-li" class="row collapse registration-instruction-header group-link-nav settings-nav">
							<span>Group Link</span>
							<i class="icon-arrow3_right"></i>
						</div>
						<div id="group-co" class="row collapse registration-instruction-header group-code-nav settings-nav">
							<span>Group Code</span>
							<i class="icon-arrow3_right"></i>
						</div>
					</div>
					<div class="row collapse levels email-noti-wrapper hide">
						<div class="row collapse notification-header">EMAIL NOTIFICATIONS</div>
						<div class="row collapse groups-select-wrapper">
							<div class="row collapse">
								<div class="row collapse">
									<div class="row collapse">
										<div class="right groups-switch-small">
											<div class="onoffswitch cyan">
												<input type="checkbox" checked="checked" id="share-small-leader" name="resourceShared" class="onoffswitch-checkbox js-notify-small">
												<label class="onoffswitch-label" for="share-small-leader">
													<div class="onoffswitch-inner"></div>
													<div class="onoffswitch-switch"></div>
												</label>
											</div>
										</div>
										<div class="left notification-text">Shared resources, new members</div>
									</div>
									<div class="left pointer link-green groups-notification-edit-small js-share-on js-share-on-small js-notifications-edit-small" name="share-open">
										<span class="js-share-small-leader-label">Instant notifications</span>
										<i class="icon-edit"></i>
									</div>
									<div class="left pointer link-green groups-notification-on-share-small hide js-share-off js-share-off-small">
										<a class="pointer link-green js-on-notification" data-target="resourceShared">Turn on notifications</a>
									</div>
								</div>
								<div class="row collapse groups-notification-expand hide">
									<div class="left groups-notification-expand-label">
										<span>Send emails:</span>
									</div>
									<div class="left group-notification-expand-instant">
										<div class="custom-box">
											<input type="radio" id="share-instant-small-leader" class="js-share-instant" name="share-small-leader" data-text="Instant notifications" checked="checked" data-target="share-dropdown-small-leader">
											<label class="radio" for="share-instant-small-leader"><span></span> instantly</label>
										</div>
									</div>
									<div class="group-notification-expand-weekly">
										<div class="custom-box">
											<input type="radio" id="share-weekly-small-leader" class="js-share-weekly" name="share-small-leader" data-text="Weekly digest" data-target="share-dropdown-small-leader">
											<label class="radio" for="share-weekly-small-leader"><span></span> weekly in a digest</label>
										</div>
									</div>
									<div class="left group-notification-expand-digest">
										<div class="custom-box">
											<input type="radio" id="share-digest-small-leader" class="js-share-digest js-has-dropdown" name="share-small-leader" data-text="in a digest every " data-target="share-dropdown-small-leader">
											<label class="radio" for="share-digest-small-leader"><span></span> in a digest every</label>
										</div>
									</div>
									<div class="group-notification-expand-dropdown">
										<div data-dropdown="share-dropdown-small-leader" class="button small split simple js-dropdown"><a class="dropdown-label js-close-drop-down">6 hours</a><span class="js-close-drop-down"></span></div>
										<ul id="share-dropdown-small-leader" class="f-dropdown tangerine-list simple js-share-dropdown" data-dropdown-content="" style="position: absolute; top: 31px; left: -99999px;">
											<li id="share-6hours-small-leader" class="active js-frequency-dropdown js-share-6hours"><a>6 hours</a></li>
											<li id="share-12hours-small-leader" class="js-frequency-dropdown js-share-12hours"><a>12 hours</a></li>
											<li id="share-daily-small-leader" class="js-frequency-dropdown js-share-daily"><a>24 hours</a></li>
										</ul>
									</div>
									<div class="left text-center link-green groups-notification-close">
										<a class="pointer link-green js-notification-close-small" name="share-close">Close</a>
									</div>
								</div>
							</div>
							<div class="row collapse">
								<div class="row collapse">
									<div class="row collapse">
										<div class="right groups-switch-small">
											<div class="onoffswitch cyan">
												<input type="checkbox" checked="checked" id="peerhelp-small-leader" name="peerHelp" class="onoffswitch-checkbox js-notify-small">
												<label class="onoffswitch-label" for="peerhelp-small-leader">
													<div class="onoffswitch-inner"></div>
													<div class="onoffswitch-switch"></div>
												</label>
											</div>
										</div>
										<div class="left notification-text notification-label-peerhelp">Receive email notifications for Q&A</div>
									</div>
									<div class="left pointer link-green groups-notification-edit-small js-peerhelp-on js-peerhelp-on-small js-notifications-edit-small" name="peerhelp-open">
										<span><span class="js-peerhelp-small-leader-label">Instant notifications</span><span> on </span><span id="peerHelp-type-small-leader-label">all group posts</span></span>
										<i class="icon-edit"></i>
									</div>
									<div class="left pointer link-green groups-notification-on-peerhelp-small hide js-peerhelp-off js-peerhelp-off-small">
										<a class="pointer link-green js-on-notification" data-target="peerHelp">Turn on notifications</a>
									</div>
								</div>
								<div class="row collapse groups-notification-expand groups-notification-expand-peerhelp hide">
									<div class="left group-notification-type-wrapper">
										<div class="left groups-notification-type-label">
											<span>Email me about:</span>
										</div>
										<div class="left group-notification-type-all">
											<div class="custom-box">
												<input type="radio" id="peerHelp-all-small-leader" class="js-type-radio js-peerHelp-all" name="peerHelp-type-small-leader" data-text="all group posts" checked="checked">
												<label class="radio" for="peerHelp-all-small-leader"><span></span> all posts from the group</label>
											</div>
										</div>
										<div class="left group-notification-type-my">
											<div class="custom-box">
												<input type="radio" id="peerHelp-my-small-leader" class="js-type-radio js-peerHelp-my" name="peerHelp-type-small-leader" data-text="your posts">
												<label class="radio" for="peerHelp-my-small-leader"><span></span> just my posts</label>
											</div>
										</div>
									</div>
									<div class="left groups-notification-expand-label">
										<span>Send emails:</span>
									</div>
									<div class="left group-notification-expand-instant">
										<div class="custom-box">
											<input type="radio" id="peerhelp-instant-small-leader" class="js-peerhelp-instant" name="peerhelp-small-leader" data-text="Instant notifications" checked="checked" data-target="peerhelp-dropdown-small-leader">
											<label class="radio" for="peerhelp-instant-small-leader"><span></span> instantly</label>
										</div>
									</div>
									<div class="group-notification-expand-weekly">
										<div class="custom-box">
											<input type="radio" id="peerhelp-weekly-small-leader" class="js-peerhelp-weekly" name="peerhelp-small-leader" data-text="Weekly digest" data-target="peerhelp-dropdown-small-leader">
											<label class="radio" for="peerhelp-weekly-small-leader"><span></span> weekly in a digest</label>
										</div>
									</div>
									<div class="left group-notification-expand-digest">
										<div class="custom-box">
											<input type="radio" id="peerhelp-digest-small-leader" class="js-peerhelp-digest js-has-dropdown" name="peerhelp-small-leader" data-text="in a digest every " data-target="peerhelp-dropdown-small-leader">
											<label class="radio" for="peerhelp-digest-small-leader"><span></span> in a digest every</label>
										</div>
									</div>
									<div class="group-notification-expand-dropdown">
										<div data-dropdown="peerhelp-dropdown-small-leader" class="button small split simple js-dropdown"><a class="dropdown-label js-close-drop-down">6 hours</a><span class="js-close-drop-down"></span></div>
										<ul id="peerhelp-dropdown-small-leader" class="f-dropdown tangerine-list simple" data-dropdown-content="" style="position: absolute; top: 31px; left: -99999px;">
											<li id="peerhelp-6hours-small-leader" class="active js-frequency-dropdown js-peerhelp-6hours"><a>6 hours</a></li>
											<li id="peerhelp-12hours-small-leader" class="js-frequency-dropdown js-peerhelp-12hours"><a>12 hours</a></li>
											<li id="peerhelp-daily-small-leader" class="js-frequency-dropdown js-peerhelp-daily"><a>24 hours</a></li>
										</ul>
									</div>
									<div class="left text-center link-green groups-notification-close">
										<a class="pointer link-green js-notification-close-small" name="peerhelp-close">Close</a>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="row collapse levels qa-settings-wrapper js-only-leader">
						<div class="row collapse qa-settings-header">Q&A SETTINGS</div>
						<div class="row collapse groups-select-wrapper qa-settings-options">
							<div class="row collapse">
								<div class="right groups-switch-small">
									<div class="onoffswitch cyan">
										<input type="checkbox" checked="checked" id="anonymous-small" name="allowAnonymous" class="onoffswitch-checkbox js-notify-qa-big">
										<label class="onoffswitch-label" for="anonymous-small">
											<div class="onoffswitch-inner"></div>
											<div class="onoffswitch-switch"></div>
										</label>
									</div>
								</div>
								<div class="left anonymous-text">Anonymous Post</div>
							</div>
							<div class="row collapse">
								<div class="right groups-switch-small">
									<div class="onoffswitch cyan">
										<input type="checkbox" checked="checked" id="discussion-small" name="enableQA" class="onoffswitch-checkbox js-notify-qa-big">
										<label class="onoffswitch-label" for="discussion-small">
											<div class="onoffswitch-inner"></div>
											<div class="onoffswitch-switch"></div>
										</label>
									</div>
								</div>
								<div class="left qa-settings-text">Enable Q&A</div>
							</div>
						</div>
					</div>
					<div class="row collapse levels delete-gr-wrapper hide text-center">
						<div class="row collapse">Are you sure you want to delete this group:</div>
						<div class="row collapse">
							<b class="js-group-name"></b>
						</div>
						<div class="row collapse">This cannot be undone.</div>
						<div class="row collapse text-center">
							<a class="button standard turquoise js-delete-group">Delete Group</a>
						</div>
					</div>
				</div>
				<div class="row collapse leader-settings left">
					<div class="row collapse instructions-text-value levels hide group-email-instr-wrapper">
						<div class="row collapse settings-sub-header">Share these registration instructions:</div>
						<div class="row collapse email-instr-container js-email-instr-wrapper">
							<br>
							<span class="instructions">Hi there:</span><br><br>
							<span class="instructions group-type">I’d like you to join my CK-12 </span><br>
							<span class="group-name instructions js-group-name"></span><br><br>
							<span class="instructions js-for-class">Joining my class allows me to share content with you and keep track of how well you do on your CK-12 practice assignments.</span>
							<span class="instructions js-for-study">Study groups allow you to share and receive resources from the CK-12 site with others in the group.</span><br><br>
							<span class="instructions">To join:</span><br>
							<span class="instructions">1. Go to www.ck12.org</span><br>
							<span class="instructions">2. Click Join to create an account, or Sign In.</span><br>
							<span class="instructions">3. Click Groups.</span><br>
							<span class="instructions">4. Click Join a Group. (If you are a teacher, Click on the Plus Sign and choose 'Join a Group')</span><br>
							<span class="instructions js-instructions-group-code">5. Enter code: </span><br>
							<span class="instructions link_class">You can also join the class by using this link:</span><br>
							<span class="instructions link_studygroup">You can also join the study group by using this link:</span><br>
							<span class="instructions js-instructions-group-link"></span>
						</div>
						<textarea contenteditable="true" class="instructions-textarea round hide js-instructions-edit">Hello there: I’d like you to join my CK-12 group:</textarea>
						<div class="row collapse text-center">
							<a class="button standard tangerine js-email-instructions">Email Instructions</a>
						</div>
					</div>
					<div class="row collapse levels group-li-wrapper hide">
						<div class="row collapse settings-sub-header">Share this link with people who <span class="existing-account">already</span> have a CK-12 account.</div>
						<div class="row collapse">
							<textarea readonly class="ck12link-input js-join-group-link text-center"></textarea>
						</div>
					</div>
					<div class="row collapse levels group-co-wrapper hide">
						<div class="row collapse settings-sub-header">Share this code to invite new members who don't have a link.</div>
						<div class="row collapse">
							<textarea readonly class="ck12link-input js-join-group-code text-center"></textarea>
						</div>
					</div>
				</div>
			</div>
			<div class="row collapse levels email-noti-wrapper hide">
				<div class="row collapse notification-header">EMAIL NOTIFICATIONS</div>
				<div class="groups-select-wrapper row collapse">
					<div class="row collapse">
						<div class="row collapse">
							<div class="row collapse">
								<div class="right groups-switch-small">
									<div class="onoffswitch cyan">
										<input type="checkbox" checked="checked" id="share-small-member" name="resourceShared" class="onoffswitch-checkbox js-notify-small">
										<label class="onoffswitch-label" for="share-small-member">
											<div class="onoffswitch-inner"></div>
											<div class="onoffswitch-switch"></div>
										</label>
									</div>
								</div>
								<div class="left notification-text js-for-study">Shared resources</div>
								<div class="left notification-text js-for-class">Assignments, shared resources</div>
							</div>
							<div class="left pointer link-green groups-notification-edit-small js-share-on js-share-on-small js-notifications-edit-small" name="share-open">
								<span class="js-share-small-member-label">Instant notifications</span>
								<i class="icon-edit"></i>
							</div>
							<div class="left pointer link-green groups-notification-on-share-small hide js-share-off js-share-off-small">
								<a class="pointer link-green js-on-notification" data-target="resourceShared">Turn on notifications</a>
							</div>
						</div>
						<div class="row collapse groups-notification-expand hide">
							<div class="left groups-notification-expand-label">
								<span>Send emails:</span>
							</div>
							<div class="left group-notification-expand-instant">
								<div class="custom-box">
									<input type="radio" id="share-instant-small-member" class="js-share-instant" name="share-small-member" data-text="Instant notifications" checked="checked" data-target="share-dropdown-small-member">
									<label class="radio" for="share-instant-small-member"><span></span> instantly</label>
								</div>
							</div>
							<div class="group-notification-expand-weekly">
								<div class="custom-box">
									<input type="radio" id="share-weekly-small-member" class="js-share-weekly" name="share-small-member" data-text="Weekly digest" data-target="share-dropdown-small-member">
									<label class="radio" for="share-weekly-small-member"><span></span> weekly in a digest</label>
								</div>
							</div>
							<div class="left group-notification-expand-digest">
								<div class="custom-box">
									<input type="radio" id="share-digest-small-member" class="js-share-digest js-has-dropdown" name="share-small-member" data-text="in a digest every " data-target="share-dropdown-small-member">
									<label class="radio" for="share-digest-small-member"><span></span> in a digest every</label>
								</div>
							</div>
							<div class="group-notification-expand-dropdown">
								<div data-dropdown="share-dropdown-small-member" class="button small split simple js-dropdown"><a class="dropdown-label js-close-drop-down">6 hours</a><span class="js-close-drop-down"></span></div>
								<ul id="share-dropdown-small-member" class="f-dropdown tangerine-list simple js-share-dropdown" data-dropdown-content="" style="position: absolute; top: 31px; left: -99999px;">
									<li id="share-6hours-small-member" class="active js-frequency-dropdown js-share-6hours"><a>6 hours</a></li>
									<li id="share-12hours-small-member" class="js-frequency-dropdown js-share-12hours"><a>12 hours</a></li>
									<li id="share-daily-small-member" class="js-frequency-dropdown js-share-daily"><a>24 hours</a></li>
								</ul>
							</div>
							<div class="left text-center link-green groups-notification-close">
								<a class="pointer link-green js-notification-close-small" name="share-close">Close</a>
							</div>
						</div>
					</div>
					<div class="row collapse">
						<div class="row collapse">
							<div class="row collapse">
								<div class="right groups-switch-small">
									<div class="onoffswitch cyan">
										<input type="checkbox" checked="checked" id="peerhelp-small-member" name="peerHelp" class="onoffswitch-checkbox js-notify-small">
										<label class="onoffswitch-label" for="peerhelp-small-member">
											<div class="onoffswitch-inner"></div>
											<div class="onoffswitch-switch"></div>
										</label>
									</div>
								</div>
								<div class="left notification-text notification-label-peerhelp">Receive email notifications for Q&A</div>
							</div>
							<div class="left pointer link-green groups-notification-edit-small js-peerhelp-on js-peerhelp-on-small js-notifications-edit-small" name="peerhelp-open">
								<span><span class="js-peerhelp-small-member-label">Instant notifications</span><span> on </span><span id="peerHelp-type-small-member-label">all group posts</span></span>
								<i class="icon-edit"></i>
							</div>
							<div class="left pointer link-green groups-notification-on-peerhelp-small hide js-peerhelp-off js-peerhelp-off-small">
								<a class="pointer link-green js-on-notification" data-target="peerHelp">Turn on notifications</a>
							</div>
						</div>
						<div class="row collapse groups-notification-expand groups-notification-expand-peerhelp hide">
							<div class="left group-notification-type-wrapper">
								<div class="left groups-notification-type-label">
									<span>Email me about:</span>
								</div>
								<div class="left group-notification-type-all">
									<div class="custom-box">
										<input type="radio" id="peerHelp-all-small-member" class="js-type-radio js-peerHelp-all" name="peerHelp-type-small-member" data-text="all group posts" checked="checked">
										<label class="radio" for="peerHelp-all-small-member"><span></span> all posts from the group</label>
									</div>
								</div>
								<div class="left group-notification-type-my">
									<div class="custom-box">
										<input type="radio" id="peerHelp-my-small-member" class="js-type-radio js-peerHelp-my" name="peerHelp-type-small-member" data-text="your posts">
										<label class="radio" for="peerHelp-my-small-member"><span></span> just my posts</label>
									</div>
								</div>
							</div>
							<div class="left groups-notification-expand-label">
								<span>Send emails:</span>
							</div>
							<div class="left group-notification-expand-instant">
								<div class="custom-box">
									<input type="radio" id="peerhelp-instant-small-member" class="js-peerhelp-instant" name="peerhelp-small-member" data-text="Instant notifications" checked="checked" data-target="peerhelp-dropdown-small-member">
									<label class="radio" for="peerhelp-instant-small-member"><span></span> instantly</label>
								</div>
							</div>
							<div class="group-notification-expand-weekly">
								<div class="custom-box">
									<input type="radio" id="peerhelp-weekly-small-member" class="js-peerhelp-weekly" name="peerhelp-small-member" data-text="Weekly digest" data-target="peerhelp-dropdown-small-member">
									<label class="radio" for="peerhelp-weekly-small-member"><span></span> weekly in a digest</label>
								</div>
							</div>
							<div class="left group-notification-expand-digest">
								<div class="custom-box">
									<input type="radio" id="peerhelp-digest-small-member" class="js-peerhelp-digest js-has-dropdown" name="peerhelp-small-member" data-text="in a digest every " data-target="peerhelp-dropdown-small-member">
									<label class="radio" for="peerhelp-digest-small-member"><span></span> in a digest every</label>
								</div>
							</div>
							<div class="group-notification-expand-dropdown">
								<div data-dropdown="peerhelp-dropdown-small-member" class="button small split simple js-dropdown"><a class="dropdown-label js-close-drop-down">6 hours</a><span class="js-close-drop-down"></span></div>
								<ul id="peerhelp-dropdown-small-member" class="f-dropdown tangerine-list simple js-peerhelp-dropdown" data-dropdown-content="" style="position: absolute; top: 31px; left: -99999px;">
									<li id="peerhelp-6hours-small-member" class="active js-frequency-dropdown js-peerhelp-6hours"><a>6 hours</a></li>
									<li id="peerhelp-12hours-small-member" class="js-frequency-dropdown js-peerhelp-12hours"><a>12 hours</a></li>
									<li id="peerhelp-daily-small-member" class="js-frequency-dropdown js-peerhelp-daily"><a>24 hours</a></li>
								</ul>
							</div>
							<div class="left text-center link-green groups-notification-close">
								<a class="pointer link-green js-notification-close-small" name="peerhelp-close">Close</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div id="deleteGroupModal" class="reveal-modal app-reveal-modal modal-uikit group-member-modals" style="display: none; opacity: 1; visibility: hidden;">
		<a class="close-reveal-modal close">+</a>
		<div class="row collapse ie8text">
			<div class="large-12 columns">
				<div class="delete-group modal-contents ie8text">
					<span>Are you sure you want to delete this group:</span><br><br>
					<b class="js-group-name"></b><br><br>
					<span>This can’t be undone.</span>
				</div>
				<div class="delete-group button-wrapper ie8text">
					<a class="button standard tangerine js-delete-group">Delete</a>
					<a class="button standard dusty-grey" id="cancel-modal">Cancel</a> 
				</div>
			</div>
		</div>
	</div>
	<div id="qa-turnoff-alert" class="reveal-modal modal-uikit app-reveal-modal qa-turn-off-modal" data-options="closeOnBackgroundClick:false">
		<div class="bold turnoff-header">Disable Q&A</div>
		<div>
			Q&A encourages student to ask questions. If you see any misuse in student's posts,
			you can always disable Q&A later.
		</div>
		<div class="bold turnoff-prompt">
			Do you still want to turn off Q&A?
		</div>
		<div class="text-center">
			<div id="turn-off-qa" class="turquoise medium button confirm-trunoff">Turn Off</div>
			<div class="dusty-grey medium button close-qa-reveal cancel-turnoff">Cancel</div>
		</div>
	</div>
</div>
