<div class="activity-content-individual-wrapper">
	<div class="activity-icon-wrapper">
		<span class="activity-content-title-icon">
			<i class="icon-user_join app-icons ie8icon"></i>
		</span>
	</div>
    <div class="panel row collapse join-panel">
        <div class="small-2 large-2 columns activity-topic">
            <div class="user-profile-photo">
                <img src="/auth/member/image/@@activityOwnerAuthID@@" alt="@@activityOwner@@">
            </div>
        </div>
        <span class="activity-type-mobile show-for-small joined">@@activityType@@&nbsp;@@activityTimeBig@@</span>
        <div class="small-12 large-10 columns activity-content">
            <h3 class="ie8text">@@activityOwner@@</h3>
			<span class="ie8text hide-small activity-description">@@activityType@@&nbsp;@@activityTimeBig@@</span>
        </div>
    </div>
</div>
