<div id="groups-unverified" class="groups-unverfied-head">
	<div class="small-12 large-8 columns small-centered large-centered">
		<div class="row collapse groups-unverified-container">
			<div class="row collapse groups-unverified-top-container">
				<div class="row collapse">
					<div class="left lock-container">
						<i class="icon-lock"></i>
					</div>
					<div class="right lock-text">
						<b>Verify your email address</b>
						<span class="js-teacher-text hide"> so you can create a class and assign practice.</span>
						<span class="js-student-text hide"> so you can create a study group with your friends.</span>
					</div>
				</div>
				<div class="row collapse resend-email-container">
					<i class="icon-email pointer hide-small js-resend-email"></i>
					<a class="text js-resend-email">Resend verification email to @@user_email@@</a>
					<b class="text hide-important">Sent</b>
					
				</div>
			</div>
			<div class="row collapse groups-unverified-bottom-container">
				<div class="groups-unverified-join-heading">Want to join a group?</div>
				<div class="groups-unverified-join-sub">Enter the group code that was given to you by the group leader.</div>
				<div class="groups-unverified-join-container">
					<img src="../../media/groups/assets/images/groups-unverified-join.png" alt="join group for unverified user" class="left hide-small groups-unverified-join-image">
					<div class="left groups-unverified-join-wrapper">
						<div class="groups-unverified-join-text">Group Code</div>
						<div class="unverified-join-error-msg-wrapper">
	               			 <span class="hide js-join-group-error js-group-join-empty-error">Please enter the Group code.</span>
	               			 <span class="hide js-join-group-error js-group-join-wrong-error">That code doesn’t belong to any group.</span>
	               			 <span class="hide js-join-group-error js-group-join-member-error">You are already a member of this group.</span>
	           			 </div>
						<div class="input large groups-unverified-join-code">
							<input type="text" maxlength="5" class="js-join-group-code">
						</div>
						<a class="button standard turquoise js-join-group">Join Group</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>