<div class="row collapse hide-for-small ie8text group-assignments-zero-member">
	<div id="group-assignment-zero-container" class="small-12 large-12 columns group-assignment-zero-container">
		<div class="row collapse">
			<p>Looks like you haven't been assigned any concepts yet. Try studying on your own to get ahead!</p>
		</div>
 		<div class="row collapse">
   			<div class="small-12 large-12 columns subject-space">
   				<div class="row collapse subject-header">
   					<p>Math</p>
   				</div>
   				<div id="branches-mat" class="row collapse branches-mat"></div>
   			</div>
   		</div>
   		<div class="row collapse">
   			<div class="small-12 large-12 columns subject-space">
   				<div class="row collapse subject-header">
   					<p>Science</p>
   				</div>
   				<div id="branches-sci" class="row collapse branches-sci"></div>
   			</div>
   		</div>
   		<div class="row collapse">
   			<div class="small-12 large-12 columns">
   				<div class="row collapse subject-header">
   					<p>English</p>
   				</div>
   				<div id="branches-ela" class="row collapse branches-ela"></div>
   			</div>
   		</div>
	</div>
</div>
<section class="row collapse show-for-small group-assignment-zero-container group-assignment-zero-container-mobile" id="resources">
	<div class="row collapse group-assignment-zero-mobile-msg text-center">
		<div class="row collapse blur">Looks like you haven't been assigned any concepts yet.</div>
		<div class="row collapse shine">Try studying on your own to get ahead!</div>
	</div>
	<div data-options="deep_linking: true; one_up: false" data-section="tabs" class="section-container tabs">
		<section class="active" style="padding-top: 36px;">
			<span data-section-title="" class="title text-center subject-name-wrapper" style="left: 0px;">
				<a class="subject-name">Math</a>
			</span>
			<div data-section-content="" class="content browse-content branches-mat"></div>
		</section>
		<section>
			<span data-section-title="" class="title text-center subject-name-wrapper" style="left: 50%;">
				<a class="subject-name">Science</a>
			</span>
			<div data-section-content="" class="content browse-content branches-sci"></div>
		</section>
		<section>
			<span data-section-title="" class="title text-center subject-name-wrapper" style="left: 50%;">
				<a class="subject-name">English</a>
			</span>
			<div data-section-content="" class="content browse-content branches-ela"></div>
		</section>
	</div>
</section>
