<li>
	<div class="display-indicator-container pointer">
    	<span class="option-button"></span>
    </div>
    <div class="concept-descriptions concept link-green" title="@@conceptName@@" data-contextName="@@contextName@@"  data-mtype="@@mtype@@" data-branchHandle="@@branchHandle@@" data-contextUrl="@@data-contextUrl@@" data-encodedid="@@encodedid@@" data-handle="@@handle@@" data-login="@@login@@" data-collection-handle="@@collectionHandle@@" data-concept-collection-absolute-handle="@@conceptCollectionAbsoluteHandle@@" data-concept-collection-handle="@@conceptCollectionHandle@@" data-collection-creator-ID="@@collectionCreatorID@@"> <i class="modality-icon icon-@@icon-name@@"></i> @@conceptName@@</div>
</li>
