<div class="row collapse ie8text group-assignment-zero-state-leader">
	<div class="large-12 columns">
       	<div  class="row collapse group-assignment-zero-state-wrapper">
			<div class="small-12 large-12 columns">
       			<p>Let's create an assignment for your class. Here's how:</p>
			</div>
       	</div>
       	<div class="row collapse group-assignment-zero-state-statements-wrapper">
       		<div class="small-4 large-3 columns">
       			<img alt="browse concepts" src="/media/groups/assets/images/browse-concepts.png">
       		</div>
       		<div class="small-7 large-9 columns left group-assignment-zero-state-statements">
       			<div class="row collapse">
       				<span>Find and select concepts you'd like to add. Practice is available for many concepts.</span>
       			</div>
       		</div>
       	</div>
		<div class="row collapse group-assignment-zero-state-statements-wrapper">
       		<div class="small-4 large-3 columns">
       			<img alt="create assignments" src="/media/groups/assets/images/create-assignment.png">
       		</div>
       		<div class="small-7 large-9 columns left group-assignment-zero-state-statements">
       			<div class="row collapse">
       				<span>Name the assignment.<br>You can even tell students when it's due.</span>
       			</div>
       		</div>
       	</div>
       	<div class="row collapse group-assignment-zero-state-statements-wrapper">
       		<div class="small-4 large-3 columns">
       			<img alt="students' reports" src="/media/groups/assets/images/student-report.png">
       		</div>
       		<div class="small-7 large-9 columns left group-assignment-zero-state-statements">
       			<div class="row collapse">
       				<span>Assign it to your class.<br>They'll see the assignment on their Dashboards immediately.<br>You can track class progress and practice scores in Reports.</span>
       			</div>
       		</div>
       	</div>
       	<div class="row collapse create-assignment hide-for-small">
       		<div class="small-12 large-4 columns">
      			<a id="create-assignment" class="button standard turquoise">Create Assignments</a>
       		</div>
		</div>
	</div>
</div>