<div class="small-@@small@@ large-@@large@@ columns left subject-wrapper hide-for-small">
	<div class="row collapse pointer subject-title-wrapper js-node-wrapper">
		<!-- <span class="new-label @@hidden@@"></span> -->
		<div class="small-3 large-3 columns subject-icon">
			<span class="@@icon@@"></span>
		</div>
		<div class="small-9 large-9 columns subject-title">
			<a data-encodedId="@@encodedID@@" class="link-green js-node-name" data-collection="@@title@@">@@title@@</a>
		</div>
	</div>
</div>

<a class="subject-link js-node-wrapper show-for-small">
	<span>
		<span class="subject-icon">
			<span class="@@icon@@"></span>
		</span>
		<span class="browse-title js-node-name">@@title@@</span>
	</span>
</a>