<!DOCTYPE HTML>
<html>
<head>
    <title>Display Concepts</title>
    <style type="text/css">
    .main {
        width: 65%;
        margin-top:30px;
        margin-left:150px;
        border: 2px solid;
        background-color: #D0E5E9;
    }
    .header {
        margin-top: 30px;
        width:100%;
        background-color: #f5f5f5;
        color: #1f1f1f;
        font-size: 25px;
        padding: 10px 0px;
        font-weight:bold;
    }
    .header span {
    padding-left: 10px;
    }
    .cur_location_main {
        margin-top: 30px;
        margin-left: 30px;
    }
    .title {
        font-weight:bold;
        font-size: 18px;
    }
    .states_main {
        margin-top:30px;
        margin-left: 35px;
    }
    .states_left {
        float:left;
        width:20%;
        rgb(148, 152, 153)
        padding: 5px;
        margin-top:30px;
    }
    .states_right {
        float:left;
        width:80%;
    }
    .states_right ul {
        margin-top:0px;
    }
    .hr1 {
        height: 12px;
        border: 0;
        box-shadow: inset 0 12px 12px -12px rgba(0,0,0,0.5);
    }
    table{
        border: 1px solid;
	border-collapse: collapse;

    }
    table td, table th {
	    border: 1px solid black;
    }    
    </style>
</head>
<body>
	<div class="main">
		<div class="header"><span>Top Concepts</span></div>
		<div>
			<form name="Test Data" method="POST" action="/dexter/search/topconceptsform">
				<input type="text" placeholder="country(optional)" {% if result['country'] != '' %} value = "{{result['country']}}" %} {% endif %} name = "country">
				<input type="text" placeholder="region(optional)" {% if result['region'] != '' %} value = "{{result['region']}}" %} {% endif %} name = "region">
				<input type="submit" name="submit" value="OK" />
			</form>
		</div>
		<div class="cur_location_main">
		{% if result['response'] %}
			<span>{{"Concepts For "}}{{result['message']}} <br/>{% if result['country'] != '' %}<b>{{result['country']}}</b>{% endif %}
			{% if result['region'] != '' %} {{" and region "}} <b>{{ result['region'] }}</b> {% endif %}</span>
			<table>
				<tr>
					<th>Concept</th>
					<th>Count</th>
				</tr>
				{% for item in result['response'] %}
					<tr>
						<td>
							<a target="_blank" href="{{result['web_root']}}/search/?q={{(item['_id']['encodedID']).replace(" ", "+")}}">{{item['_id']['encodedID']}}</a>
						</td>
						<td>
							{{item['total']}} 
						</td>
					</tr>
				{% endfor %}
			</table>
			{% else %}
				<span>{{"No Concepts found..."}}
			{% endif %}
		</div>
		<div style="clear:both"></div>
	</div>
</body>
</html>
