<!-- New Dashboard Slider (Last Slider) to show circular carousel effect -->
<li class="slider js-slider slider-dashboard left">
    <div class="slider-content-wrapper">
        <div class="slider-image-wrapper">
            <img src="<%= data.url_media %>/carousel/images/teacher/slide5/Carousel__Slide_5_Dashboard_Graphic_v1a.png">
        </div>
        <div class="slider-content slider-content-right text-left">
            <div>
                <img src="<%= data.url_media %>/carousel/images/navigation/new_grey.png">
            </div>
            <div class="dashboard-top-header content-top-header">
                <div>The New Teacher Dashboard</div>
                <div>Has Arrived!</div>
            </div>
            <div class="dashboard-text slider-text">
                <div>Manage your groups and browse relevant</div>
                <div>content all in one place.</div>
            </div>
            <div class="carousel-button-wrapper">
                <a href="/my/dashboard-new/?referrer=teacher_landing" class="dxtrack-user-action button standard tangerine" data-dx-desc="carousel_nav_newdashboard" data-dx-referrer="teacher_landing" data-dx-domEvent="click">Check It Out!</a>
            </div>
        </div>
    </div>
</li>

<!-- Concept Map Slider (First Slider) -->
<li class="slider js-slider active slider-conceptmap left">
    <div class="slider-content-wrapper">
        <div class="slider-image-wrapper">
            <img src="<%= data.url_media %>/carousel/images/teacher/slide1/Slide1_Graphic_Concept_Map.png">
        </div>
        <div class="slider-content slider-content-right text-left">
            <div class="conceptmap-top-header content-top-header">
                <div>Are your students struggling to learn </div>
                <div class="bold">Radioactive Half-life?</div>
            </div>
            <div class="conceptmap-top-header content-top-header">
                <div>The real issue might be their understanding of</div>
                <div class="bold">Exponential Decay.</div>
            </div>
            <div class="conceptmap-text slider-text">
                <div>Find the deeper reasons why students may</div>
                <div>be having trouble learning.</div>
            </div>
            <div class="carousel-button-wrapper">
                <a href="/conceptmap/?eid=SCI.CHE.613&referrer=teacher_landing" class="dxtrack-user-action button standard tangerine" data-dx-desc="carousel_nav_conceptmap" data-dx-referrer="teacher_landing" data-dx-domEvent="click">Explore Concept Map</a>
            </div>
        </div>
    </div>
</li>

<!-- Roster Slider (Second Slider) -->
<li class="slider js-slider slider-roster left">
    <div class="slider-content-wrapper">
        <div class="slider-content slider-content-left text-left">
            <div>
                <img src="<%= data.url_media %>/carousel/images/navigation/new_teal.png">
            </div>
            <div class="roaster-text content-top-header bold">
                Add Students to Your Roster
            </div>
            <div class="roaster-text slider-text slider-header2">
                <div>After creating a group, add or invite students to</div>
                <div>assign homework and track progress.</div>
            </div>
            <ul class="roaster-text slider-text">
                <li>Invite students by email</li>
                <li>Add students without email</li>
                <li>Add existing student accounts</li>
            </ul>
        </div>
        <div class="slider-content">
            <img src="<%= data.url_media %>/carousel/images/teacher/slide2/Slide_2_Graphic_Roster.png">
        </div>
    </div>
</li>

<!-- Claim Schools Slider (Third Slider) -->
<li class="slider js-slider slider-claimschool left">
    <div class="slider-content-wrapper">
        <div class="slider-image-wrapper">
            <img src="<%= data.url_media %>/carousel/images/teacher/slide3/school.png">
        </div>
        <div class="slider-content slider-content-right text-left">
            <div>
                <img src="<%= data.url_media %>/carousel/images/navigation/new_teal.png">
            </div>
            <div class="claimschool-text content-top-header bold">
                See Who's Using CK-12!
            </div>
            <div class="claimschool-text slider-text slider-header2">
                <div>Find schools and districts near you</div>
                <div>that are using CK-12.</div>
            </div>
            <ul class="claimschool-text slider-text">
                <li>Claim your school</li>
                <li>See FlexBooks® from other schools</li>
            </ul>
            <div class="carousel-button-wrapper">
                <a href="/schools/?referrer=teacher_landing" class="dxtrack-user-action button standard tangerine" data-dx-desc="carousel_nav_claimschool" data-dx-referrer="teacher_landing" data-dx-domEvent="click">Check It Out!</a>
            </div>
        </div>
    </div>
</li>

<!-- Assign Content Slider (Fourth Slider) -->
<li class="slider js-slider slider-assign left">
    <div class="slider-content-wrapper">
        <div class="slider-content slider-content-left text-left">
            <div>
                <img src="<%= data.url_media %>/carousel/images/navigation/new_grey.png">
            </div>
            <div class="assign-text content-top-header bold">
                Assign Any Content
            </div>
            <div class="assign-text slider-text slider-header2">
                <div>You can now assign any content</div>
                <div>directly to a class straight from</div>
                <div>the content itself.</div>
            </div>
        </div>
        <div class="slider-content">
            <img src="<%= data.url_media %>/carousel/images/teacher/slide4/Slide_4_Mock_Assign_Modality.png">
        </div>
    </div>
</li>

<!-- New Dashboard Slider (Fifth Slider) -->
<li class="slider js-slider slider-dashboard left">
    <div class="slider-content-wrapper">
        <div class="slider-image-wrapper">
            <img src="<%= data.url_media %>/carousel/images/teacher/slide5/Carousel__Slide_5_Dashboard_Graphic_v1a.png">
        </div>
        <div class="slider-content slider-content-right text-left">
            <div>
                <img src="<%= data.url_media %>/carousel/images/navigation/new_grey.png">
            </div>
            <div class="dashboard-top-header content-top-header">
                <div>The New Teacher Dashboard</div>
                <div>Has Arrived!</div>
            </div>
            <div class="dashboard-text slider-text">
                <div>Manage your groups and browse relevant</div>
                <div>content all in one place.</div>
            </div>
            <div class="carousel-button-wrapper">
                <a href="/my/dashboard-new/?referrer=teacher_landing" class="dxtrack-user-action button standard tangerine" data-dx-desc="carousel_nav_newdashboard" data-dx-referrer="teacher_landing" data-dx-domEvent="click">Check It Out!</a>
            </div>
        </div>
    </div>
</li>

<!--Concept Map Slider (First Slider) to show circular carousel effect -->
<li class="slider js-slider active slider-conceptmap left">
    <div class="slider-content-wrapper">
        <div class="slider-image-wrapper">
            <img src="<%= data.url_media %>/carousel/images/teacher/slide1/Slide1_Graphic_Concept_Map.png">
        </div>
        <div class="slider-content slider-content-right text-left">
            <div class="conceptmap-top-header content-top-header">
                <div>Are your students struggling to learn </div>
                <div class="bold">Radioactive Half-life?</div>
            </div>
            <div class="conceptmap-top-header content-top-header">
                <div>The real issue might be their understanding of</div>
                <div class="bold">Exponential Decay.</div>
            </div>
            <div class="conceptmap-text slider-text">
                <div>Find the deeper reasons why students may</div>
                <div>be having trouble learning.</div>
            </div>
            <div class="carousel-button-wrapper">
                <a href="/conceptmap/?eid=SCI.CHE.613&referrer=teacher_landing" class="dxtrack-user-action button standard tangerine" data-dx-desc="carousel_nav_conceptmap" data-dx-referrer="teacher_landing" data-dx-domEvent="click">Explore Concept Map</a>
            </div>
        </div>
    </div>
</li>
