<div class="dxtrack-user-action nav js-nav conceptmap-nav active" data-dx-desc="carousel_nav_conceptmap" data-dx-referrer="teacher_landing" data-dx-domEvent="click">
    <img class="active-circle" src="<%= data.url_media %>/carousel/images/teacher/navigation/circle_active_concept_map.png">
    <img class="inactive-circle" src="<%= data.url_media %>/carousel/images/teacher/navigation/circle_inactive_concept_map.png">
</div>
<div class="dxtrack-user-action nav js-nav roaster-nav" data-dx-desc="carousel_nav_roaster" data-dx-referrer="teacher_landing" data-dx-domEvent="click">
    <img class="active-circle" src="<%= data.url_media %>/carousel/images/teacher/navigation/circle_active_roster.png">
    <img class="inactive-circle" src="<%= data.url_media %>/carousel/images/teacher/navigation/circle_inactive_roster.png">
</div>
<div class="dxtrack-user-action nav js-nav claimschool-nav" data-dx-desc="carousel_nav_claimschool" data-dx-referrer="teacher_landing" data-dx-domEvent="click">
    <img class="active-circle" src="<%= data.url_media %>/carousel/images/teacher/navigation/circle_active_claim_school.png">
    <img class="inactive-circle" src="<%= data.url_media %>/carousel/images/teacher/navigation/circle_inactive_claim_school.png">
</div>
<div class="dxtrack-user-action nav js-nav assign-nav" data-dx-desc="carousel_nav_assign" data-dx-referrer="teacher_landing" data-dx-domEvent="click">
    <img class="active-circle" src="<%= data.url_media %>/carousel/images/teacher/navigation/circle_active_assign_modality.png">
    <img class="inactive-circle" src="<%= data.url_media %>/carousel/images/teacher/navigation/circle_inactive_assign_modality.png">
</div>
<div class="dxtrack-user-action nav js-nav dashboard-nav" data-dx-desc="carousel_nav_newdashboard" data-dx-referrer="teacher_landing" data-dx-domEvent="click">
    <img class="active-circle" src="<%= data.url_media %>/carousel/images/teacher/navigation/Carousel__Slide_5_Dashboard_Nav_Active_v1a.png">
    <img class="inactive-circle" src="<%= data.url_media %>/carousel/images/teacher/navigation/Carousel__Slide_5_Dashboard_Nav_Inactive_v1a.png">
</div>