@import '../../../main';

:local {
    .sectionError {
        position: relative;

        input + label {
            border: 1px solid $error-color;
        }

        label > input {
            border: 1px solid $error-color !important;
        }
    }
}

