<div class='olympics-overlay hide-for-medium-down'>
    <div class="overlay-background"></div>
    <div class="overlay-content row">
        <div class="circles column large-7">
            <div class="circle circle-1">
                <img src="/media/common/images/olympics.png" />
            </div>
        </div>
        <div class="overlay-message column large-5">
            <div class='msg-main'>The 2016 Rio Olympics Are Here!</div>
            <div class='msg-subtext'>Learn the math and science behind the Olympic sports.</div>
            <a href="https://www.ck12info.org/about/olympics/" class="button tangerine large">Explore Now &nbsp; ></a>
        </div>

    </div>
    <div class='overlay-close'>X</div>
</div>
