
<section id="walkthrough-cont" class="row text-center walkthrough-page">
 <div class="left-arrow hide dxtrack-user-action" data-dx-desc="walkthrough left slide 1">
 	<i class="icon-arrow_left"></i>
 </div>
  <div class="large-centered columns large-9">
    <div class="modal close-walkthrough" title="Close"></div>
	  <div class="walkthrough-header">
	    <h3> Heads Up! </h3>
	    <p class="heading-flow"> We've made changes to CK-12 Practice.</p>
	  </div>
	  <div class="walkthrough-image" id="imgNavigation">
	  		<div class="imgCarousal">
	  		</div>
	  		<div id="imgNavigationDots" class="img-navigation">
				
			</div>
	  </div>
	  <div class="btn-cnt">
	  	<div id="startPractice" class="button tangerine large start dxtrack-user-action"  data-dx-walkthrough_slide="1" data-dx-desc="walkthrough startPractice button clicked" ><i class="icon-running"></i>Start practicing</div>
	  </div>
	</div>
<div class="right-arrow dxtrack-user-action" data-dx-desc="walkthrough right slide  1">
	<i class="icon-arrow_right"></i>
</div>
<div id = "imgCont" class="hide">
		<div class="embed-img " data-position="@@dataposition@@" data-index=@@dataindex@@ id=@@id@@>
			<img width="730" height="730" alt="CK-12 " class="img-walkthrough">
			<div class="desc-text">
				<p class="yellow-text">@@heading@@</p>
				<p class="white-text">@@description@@</p>
			</div>
	  	</div>
</div>
<div id="dotsCont" class="hide">
	<span class="dots  @@dataposition@@ dxtrack-user-action" data-dx-desc="walkthrough carousel clicked" data-dx-walkthrough_slide="@@index@@" data-position="@@dataposition@@" data-index=@@dataindex@@>&nbsp;</span>
</div>
</section>
 
