{% extends "listings.html" %}  

{% block filters %} 
  <div class="col tiny">
    {{ h.labelselect('Page Size', 'type_filter', c.form.pagesize_sel, 'filter')}}
  </div>
{% endblock %}

{% block searches %}
    <div class="col topalign">
        {{ h.labelinput('Sim ID', 'simID', 'med searchby')}}
        <img id="admin_search_icon" src="{{h.url_images('icon_magnifier2.png')}}"/>
    </div>
    <div class="col topalign">
        {{ h.labelinput('Encoded ID', 'eids', 'med searchby')}}
        <img id="admin_search_icon" src="{{h.url_images('icon_magnifier2.png')}}"/>
    </div>
{% endblock %}

{% block aftersearches %} 
  {{ super() }}
  <div style="display:block">
    <input id='disableListOnEmptySearch' type='checkbox' checked='true'>
    <label>Disable Listing on Empty Searches</label>
  </div>
{% endblock %}

{% block js_scripts %}
{{ super() }}
<script type='text/javascript'>
  Listings({
    sort: 'updated,desc',
    ajaxRoot: CK12.admUrl('rwes_list'),
    formAjax: CK12.admUrl('rwe/'),
    viewmode: '{{c.viewmode}}',
    //searchFilters: ['creatorID', 'groupID'],
  });
</script>
{% endblock %}
