{% extends "master.html" %}  
{% from "macros/form_errors.html" import form_errors with context %}  

{% block admincontent %} 
<div class="sectionhead sectiontitle">{{c.pagetitle}}</div>
<div class="section withfloatedsubmit">
  <form method="post" enctype="multipart/form-data">
    <div class="leftaligned">
      {{ h.htmlfile(c.input_id, 'xmed')}}
    </div>
    {{ h.submitbutton('Upload', 'short')}}
  </form>
</div>

{% if c.task_name %}
<span class='ajaxError'></span>
<div class="prethead"><span id='no' class='hide'>No </span>Recent {{c.upload_name}} Uploads</div>
  <div class="thead sectionhead">
    <div class="tr">
      <div class="td">Id</div>
      <div class="td">Name</div>
      <div class="td">Status</div>
      <div class="td">Started</div>
      <div class="td">Updated</div>
      <div class="td">Result</div>
      <div class="td">User Data</div>
    </div>
  </div>
  <div class="tbody" id='results'></div>
</div>
{% endif %}
{% endblock admincontent %}

{% block js_scripts %}
<script type="text/javascript">
{{ form_errors('after') }}
$(document).ready(function(){
  var 
  updateInterval = Defaults.interval.med, 
  pageSize = 3,
  task_name = '{{c.task_name}}', // this is empty if API doesn't produce task for it 
  tasksUrl = CK12.flxUrl('get/info/tasks?filters=name,'+task_name+'&pageSize='+pageSize+'&sort=updated,desc'),
  taskUrlRoot = CK12.flxUrl('get/status/task/'),
  $thead = $('.thead'),
  $results = $('#results'),
  tasks = [],

  formatTask = function(task){ 
    return '<div class="tr">\
      <div class="td id">'+task.id+'</div>\
      <div class="td">'+CK12.admHtmla('/task/'+task.id, task.name)+'</div>\
      <div class="td status">'+task.status+'</div>\
      <div class="td">'+task.started+'</div>\
      <div class="td">'+task.updated+'</div>\
      <div class="td">'+task.result+'</div>\
      <div class="td">'+task.userdata+'</div>\
    </div>';
  };

  // update recent uploads on page load
  if (task_name){  // only if API produces task for it
    $.ajax({url: tasksUrl,
      success: function(data) {
        tasks = data.response? data.response.tasks : [];

        var result_html = '';
        $(tasks).each(function(i, task){
          result_html += formatTask(task);
        });
        if (result_html){
          $thead.removeClass('hide');
          $results.html(result_html);
          Fns.colorStatus();
        }
        $('#no').toggleClass('hide', result_html!='');
      }
    });
  }

  // update statuses if still in progress
  Fns.pollStatus = function(){
    $('.status').each(function (i, elm){
      var 
        $elm = $(elm),
        status = $elm.text().trim();
      if (Fns.inProgress(status)){
        var id = $elm.siblings('.id').text();
        if (id){
          $.ajax({url: taskUrlRoot+id,
            success: function(data) {
              var 
                task = data.response,
                $row = $elm.parent();
              $row.replaceWith(formatTask(task));
              Fns.colorStatus();
            }
          });
        }
      }
    });
  };
  if (task_name)
    Poll = setInterval("Fns.pollStatus()", updateInterval); 
});
</script>
{% endblock %}
