<div class="concept_container">
    <div class="breadcrumb_container"></div>
    <div class="modality_title">
        <h2></h2>
        <div class="artifact_description hide"></div>
    </div>
	<div class="filters_container">
	    <div class="scroll-left"></div>
		<ul id="modality_filters_list" class="filters_list">
			<li class="mdoalityfilterdropmenuwrap hide">
				<a class="lnk_modality_filter">
						<i class="icon-arrow3_right"></i>
						<span class="group_label">
							<span>More</span>
        					<br class="show-small"/>
        					<span>(</span><span id="more-concept-count"></span><span>)</span>
       					</span>
       				</a>
				<ul id="modality_extra_filter_list" class="drop-menu hide"></ul>
		    </li>
		</ul>
		<div class="scroll-right"></div>
	</div>
	<div class="modalities_container">
	    <div id="modalities_error" class="column large-6 small-12 large-centered alert_big error hide"> </div>
		<ul class="modality_list"></ul>
	</div>
</div>