<div class="modal-like-content-wrapper">
    <div class="modal-like-content share hide" id="forum-share">
        <div class="after-share">
            <div class="large-8 large-offset-2 columns">
                <div class="share-container">
                    <img src="/media/forums/images/share.png" class="share-image">
                    <h5> You've shared your Discussion!</h5>
                    <a class="button tangerine standard" id="share-ok"> OK</a>
                </div>
            </div>
        </div>
        <div class="before-share">
            <div class="corner-image">
                <img src="/media/forums/images/girl_happy2.png">
            </div>
            <div class="row collapse">
                <div class="large-10 large-offset-1 columns left hide-for-small">
                    <h5>You've created a Discussion! Let's share it!</h5>
                </div>
                <div class="small-12 columns show-for-small">
                    <div class="banner-title center">Let's share it!</div>
                </div>
            </div>
            <div class="row collapse">
                <div class="large-10 large-offset-1 columns">
                    <div class="share-error-message"></div>
                </div>
            </div>
            <div class="row collapse">
                <div class="large-10 large-offset-1 columns left">
                    <label class="show-for-small share-label">Recipient emails</label>
                    <input type="text" class="banner-text hide-for-small" id="recipient-email" placeholder="Recipient emails. Use , to separate mutilple email address">
                    <input type="text" class="banner-text show-for-small" id="mobile-recipient-email" placeholder="Use &quot;,&quot; to separate emails">
                </div>
            </div>
            <div class="row collapse">
                <label class="show-for-small share-label"> Message</label>
                <div class="large-10 large-offset-1 columns left">
                    <div  class="textarea-look" id="forum-message">
                        Hi! I've created a discussion at CK12.org that I'd like you to participate in.
                        <div class="forum-link">
                            It's called <a href=""></a>
                        </div>
                        <div class="forum-link">
                            Follow <a href=""> this link </a> to join the discussion.
                        </div>
                        Enjoy!
                        <div class="creator-name">
                        </div>
                    </div>
                </div>
            </div>
          <!--   <div class="row collapse">
                <div class="large-5 large-offset-1 columns left">
                    <input type="text" class="banner-text" id="owner-name" placeholder="Your Full name">
                </div>
                <div class="large-5 columns left">
                    <input type="text" class="banner-text" id="owner-email" placeholder="Your email address">
                </div>
            </div> -->
            <div class="row collapse">
                <div class="large-12 columns center">
                    <div class="share-button-center">
                        <a class="button standard tangerine dusty-grey cancel-btn" id="share-forum-cancel">No, thanks</a>
                        <div class="spin-container">
                            <div class="spinner"></div>
                        </div>
                        <a class="button standard tangerine" id="share-forum-final">Share</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
