<div class="forums-header">
    <div class="row collapse">
        <div class="large-12 columns">
            <h1 class="page-name left hide-for-small">
                Cafe
                <sup style="
                    font-size: 0.35em;
                    position: relative;
                    top: -15px;
                    left: -5px;
                ">BETA</sup>
            </h1>
            <div class="row collapse">
                <div class="large-10 large-offset-1 columns">
                    <div class="modal-like-container-wrapper">
                        <div class="modal-like-container">
                            <div id="forum-create-container"></div>
                            <div id="forum-share-container"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="forums-name-button">
                <div class="page-name-wrapper">
                    <h1 class="page-name">
                        Cafe
                        <sup style="
                            font-size: 0.35em;
                            position: relative;
                            top: -15px;
                            left: -5px;
                        ">BETA</sup>
                    </h1>
                    <div class="page-name-description">A place where you can ask, help, and share.</div>
                </div>
                <div class="forum-banner-button-container">
                    <div class="guideline-link">
                        CK-12 Cafe Guidelines
                    </div>
                    <div class="button tangerine large tour">Take the tour</div>
                </div>
            </div>
        </div>
    </div>
</div>
