/* CSS placed here will be applied to all skins */

/* CK-12 Rosetta Stone 2.0 Styles */

.x-ck12-underline {
	text-decoration: underline;
}

.x-ck12-strikethrough {
	text-decoration: line-through;
}

.x-ck12-element-box {
	margin:20px 0;
	border: 1px solid #000;
	background:#eee;
	overflow:auto;
}

.x-ck12-element-box-header {
	background: #ccc;
	border-bottom: 1px solid #000;
	padding: 5px;
	font-weight: bold;
}

.x-ck12-element-box-body {
	padding: 10px;
}

/* Text Colors */
.x-ck12-textcolor-aqua {
	color: #0ff;
}

.x-ck12-textcolor-black {
	color: #000;
}

.x-ck12-textcolor-blue {
	color:#00f;
}

.x-ck12-textcolor-fuchsia {
	color: #f0f;
}

.x-ck12-textcolor-gray, .x-ck12-textcolor-grey {
	color: #808080;
}

.x-ck12-textcolor-green {
	color: #008000;
}

.x-ck12-textcolor-lime {
	color: #0f0;
}

.x-ck12-textcolor-maroon {
	color: #800000;
}

.x-ck12-textcolor-navy {
	color: #000080;
}

.x-ck12-textcolor-olive {
	color: #808000;
}

.x-ck12-textcolor-purple {
	color: #800080;
}

.x-ck12-textcolor-red {
	color: #f00;
}

.x-ck12-textcolor-silver {
	color: #C0C0C0;
}

.x-ck12-textcolor-teal {
	color: #008080;
}

.x-ck12-textcolor-white {
	color: #fff;
}

.x-ck12-textcolor-yellow {
	color: #ff0;
}

.x-ck12-textcolor-orange {
	color: #FFA500;
}

.x-ck12-textcolor-darkorange {
	color: #FF8C00;
}

/* Background Colors */
.x-ck12-textbgcolor-aqua {
	background: #0ff;
}

.x-ck12-textbgcolor-black {
	background: #000;
}

.x-ck12-textbgcolor-blue {
	background:#00f;
}

.x-ck12-textbgcolor-fuchsia {
	background: #f0f;
}

.x-ck12-textbgcolor-gray, .x-ck12-textbgcolor-grey {
	background: #808080;
}

.x-ck12-textbgcolor-green {
	background: #008000;
}

.x-ck12-textbgcolor-lime {
	background: #0f0;
}

.x-ck12-textbgcolor-maroon {
	background-color: #800000;
}

.x-ck12-textbgcolor-navy {
	background-color: #000080;
}

.x-ck12-textbgcolor-olive {
	background: #808000;
}

.x-ck12-textbgcolor-purple {
	background: #800080;
}

.x-ck12-textbgcolor-red {
	background: #f00;
}

.x-ck12-textbgcolor-silver {
	background: #C0C0C0;
}

.x-ck12-textbgcolor-teal {
	background: #008080;
}

.x-ck12-textbgcolor-white {
	background: #fff;
}

.x-ck12-textbgcolor-yellow {
	background: #ff0;
}

.x-ck12-textbgcolor-orange {
	background: #FFA500;
}

.x-ck12-textbgcolor-darkorange{
	background: #FF8C00;
}

/* Numbered List Styles */

/* nested ordered lists */
ol ol {
	list-style-type:lower-alpha
}
ol ol ol {
	list-style-type:lower-roman
}

.x-ck12-decimal {
	list-style-type: decimal;
}

.x-ck12-lower-alpha {
	list-style-type: lower-alpha;
}

.x-ck12-upper-alpha {
	list-style-type: upper-alpha;
}

.x-ck12-lower-roman {
	list-style-type: lower-roman;
}

.x-ck12-upper-roman {
	list-style-type: upper-roman;
}

/* Float */
.x-ck12-float {
	float: left;
	margin-right: 20px;
	overflow:auto;
}

.x-ck12-nofloat {
	clear: both;
	overflow:auto;
}

/* Indent box */
.x-ck12-indent {
	padding-left: 40px;
}

/* elastic video */
.x-ck12-mediawrapper {
	width: 640px;
	max-width: 100%;
}
.x-ck12-media {
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 30px;
	height: 0;
	overflow: hidden;	
}

.x-ck12-media iframe,
.x-ck12-media object,
.x-ck12-media embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
/* images */
img.x-ck12-math, img.x-ck12-block-math {
	border:0;
	border:none;
	background:transparent;
	cursor:default;
}
/* tables */
table {
	border-collapse: collapse;
	margin:10px 0;
}

table caption {
	font-weight:bold;
}

table td, table th {
	padding:5px;
}

/* pre */

pre {
	white-space:normal;
	font-family:monospace;
	font-size:13px;
	line-height:15px;
}
