{% extends "common/master.html" %}
{% block title %}{{ _("College Flexbooks") }}{% endblock %}

{% block stylesheets %}
{{ super() }}
<link rel="stylesheet" type="text/css" media="all" href="{{ h.asset_lib('common/css/3d-book.css') }}" />
{% endblock %}

{% block js %}
{{ super() }}
<script>
require(['main'], function(){});
</script>
{% endblock %}

{% block reactConfig %}
<script src="{{ h.asset_js('college-flexbooks/dist/college-flexbooks.js') }}"></script>
<script>
    CollegeFlexbooks.init({'elm': document.getElementById('collegeFlexbooks')});
</script>
{% endblock %}

{% block content %}
{{ super() }}
<div id="collegeFlexbooks" class="college-flexbooks">
    
</div>
{% endblock %}
