<html>
    <head>
        <title>Delete Standard Association</title>
    </head>
    <body>
        <form name="metadata" method="POST" action="{{ c.prefix }}/delete/standard/association">
            <table>
                <tr>
                    <td>
                        Domain ID:
                    </td>
                    <td>
                      <input type="text" name="domainID" value="" />
                    </td>
                  </tr>
                  <tr>
                    <td colspan="2"><strong>OR</strong></td>
                  </tr>
                  <tr>
                    <td>Artifact Revision ID:</td>
                    <td><input type="text" name="artifactRevision" value="" /></td>
                  </tr>
                  <tr>
                    <td>Standard ID:</td>
                    <td><input type="text" name="standard" value="" /></td>
                  </tr>
                <tr>
                    <td colspan="2">
                        <input type="submit" name="submit" value="Delete" />
                    </td>
                </tr>
            </table>
        </form>
    </body>
</html>

