<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
                      "http://www.w3.org/TR/html4/loose.dtd"> 
<html>
    <head>
        <title>Bulk Upload Standards Correlation Data</title>
        <style>
            body { background-color: #fff; color: #333; }
            body, p {
            font-family: verdana, arial, helvetica, sans-serif;
            font-size:   12px;
            line-height: 18px;
            }
            a { color: #000; }
            a:visited { color: #666; }
            a:hover { color: #fff; background-color:#000; }
        </style> 
        <script src="/flx/media/js/gp/fileupload/static/jquery.js" type="text/javascript">
        </script>

        <!--
        <script type="text/javascript">
            //<![CDATA[
            jQuery(document).ready(function() {
                jQuery("form[enctype^='multipart/form-data']").fileUpload();
                jQuery("#sample").fileUpload({action: "{{ c.prefix }}/upload/save"});
            });
            //]]>
        </script> 
        -->
    </head>
    <body>
        <form action="{{ c.prefix }}/load/standardsCorrelation"
              enctype="multipart/form-data"
              method="POST">
              <input type="file" name="file" /> <strong>OR</strong><br/>
              <br/>
            Google Spreadsheet Name: <input type="text" name="googleDocumentName" value="" /><br/>
            Google Worksheet Name: <input type="text" name="googleWorksheetName" value="" /><br/>
            <input type="checkbox" name="reindex" value="true" checked="checked" /> Reindex affected artifacts</br>
            <input type="checkbox" name="waitFor" value="true" /> Wait for task to complete</br>
            <input type="submit" value="Upload" />
        </form>

        <!--
        <h3>Upload</h3>
        <div id="sample"></div>

        <div>&nbsp;</div>
        -->

        <script type="text/javascript"
                src="/flx/media/js/gp/fileupload/static/jquery.fileupload.js">
        </script>
        <script type="text/javascript"
                src="/flx/media/js/gp/fileupload/static/jquery.fileupload.auto.js">
        </script> 
    </body>
</html>
