<div id="createForumModal" class="reveal-modal medium">
    <div class="row collapse" >
        <div class="large-12 columns">
            <h5>Start a Forum</h5>
            <div class="row collapse">
                <div class="large-4 columns">
                    <span class="">Tile: </span>
                    <div>(required)</div>
                </div>
                <div class="large-8 columns">
                    <input type="text" id="forum-name" placeholder="Headline for your discussion" class="username-textbox" maxlengdiv="60">
                </div>
            </div>
            <div class="row collapse">
                <div class="large-4 columns">
                    <span class="left inline user-data">
                        <span>Describe your discussion: </span>
                        <span class="sub-description">(Optional)</span>
                    </span>
                </div>
                <div class="large-8 columns">
                    <textarea id="group-description" placeholder="Guide dive CK-12 community on your discusssion by telling people what your discussion would be about" class="tangerine-textarea"></textarea>
                </div>
            </div>
            <div class="row collapse">
                <div class="large-4 columns">
                </div>
                <div class="large-8 columns">
                    <a>Read Forum Rules</a>
                </div>
            </div>
            <div class="row collapse modal-buttons">
                <div class="large-4 columns">
                </div>
                <div class="large-8 columns">
                    <a class="button standard tangerine dusty-grey" id="create-forum-cancel">Cancel</a>
                    <a class="button standard tangerine" id="create-forum-final">Create Forum</a>
                </div>
            </div>
        </div>
    </div>
</div>