{% if c.eid_item %}
<style>
.exerciseContainer {
   border: 1px solid #DBDBDB;
   display: inline;
   list-style-position: inside;
   margin: 25px 10px;
   width: auto;
}
.background-primary {
   background-color : #eee;
}

.background-secondary {
   background-color : #82cd49;
}
.exercise {
   padding: 5px;
   overflow: hidden;
   text-overflow: ellipsis;
}

.block .label {
   position : absolute;
   left : 0px;
   top : 5px;
   background-color : #82cd49;
   width : 30px;
   cursor : move;
}

.small-block-grid-3 li:first-child + LI + LI + LI {
   clear:none;
}

.block {
   border : 1px solid #d3d3d3;
   margin-right: 2%;
   margin-bottom : 1%;
   position : relative;
   width : 150px;
   height:150px !important;
   display: inline-table;
}

.inputQuestions {
font-size: 26px !important;
width: 60px !important;
}

.block .top {
       height : 15%;
}

.block .content {
       /height : 50%;-/
       text-align : center;
}

.input-container {
       display : inline-block !important;
       vertical-align : middle;
}
.text-large {
       font-size : 3em;
       font-weight : bold;
}
.exercise .name {
   padding: 5px;
       overflow: hidden;
       text-overflow: ellipsis;
}

.block .bottom {
   height: 48%;
   width: auto;
       
       /* flexbox, por favor */
       display: -webkit-box;
       -webkit-box-orient: vertical;
       -webkit-box-pack: center;
       -webkit-box-align: center;
       
       display: -moz-box;
       -moz-box-orient: vertical;
       -moz-box-pack: center;
       -moz-box-align: center;
         
       display: box;
       box-orient: vertical;
       box-pack: center;
       box-align: center;
       
       /* Internet Explorer 10 */
       display:-ms-flexbox;
       -ms-flex-pack:center;
       -ms-flex-align:center;
       -ms-flex-orient: vertical;
}
.hide{
       display:none;
}

</style>

	<div id="exercise-container" style="position:absolute;max-width:600px;">
		<h3 class="heading">Select Exercises</h3>
		<ul class="small-block-grid-3" id="exerciseContainer">
		{% set index = 0%}
		{% for eid_item in c.eid_item %}
			{% set index = index + 1%}
			<li class="block background-primary exercise" data-concept-eid="{{ eid_item['encodedID'] }}">
			<div class="top">
				&nbsp;
				<!-- <span class="left label background-secondary index">{{ index }}</span>
				<span class="right"><i title="Remove" class="icon-remove"></i></span> -->
			</div>
			<div class="content text-center">
				<div class="text-large input-container"><span class="noQuestions">{{ eid_item['count_in_test'] }}</span><input type="text" class="inputQuestions numeric-only hide" value="{{ eid_item['count_in_test'] }}" /></div>
				<span>/</span>
				<span class="totalQuestions">{{ eid_item['total_count'] }}</span>
			</div>
			<div class="bottom text-center name">
				<span>{{ eid_item['conceptName'] }} </span>
			</div>
			</li>
		{% endfor %}
		</ul>
		<div class="floatright">
		<input type = "button" id = 'updateTest' class='short btn primaryaction' value = "Update Test" />
		</div>
	</div>
	
	
<script type='text/javascript'>
$(document).ready(function(){
	$(".inputQuestions").off("blur").on("blur", function(e){
		var noOfQuestions = parseInt($(this).val(),10),
			totalQuestions = parseInt($(this).parent().siblings().filter(".totalQuestions").text(), 10);
	
		if(noOfQuestions > totalQuestions){
			$(this).val(totalQuestions);
			alert("You cannot add questions more than total questions in the exercise");
			$(this).focus();
			e.preventDefault();
			return false;
		}else if(isNaN(noOfQuestions) || noOfQuestions < 1){
			$(this).val(totalQuestions);
			alert("Atleast one question needs to be added");
			$(this).focus();
			e.preventDefault();
			return false;
		}
	
		$(this).siblings().filter(".noQuestions").removeClass("hide").html(noOfQuestions);
		$(this).addClass("hide");
	});

	$(".noQuestions").off("click").on("click", function(){
		$(this).addClass("hide");
		$(this).siblings().filter(".inputQuestions").removeClass("hide").focus();
	});
	
	
	$("#updateTest").off("click").on("click", function(){
		var objectIDsString = '';
		$.each($('#exerciseContainer').find("li.exercise"), function (index, item) {
			objectIDsString += objectIDsString ? ';' : 'EID:';
			objectIDsString += $(item).attr("data-concept-eid");
			objectIDsString += ":" + $(item).find('.noQuestions').text();
		});

		$.ajax({url: CK12.admroot + 'assessment/questions/published/{{ c.test._id }}', 
			type: 'POST', 
			data:{items : objectIDsString},
			success: function(data, status, xhr){
				try{
					data = $.parseJSON(data);
				}catch (e){
				}
				if (data && data.status == 'error'){
					var message = '';
					if(data.api_status_code){
						message += data.api_status_code;
					}
					if (data.response){
						message += ' - ' + data.response;
					}else{
						message += 'Unknow Reason'
					}
					alert('API Error: ' + message);
				}else{
					alert("Test Updated Successfully");
					window.location.replace(CK12.admUrl('assessment/test/{{ c.test._id }}'));
				}
			},
			error: function(xhr, textStatus, errorThrown){
				alert('API Error: '+ Fns.formatResponseError(
					xhr, textStatus, errorThrown));
			}
		});
	});
	
	$(document).bind('cbox_complete', function(){ 
		var content_width = parseInt($("#exercise-container").css('width').replace('px',''));
		var content_height = parseInt($("#exercise-container").css('height').replace('px',''));
		if (content_height > 500){
			content_height = 500;
		}
		parent.$.colorbox.resize({width: content_width + 50, height:content_height + 100});
	});

});

</script>
{% endif %}
