<div class="carousel-wrapper hide">
    <div class="relative">
        <div class="carousel-viewport">
            <ul class="carousel-slider js-carousel-slider">

            </ul>
        </div>
        <div class="carousel-direction-wrapper row collapse hide-for-medium-down">
            <div class="dxtrack-user-action carousel-direction js-carousel-direction active js-carousel-left" data-dx-desc="carousel_nav_previous" data-dx-referrer="<%= data.pageType %>" data-dx-domEvent="click">
                <img src="<%= data.url_media %>/carousel/images/navigation/nav_arrow_left.png">
            </div>
            <div class="dxtrack-user-action carousel-direction js-carousel-direction active js-carousel-right right" data-dx-desc="carousel_nav_next" data-dx-referrer="<%= data.pageType %>" data-dx-domEvent="click">
                <img src="<%= data.url_media %>/carousel/images/navigation/nav_arrow_right.png">
            </div>
        </div>
    </div>
    <div class="carousel-nav js-carousel-nav text-center"></div>
</div>
<div class="carousel-toggle-btn-container close dxtrack-user-action hide" data-dx-desc="collapse_hp_carousel">
    <img src="/media/carousel/images/sparkle_icon.png"/>
    <span class="clapase-text">Collapse</span>
    <i class="icon-arrow3-up"></i>
</div>
<div class="carousel-toggle-btn-container open dxtrack-user-action" data-dx-desc="expand_hp_carousel">
    <img src="/media/carousel/images/sparkle_icon.png"/>
    <a href="https://www.ck12info.org/about/back-to-school/" class="clapase-text">See What's New!</a>
    <!-- <i class="icon-arrow3-down"></i> -->
</div>
