<div id="js_draft_walkthrough_dialog" class="draft_walkthrough_dialog">
	<div class="row collaspe">
		<div class="columns large-4">
			<div class="auto-save-image">
			</div>
			<div class="auto-save-text walkthrough-info">Auto Save will now kick in and save your work constantly.</div>
		</div>
		<div class="columns large-4">
			<div class="pencil-image">
			</div>
			<div class="pencil-text walkthrough-info">Not finished with your section? It's ok, we have Drafts!</div>
		</div>
		<div class="columns large-4">
			<div class="high-five-image">
			</div>
			<div class="high-five-text walkthrough-info">Finalize only when you're sure you're done.</div>
		</div>
	</div>
	<div class="dont-show-message row ">
		<div class="custom-box column">
			<input class="dont-show-checkbox" type="checkbox" id="showMessageCheckbox">
			<label for="showMessageCheckbox" class="checkbox"><span><i class="icon-validated"></i></span></label>
		</div>
		<label for="showMessageCheckbox" class="dont-show-text left">Don't show this again.</label>
	</div>
</div>
