<span class="js_collection_node inlineblock">
	<span> <%=  data.collection.encodedID + ' (' + data.collection.conceptCollectionTitle + '-'+ data.collection.collectionTitle + ')' %> </span>
	<span
	class="js_collection_remove removeimg"
	data-conceptcollectionhandle="<%=  data.collection.conceptCollectionHandle  %>"
	data-creatorid="<%= data.collection.collectionCreatorID %>"
	data-encodedid="<%= data.collection.encodedID %>"
	data-collectiontitle="<%=data.collection.collectionTitle%>"
	data-conceptcollectiontitle="<%= data.collection.conceptCollectionTitle %>"
	>
	<span class="icon-close">
	</span>
</span>
</span>
