<div id="finalizeBookModal" class="reveal-modal modal-uikit app-reveal-modal finalize-book-modal">
    <a class="close-reveal-modal close">+</a>
    <div class="js_book_editor">
        <div class="finalize-modal-header bold text-center">
            <span>Finalize your drafts in</span>
            <span class="flexbook-title js-flexbook-title"></span>
        </div>
        <div class="modal-toc-header-wrapper">
            <div class="modal-toc-header bold">
                Table of Contents
            </div>
            <div class="select-all-wrapper">
                <a class="select-all js-select-all">Select all</a>
                <a class="clear-all js-clear-all hide">Clear all</a>
            </div>
        </div>
        <div class="finalize-divider"></div>
        <ul class="finalize-toc-wrapper chapterlist js-chapterlist">
            
        </ul>
        <div class="finalize-divider"></div>
        <div class="finalize-button-wrapper text-center">
            <div class="finalize-button js-finalize-button">
                <span>Finalize selected drafts</span><span>(</span><span id="finalizeDraftCount">0</span><span>)</span>
            </div>
        </div>
    </div>
</div>