<li class="ui-corner-all artifact_type_<%= data.section.artifactType %> js_artifact_list_item"
	data-artifactId="<%= data.section.artifactID %>"
	data-artifactType="<%= data.section.artifactType %>"
	data-artifactRevisionID = "<%= data.section.artifactRevisionID %>"
	data-draft="<%= data.section.hasDraft %>"
	>
	<div>
		<div class="artifact_row js_artifact_row <% if (data.assigned) { %>assigned-section<% } %>">
			<div class="index_label js_index_label grandchild"><%= data.tocnumber %></div>
			<div class="row_artifact_title js_artifact_title">
				<span class="draft-chapter-title"><%= data.section.title %></span>
				<% if (data.hasDraft) { %>
					<span class="draft-section">DRAFT</span>
				<% } %>
			</div>
			<div class="actions grandchild js_concept_actions">
				<a class="js_row_handle" title="Rearrange" href="#"><span class="icon-arrow_drag row-action-icon"></span></a>
				<a class="js_row_remove <% if (data.assigned) { %>hidden<% } %>" title="Remove" href="#"><span class="icon-delete_cc row-action-icon"></span></a>
				<a class="js_row_assign_collab hide" title="Save Collaborator"><span class="icon-validated"></span></a>
				
				<div class="more-options-dropdown-wrapper hide">
					<ul class="more-options-dropdown" data-dropdown-content="" id="">
						<li class="js-dropdown-element <% if (data.assigned) { %>hide<% } %>" data-item="edit">
							<a class="js_row_edit icon-edit" href="<%= data.href %>" title="Edit">
								<span>Edit</span>
							</a>
						</li>
						<li class="js-dropdown-element js_row_assign <% if (data.assigned) { %>hide<% } %>">
							<a title="Assign" class="icon-validated">
								<span class="menu-option">Assign</span>
							</a>
						</li>
						<li class="js-dropdown-element js_row_unassign <% if (!data.assigned) { %>hide<% } %>">
							<a title="Unassign" class="icon-validated">
								<span class="menu-option">Unassign</span>
							</a>
						</li>
					</ul>
				</div>
				<% if (!data.isOwned) { %>
                    <a class="js-more-options"><span class="icon-ellipsis"></span></a>
                <% } else { %>
                    <% if (!data.isNew) { %>
                        <% if (!data.isLatest) { %>
                            <a href="#" class="js_row_update"  title="Update"><span class="icon-loop"></span></a>
                            <a class="js-more-options hide"><span class="icon-ellipsis"></span></a>
                        <% } else { %>
                            <a class="js-more-options"><span class="icon-ellipsis"></span></a>
                        <% } %>
                    <% } %>
                <% } %>
				
			</div>
			<span class="assignee-email" title="<% if (data.assigneeEmail) { %><%=data.assigneeEmail %><% } %>">
				<% if (data.assigneeEmail) { %><%=data.assigneeEmail %><% } %>
			</span>
			<div class="collab-input-wrapper js-collab-input-wrapper hide-important">
				<input class="collab-name js-collab-name" <% if (data.assigneeID) { %>value= <%=data.assigneeID %><% } %> />
			</div>
			<div class="clear"></div>
		</div>
	</div>
</li>
