<section>
	<div id="guidedPracticeModal" class="reveal-modal app-reveal-modal modal-uikit medium">
		<a class="close-reveal-modal close hide-small">+</a>
		<div class="row collapse show-small guided-modal-header">
			<div class="columns small-12">
				<div class="right pointer guided-modal-close js-guided-modal-close">
					<i class="close-icon"></i>
				</div>
			</div>
		</div>
		<div class="row collapse">
			<div class="columns small-12">
				<iframe class="iframe-container"></iframe>
			</div>
		</div>
	</div>
	
	<div id="guidedLoginTemplate" class="hide">
		<h3>Explore More</h3>
		<div>Sign in to explore more, including practice questions and solutions for @@concept@@. <input type="button" class="button small tangerine js_signinrequired" value="Sign in" /> </div>
	</div>
</section>
