<div id="mobileTooltip" class="image-attribution-tooltip">
	<i class="icon-close close-tooltip pointer"></i>
	<div class="left">
		<b>[@@imageIndex@@]</b>
		<b><a data-href="#@@refID@@" class="js_scroll">^</a></b>
	</div>
	<div>
		<span class="image-attr @@hideCredit@@">Credit:</span>
		<span class="image-attr @@hideCredit@@">@@credit@@;</span>
	</div>
	<div class="@@hideSource@@">
		<span class="image-attr">Source:</span><span class="image-attr">@@source@@;</span>
	</div>
	<div>
		<span class="image-attr">License:</span> <a target="_blank" class="image-attr" href="http://creativecommons.org/licenses/by-nc/3.0/">@@licence@@</a>
	</div>
</div>