<html>
    <head>
        <title>Delete Resource</title>
        <script type="text/javascript">
          function formSubmit() {
            if (confirm('Are you sure you want to remove this resource?')) {
              document.metadata.submit();
              return true;
            }
            return false;
          }
        </script>
    </head>
    <body>
        <h1>Delete Resource<h1>
        <form name="metadata" method="POST" action="{{ c.prefix }}/delete/resource" onsubmit="return formSubmit();">
            <table>
                <tr>
                    <td>
                        Resource ID:
                    </td>
                    <td>
                        <input type="text" name="id" value="" size="100" />
                    </td>
                </tr>
                <tr>
                    <td colspan="2"><input type="checkbox" name="force" value="true" /> Force delete all associations? (Only for admin)</td>
                </tr>
                <tr>
                    <td colspan="2" style="text-align:right;">
                        <input type="submit" name="submit" value="Delete" />
                    </td>
                </tr>
            </table>
        </form>
    </body>
</html>
