{% extends "MASTER_CK12_LOGO.html" %}
{% block email_body %}
<html>
    <body>
        <p>Dear {{ events.0.eventData['name'] }},</p>
        <p>Greetings from CK-12 Foundation!<p>

        <p>You are receiving this email because you requested that your password be reset. Simply reset it by visiting <a href="{{ events.0.eventData['rurl'] }}" target="_blank">{{ events.0.eventData['rurl'] }}</a><p>
        <p>You will be asked to enter and confirm a new password. Once this is finished, you can log into the CK-12 site using your new password.</p>
    
        <p>If clicking on the above link does not work, please copy and paste it in your browser's address bar.

        <p>If you did not request to reset your password or if you have any other questions, please email <a href="mailto:support@ck12.org">support@ck12.org</a>.</p>
        <p></p>

        <p>Sincerely,</p>
        <p>The CK-12 Team </p>
    </body>
</html>
{% endblock %}
