<!DOCTYPE html>
<html>
    <head>
        <title>CK-12 FlexBook App</title>
    </head>
<body>

    <!-- papa HTML container -->
    <div style="width:auto;display:box;font-family:'Helvetica Neue','Helvetica',Helvetica,Arial,sans-serif;">
        <div class="width-restrictor" style="width:auto;max-width:600px;text-align:center;min-height:auto;background-color:#f9f9f5;padding-bottom:30px;padding-left:15px;padding-right:15px;min-width:320px">

            <!-- top ck-12 logo and text -->
            <div class="logo-header">
                <div class="logo-holder" style="height: 70px;text-align: center;margin-bottom: 14px;">
                    <div class="ck12-logo-text-container " style="min-width: 229px;width:100%;margin:auto;padding-top:20px">
                        <img src="{{ site }}/media/common/images/logo_ck12_large.png" height="30" width="84" alt="CK-12" class="CToWUd a6T" tabindex="0">
                        <div class="ck12-logo-caption" style="display: inline-block;padding-left: 15px;vertical-align: 9px;">
                            <span style="font-weight: bold;font-size: 20px;color: rgba(0, 0, 0, 0.62);">FlexBook<sup>&#174;</sup> App</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="">
                <div class="no-right-padding" style="padding-right: 0 !important;">
                </div>
            </div>

            <div class="">
                <div style="margin: auto;">
                    <div class="wendy-text" style="background-color:white;padding-top: 25px;font-size:18px;font-weight:normal;line-height:24px;text-align:center;padding-left:30px;padding-right:30px;padding-bottom:50px;">
                        <div style="width: 100%; height: auto; text-align: center;">
                            <img src="{{ site }}/media/common/images/flexbook_app_logo.png" height="118" width="90" alt="CK-12 FlexBook App" class="CToWUd a6T" tabindex="0">
                        </div>
                        <p style="width: 100%;font-size:24px;font-weight:bold;margin-top:24px;margin-bottom:30px;text-align: center;">Download</p>
                        <p style="width: 100%;font-size:24px;font-weight:bold;margin-top:24px;margin-bottom:30px;text-align: center;">CK-12 FlexBook<sup>&#174;</sup> App</p>
                        <p>Click the appropriate download button below to get the app.</p>
                        <a href="https://itunes.apple.com/us/app/flexbook/id1011793723?mt=8" style="display:inline-block;"><img alt="Apple store image" src="{{ site }}/media/common/images/apple-app-store.png" height="40" width="135" /></a>
                        <a href="https://play.google.com/store/apps/details?id=org.ck12.reader" style="display:inline-block;"><img alt="Google play image" src="{{ site }}/media/common/images/google-play-badge.png" height="40" width="135" /></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>

