$icomoon-font-path: "fonts" !default;

$dashboard-icon-calendar: "\e908";
$dashboard-icon-chat-bubble: "\e909";
$dashboard-icon-globe: "\e90a";
$dashboard-icon-library: "\e90b";
$dashboard-icon-qa: "\e90c";
$dashboard-icon-share: "\e90d";
$dashboard-icon-speedometer: "\e90e";
$dashboard-icon-target: "\e90f";
$dashboard-icon-alerts: "\e900";
$dashboard-icon-assignments: "\e901";
$dashboard-icon-camera: "\e902";
$dashboard-icon-content: "\e903";
$dashboard-icon-edit: "\e904";
$dashboard-icon-groups: "\e905";
$dashboard-icon-location: "\e906";
$dashboard-icon-students: "\e907";

