<div class="dxtrack-user-action nav js-nav studyguide-nav active" data-dx-desc="carousel_nav_studyguide" data-dx-referrer="student_landing" data-dx-domEvent="click">
    <img class="active-circle" src="<%= data.url_media %>/carousel/images/student/navigation/circle_active_study_guide.png">
    <img class="inactive-circle" src="<%= data.url_media %>/carousel/images/student/navigation/circle_inactive_study_guide.png">
</div>
<div class="dxtrack-user-action nav js-nav cafe-nav" data-dx-desc="carousel_nav_cafe" data-dx-referrer="student_landing" data-dx-domEvent="click">
    <img class="active-circle" src="<%= data.url_media %>/carousel/images/student/navigation/circle_active_cafe.png">
    <img class="inactive-circle" src="<%= data.url_media %>/carousel/images/student/navigation/circle_inactive_cafe.png">
</div>
<div class="dxtrack-user-action nav js-nav ela-nav" data-dx-desc="carousel_nav_ela" data-dx-referrer="student_landing" data-dx-domEvent="click">
    <img class="active-circle" src="<%= data.url_media %>/carousel/images/student/navigation/circle_active_ELA.png">
    <img class="inactive-circle" src="<%= data.url_media %>/carousel/images/student/navigation/circle_inactive_ELA.png">
</div>
<div class="dxtrack-user-action nav js-nav apps-nav" data-dx-desc="carousel_nav_apps" data-dx-referrer="student_landing" data-dx-domEvent="click">
    <img class="active-circle" src="<%= data.url_media %>/carousel/images/student/navigation/circle_active_apps.png">
    <img class="inactive-circle" src="<%= data.url_media %>/carousel/images/student/navigation/circle_inactive_apps.png">
</div>