<!-- Apps Slider (Last Slider) to show circular carousel effect -->
<li class="slider js-slider slider-apps left">
    <div class="slider-content-wrapper">
        <div class="slider-image-wrapper">
            <img src="<%= data.url_media %>/carousel/images/student/slide4/Slide4_Graphic_apps.png">
        </div>
        <div class="slider-content slider-content-right text-left">
            <div>
                <img src="<%= data.url_media %>/carousel/images/navigation/new_teal.png">
            </div>
            <div class="apps-text content-top-header bold">
                Don't Forget to
            </div>
            <div class="apps-text content-top-header bold">
                Download Our Apps!
            </div>
            <div class="apps-text slider-text">
                <div>Take your education on the go with our CK-12</div>
                <div>FlexBook® and Physics Simulation apps.</div>
            </div>
            <div class="carousel-button-wrapper">
                <a href="https://www.ck12info.org/about/tools-and-apps/?referrer=student_landing" class="dxtrack-user-action button standard tangerine" data-dx-desc="carousel_nav_apps" data-dx-referrer="student_landing" data-dx-domEvent="click">Download Now</a>
            </div>
        </div>
    </div>
</li>

<!-- Study Guide Slider (First Slider) -->
<li class="slider js-slider active slider-studyguide left">
    <div class="slider-content-wrapper">
        <div class="slider-content slider-content-left text-left">
            <div>
                <img src="<%= data.url_media %>/carousel/images/navigation/new_teal.png">
            </div>
            <div class="studyguide-text content-top-header bold">
                New CK-12 Study Guides!
            </div>
            <div class="studyguide-text slider-text">
                <div>Find resources designed to help you</div>
                <div>study effectively.</div>
            </div>
            <div class="carousel-button-wrapper">
                <a href="/study-guides/algebra/?referrer=student_landing&backUrl=http://www.ck12.org/student/" class="dxtrack-user-action button standard tangerine" data-dx-desc="carousel_nav_studyguide" data-dx-referrer="student_landing" data-dx-domEvent="click">Browse Study Guides</a>
            </div>
        </div>
        <div class="slider-content">
            <img src="<%= data.url_media %>/carousel/images/student/slide1/Slide1_Graphic_Study_Guide.png">
        </div>
    </div>
</li>

<!-- Cafe Slider (Second Slider) -->
<li class="slider js-slider slider-cafe left">
    <div class="slider-content-wrapper">
        <div class="slider-image-wrapper">
            <img src="<%= data.url_media %>/carousel/images/student/slide2/Slide2_Graphic_Cafe.png">
        </div>
        <div class="slider-content slider-content-right text-left">
            <div>
                <img src="<%= data.url_media %>/carousel/images/navigation/new_grey.png">
            </div>
            <div class="cafe-text content-top-header bold">
                The CK-12 Cafe is Here!
            </div>
            <div class="cafe-text slider-text">
                <div>Have questions? The cafe is a place where</div>
                <div>you can ask, help, and share.</div>
            </div>
            <div class="carousel-button-wrapper">
                <a href="/forums/?referrer=student_landing" class="dxtrack-user-action button standard tangerine" data-dx-desc="carousel_nav_cafe" data-dx-referrer="student_landing" data-dx-domEvent="click">Check It Out!</a>
            </div>
        </div>
    </div>
</li>

<!-- ELA Slider (Third Slider) -->
<li class="slider js-slider slider-ela left">
    <div class="slider-content-wrapper">
        <div class="slider-content slider-content-left   text-left">
            <div>
                <img src="<%= data.url_media %>/carousel/images/navigation/new_teal.png">
            </div>
            <div class="ela-text content-top-header bold">
                <div>Brand New Practice for</div>
                <div>Spelling Concepts</div>
            </div>
            <div class="ela-text slider-text">
                <div>Learn the foundation of Spelling with</div>
                <div>concepts like Letters, Consonant Sounds and</div>
                <div>Spellings, Word Patterns, and more!</div>
            </div>
            <div class="carousel-button-wrapper">
                <a href="/spelling/?referrer=student_landing" class="dxtrack-user-action button standard tangerine" data-dx-desc="carousel_nav_ela" data-dx-referrer="student_landing" data-dx-domEvent="click">Check It Out!</a>
            </div>
        </div>
        <div class="slider-content">
            <img src="<%= data.url_media %>/carousel/images/student/slide3/Slide3_Graphic_ELA.png">
        </div>
    </div>
</li>

<!-- Apps Slider (Fourth Slider) -->
<li class="slider js-slider slider-apps left">
    <div class="slider-content-wrapper">
        <div class="slider-image-wrapper">
            <img src="<%= data.url_media %>/carousel/images/student/slide4/Slide4_Graphic_apps.png">
        </div>
        <div class="slider-content slider-content-right text-left">
            <div>
                <img src="<%= data.url_media %>/carousel/images/navigation/new_teal.png">
            </div>
            <div class="apps-text content-top-header bold">
                Don't Forget to
            </div>
            <div class="apps-text content-top-header bold">
                Download Our Apps!
            </div>
            <div class="apps-text slider-text">
                <div>Take your education on the go with our CK-12</div>
                <div>FlexBook® and Physics Simulation apps.</div>
            </div>
            <div class="carousel-button-wrapper">
                <a href="https://www.ck12info.org/about/tools-and-apps/?referrer=student_landing" class="dxtrack-user-action button standard tangerine" data-dx-desc="carousel_nav_apps" data-dx-referrer="student_landing" data-dx-domEvent="click">Download Now</a>
            </div>
        </div>
    </div>
</li>

<!-- Study Guide Slider (First Slider) to show circular carousel effect -->
<li class="slider js-slider active slider-studyguide left">
    <div class="slider-content-wrapper">
        <div class="slider-content slider-content-left text-left">
            <div>
                <img src="<%= data.url_media %>/carousel/images/navigation/new_teal.png">
            </div>
            <div class="studyguide-text content-top-header bold">
                New CK-12 Study Guides!
            </div>
            <div class="studyguide-text slider-text">
                <div>Find resources designed to help you</div>
                <div>study effectively.</div>
            </div>
            <div class="carousel-button-wrapper">
                <a href="/study-guides/algebra/?referrer=student_landing&backUrl=http://www.ck12.org/student/" class="dxtrack-user-action button standard tangerine" data-dx-desc="carousel_nav_studyguide" data-dx-referrer="student_landing" data-dx-domEvent="click">Browse Study Guides</a>
            </div>
        </div>
        <div class="slider-content">
            <img src="<%= data.url_media %>/carousel/images/student/slide1/Slide1_Graphic_Study_Guide.png">
        </div>
    </div>
</li>
