{% extends "common/master.html" %}
{% block title %}{{ _("Ask CK-12") }}{% endblock %}

{% block stylesheets %}
{{ super() }}
<link rel="stylesheet" type="text/css" media="all" href="{{ h.asset_lib('alignedSearch/css/alignedSearch.css') }}" />
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.css" />
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick-theme.min.css" />
<link rel="stylesheet" type="text/css" media="all" href="{{ h.asset_lib('css/details.css') }}" />

<script type="text/javascript"
   src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-MML-AM_CHTML">
</script>
{% endblock %}


{% block js %}
{{ super() }}
<script>
  require(['main'], function(){
    require(['alignedSearch/vendor.bundle'], function(){
      require(['alignedSearch/alignedSearch']);
    });
  });
</script>
{% endblock %}

{% block content %}
{{ super() }}
<div id="ck12Go" style="background-color:white; height: 700px"></div>
{% endblock %}
