<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Concept Tree View</title>

    <!--[if IE]><script language="javascript" type="text/javascript" src="/taxonomy/media/js/jit-excanvas.js"></script><![endif]-->

    <!-- JIT Library File -->
    <script language="javascript" type="text/javascript" src="/taxonomy/media/js/jquery.js"></script>
    <script language="javascript" type="text/javascript" src="/taxonomy/media/js/jit.js"></script>
    <script language="javascript" type="text/javascript" src="/taxonomy/media/js/hash.js"></script>
    <script language="javascript" type="text/javascript" src="/taxonomy/media/js/titleCaps.js"></script>
    <script language="javascript" type="text/javascript" src="/taxonomy/media/js/tree.js"></script>

    <link type="text/css" href="/taxonomy/media/css/tree.css" rel="stylesheet" />
</head>

<body onload="init();">
    <h2>Concept Node Tree for Science, Technology, Engineering and Mathematics</h2>
    <div id="container">
        <div id="infovis"></div>    
    </div>
    <br/><br/>
    <div id="log" style="border: 1px solid red;"></div>

</body>
</html>
