<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html 
     PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
        <title>File Not Found Error</title>
    </head>
    <body>
	 <h1>
         Oops,the file's not here
         </h1>
	<p>That's &#34;404: File not found&#34; for the technically inclined.</p>
	<p>For the not-so-technically inclined, that means that the link you clicked, or the URL you typed into your browser, didn't work for some reason.</p>
	<p>Here are some possible reasons why:</p>
	<ol>
		<li>We have a &#34;bad&#34; link floating out there and you were unlucky enough to click it.</li>
		<li>You may have typed the page address incorrectly.</li>
		<li>This web server is going nutty.</li>
	</ol>
	<p>So now what?</p>
	<ol>
		<li>How about trying again?</li>
		<li>If you have a keyword or two, you might try a Search.</li>
		<li>Go use your browser back button to return to the previous page.</li>
	</ol>
	<p>By the way, this 404 has been recorded so that we can fix it.</p>
	<p>You could still visit our beta site at <a href="http://beta.ck12.org">beta.ck12.org</a></p>
    </body>
</html>

