<style>
.account_message {
/* text-align: justify; */
}
</style>
<div class="account_message">
<p>
       This {{ c.account }} account is already connected with other CK-12
account (<b>{{ c.email }}</b>). You can only have one account connected to this
{{ c.account }} account. In order to connect this {{ c.account }}
account you first need to disconnect it from other account. 
Here is how you can do it:
</p>
<p></p>
<ul>
<li>
First login using your {{ c.account }} account.
</li>
<li>
From the account settings page, disconnect the {{ c.account }} account.
</li>
<li>
Once disconnected, you can connect it with other accounts.
</li>
</ul>

</div>