{% extends "base/auth/1column.html" %}
{% block title %} {{ _('Password Change Complete') }} {% endblock %}

{% block pageinfotop %}
<div class="contenttop"></div>
{% endblock %}

{% block content %}
<div class="large-6 large-centered columns">
	<h1 class="toptitle">{{ _("Password Changed") }}</h1>
	<div class="spacetoplarge"></div>
</div>
<div class="gclear"></div>
<div id="changepassword" class="contentarea large-6 large-centered columns panel signup">
	<div class="spacetopxlarge"></div>
	<div class="divider"></div>
	<div class="spacetop">
		<div class="noticeline">
			{{ _('Your password has been changed!') }}
		</div>
		<a href="{{ c.returnTo }}" class="btn button notice">{{ _('OK') }}</a>
		<div class="clear"></div>
	</div>
	<div class="divider spacetop"></div>
	<div class="spacetopxlarge"></div>
</div>
<div class="gclear"></div>
{% endblock %}
