{% extends "base/auth/1column.html" %}
{% block title %} {{_('Password Change') }} {% endblock %}

{% block js %}
{{ super() }}
<script>
    require(['main'], function(){
       require(['auth/flx.member']); 
    });
</script>
{% endblock %}

{% block pageinfotop %}
<div class="contenttop"></div>
{% endblock %}

{% block content %}
<div class="large-6 large-centered columns">
	<h1 class="toptitle">{{ _("Password Change") }}</h1>
	<div class="spacetoplarge"></div>
</div>
<div class="gclear"></div>
<div id="changepassword" class="contentarea large-6 large-centered columns panel signup">
	<div class="spacetopxlarge"></div>

	<!-- Form Success Message -->
	{% if c.form_success %}
	<ul class="messaging success">
		<span class="icon-validated"></span>
		<li>{{ c.form_success }}</li>
	</ul>
	{% endif %}

	<!-- Form Error Message -->
	{% if c.form_error %}
	<ul class="messaging error">
		<span class="icon-close"></span>
		<li>{{ c.form_error }}</li>
	</ul>
	{% endif %}

	<!-- Error Messages
	Note: these will not be shown, since we have inline validation -->
	{% if c.form_errors %}
	<ul class="messaging error">
		<span class="icon-close"></span>
		{% for error in c.form_errors %}
			<li>{{error}} - {{ c.form_errors[error] }}</li>
		{% endfor %}
	</ul>
	{% endif %}

	<div class="divider"></div>
	<p>
		{{ _("For security purposes, please enter your current password followed by your new password
		twice, so we can verify that it is entered correctly.") }}
	</p>
	<div class="divider spacetop"></div>

	<div class="spacetoplarge">
		<form id="password_change_form" method="POST" action="{{ h.url(controller='member', action='changePasswordForm') }}?returnTo={{ c.returnTo }}">
			<div class="formlabelwrap">
				<label class="required formlabel" for="current_password" title="{{ _('Current Password') }}">
					{{ _("Current Password") }}
				</label>
			</div>
			<div>
				<input type="password" id="current_password" class="forminput" name="current_password" 
					data-required="{{ c.messages.ACCOUNT_CURRENT_PASSWORD_EMPTY  }}" />
			</div>
			<div class="error hide" data-for="current_password"></div>

			<div class="formlabelwrap">
				<label class="required formlabel" for="password" title="{{ _('New Password') }}">
					{{ _("New Password") }}
				</label>
			</div>
			<div>
				<input type="password" id="password" class="forminput" name="password"
					data-required="{{ c.messages.ACCOUNT_NEW_PASSWORD_HINT  }}"
					data-minlength="{{ c.messages.ACCOUNT_PASSWORD_MINLENGTH  }}"
					data-ck12_password="{{ c.messages.ACCOUNT_PASSWORD_INVALID }}"/>
			</div>
			<div class="error hide" data-for="password"></div>

			<div class="formlabelwrap">
				<label class="required formlabel" for="confirm_password" title="{{ _('Confirm New Password') }}">
					{{ _("Confirm New Password") }}
				</label>
			</div>
			<div>
				<input type="password" id="confirm_password" class="forminput" name="confirm_password" 
					data-required="{{ c.messages.ACCOUNT_CONFIRM_PASSWORD_EMPTY  }}"
					data-minlength="{{ c.messages.ACCOUNT_CONFIRM_PASSWORD_MINLENGTH  }}"
					data-equalto="{{ c.messages.ACCOUNT_CONFIRM_PASSWORD_NOTSAME }}"/>
			</div>
			<div class="error hide" data-for="confirm_password"></div>

			<div class="divider spacetopxlarge"></div>
			<div class="formsubmitwrap">
				<input type="hidden" id="id" name="id" value="{{ c.form.id }}"/>
				<a class="cancel-button" href="{{ c.returnTo }}" title="{{ _('Cancel') }}">{{ _("Cancel") }}</a>
				<input type="submit" id="passwordchangeformsubmit" class="button turquoise formrightcolumn" value="{{ _('Change My Password') }}" />
				<div class="clear"></div>
			</div>
			<div class="divider"></div>
		</form>
	</div>
	<div class="spacetopxlarge"></div>
</div>
<div class="gclear"></div>
{% endblock %}
