{% extends "base/auth/1column.html" %}
{% block title %} {{ _('Password change requested') }} {% endblock %}

{% block pageinfotop %}
<div class="contenttop"></div>
{% endblock %}

{% block js %}
{{ super() }}
<script>
    require(['main'], function(){
       require(['auth/flx.member']); 
    });
</script>
{% endblock %}

{% block content %}
	{% if not c.authTypes %}
		<div class="large-6 large-centered columns">
			<h1 class="toptitle">{{ _("Instructions Emailed") }}</h1>
			<div class="spacetoplarge"></div>
		</div>
		<div id="changepassword" class="contentarea large-6 large-centered columns panel signup">
			<div class="spacetopxlarge"></div>
			<div class="divider"></div>
			<div class="spacetop">
					<span>{{ _("We've emailed the instructions for setting your new password to the email address you submitted.</span>
					<p>This email will come from '@ck12.org'. If you use an anti-spam filter, please make sure to add this domain to your 'white', 'friend' or 'safe sender' list.</p>
					<p>If you have not yet done so and have not received the email from us, please check your spam folder.") }}</p>
			</div>
			<div class="divider spacetop"></div>
			<div class="spacetop">
				<a href="{{ c.returnTo }}" class="btn button notice">{{ _('OK') }}</a>
				<div class="clear"></div>
			</div>
			<div class="divider spacetop"></div>
			<div class="spacetopxlarge"></div>
		</div>
	{% else %}
		<div class="row collapse text-center forgot-social-signin-container">
			<div class="small-12 large-6 columns small-centered large-centered">
				<div class="row collapse">
					<h1>{{ _("Connected Account") }}</h1>
				</div>
				<div class="row collapse">
					<p>Your CK-12 account is connected with:</p>
				</div>
				{% if c.authTypes.google %}
					<div class="row collapse">
						<a class="button dark-tangerine huge hide-small js-social-sign-in" data-provider="google">
							<i class="icon-google"></i><span>{{ _("Sign in with Google") }}</span>
						</a>
						<a class="button dark-tangerine large show-small js-social-sign-in" data-provider="google">
							<i class="icon-google"></i><span>{{ _("Sign in with Google") }}</span>
						</a>
					</div>
				{% endif %}
				{% if c.authTypes.facebook %}
					<div class="row collapse">
						<a class="button midnight-blue huge hide-small js-social-sign-in" data-provider="facebook">
							<i class="icon-facebook"></i><span>{{ _("Sign in with Facebook") }}</span>
						</a>
						<a class="button midnight-blue large show-small js-social-sign-in" data-provider="facebook">
							<i class="icon-facebook"></i><span>{{ _("Sign in with Facebook") }}</span>
						</a>
					</div>
				{% endif %}
				{% if c.authTypes.twitter %}
					<div class="row collapse">
						<a class="button sky-blue huge hide-small js-social-sign-in" data-provider="twitter">
							<i class="icon-twitter"></i><span>{{ _("Sign in with Twitter") }}</span>
						</a>
						<a class="button sky-blue large show-small js-social-sign-in" data-provider="twitter">
							<i class="icon-twitter"></i><span>{{ _("Sign in with Twitter") }}</span>
						</a>
					</div>
				{% endif %}
				{% if c.authTypes.azure %}
					<div class="row collapse">
						<a class="button royal-blue huge hide-small js-social-sign-in" data-provider="azure">
							<i class="icon-microsoftlive"></i><span>{{ _("Sign in with Microsoft") }}</span>
						</a>
						<a class="button royal-blue large show-small js-social-sign-in" data-provider="azure">
							<i class="icon-microsoftlive"></i><span>{{ _("Sign in with Microsoft") }}</span>
						</a>
					</div>
				{% endif %}
			</div>
		</div>
	{% endif %}
{% endblock %}
