{% extends "base/auth/1column.html" %}
{% block title %} {{ _('Password Forgot') }} {% endblock %}

{% block js %}
{{ super() }}
<script>
    require(['main'], function(){
       require(['auth/flx.member']); 
    });
</script>
{% endblock %}

{% block pageinfotop %}
<div class="contenttop"></div>
{% endblock %}

{% block content %}
<div class="large-6 large-centered columns">
	<h1 class="toptitle">{{ _("Forgot Password") }}</h1>
	<div class="spacetoplarge"></div>
</div>
<div class="gclear"></div>
<div id="changepassword" class="contentarea large-6 large-centered columns panel signup">
	<div class="spacetopxlarge"></div>

	<!-- Form Error Message -->
	{% if c.form_error %}
	<ul class="messaging error">
		<span class="icon-close"></span>
		<li>{{ c.form_error }}</li>
	</ul>
	{% endif %}

        {% if c.form_errors %}
        <ul class="messaging error">
                {% for error in c.form_errors %}
				<span class="icon-close"></span>
                <li>{{error}}
                        {% if c.form_errors[error] %}
                        - {{ c.form_errors[error] }}
                        {% endif %}
                </li>
                {% endfor %}
        </ul>
        {% endif %}

	<div class="divider spacetoplarge"></div>
	<p>
		{{ _("Forgotten your username or password? 
		Please enter your email address below, and we will email your username and the instructions 
		to reset your password.") }}
	</p>
	<div class="divider spacetop"></div>
	
	<div class="spacetoplarge">
		<form id="password_forgot_form" method="POST" action="{{ h.url(controller='member', action='forgetPasswordForm') }}?returnTo={{ c.returnTo }}">
			<div class="formlabelwrap">
				<label class="required formlabel" for="email" title="{{ _('Email Address') }}">
					{{ _("Email Address") }}
				</label>
			</div>
			<div>
				<input type="text" id="email" class="forminput" name="email" 
						data-required="{{ c.messages.ACCOUNT_EMAIL_EMPTY }}"
						data-maxlength="{{ c.messages.ACCOUNT_EMAIL_MAXLENGTH  }}"
						data-simple_email="{{ c.messages.ACCOUNT_EMAIL_INVALID  }}" />
			</div>
			<div class="error hide" data-for="email"></div>
			
			<div class="divider spacetopxlarge"></div>
			<div class="formsubmitwrap">
				<input type="hidden" name="curl" value="{{ c.curl }}" />
				
				<a href="{{ c.cancel }}" title="{{ _('Cancel') }}" class="cancel-button js-cancel-forgot-password hide">{{ _("Cancel") }}</a>
				
				<input type="submit" id="passwordresetformsubmit" class="button turquoise formrightcolumn" value="{{ _('Send Password Reset') }}" />
				<div class="clear"></div>
			</div>
			<div class="divider"></div>
		</form>
	</div>
	<div class="spacetopxlarge"></div>
</div>
<div class="gclear"></div>
{% endblock %}
