{% extends "base/auth/1column.html" %}
{% block title %} {{ _('Password Reset') }}{% endblock %}

{% block js %}
{{ super() }}
<script>
    require(['main'], function(){
       require(['auth/flx.member']); 
    });
</script>
{% endblock %}

{% block infotop %}
{% endblock %}

{% block content %}
<div class="middlecolumn large-6 large-centered columns panel">

	<!-- Form Error Message -->
	{% if c.form_error %}
	<ul class="messaging error">
		<span class="icon-close"></span>
		<li>{{ c.form_error }}</li>
	</ul>
	{% endif %}

	<!-- Error Messages
	Note: these will not be shown, since we have inline validation -->
        {% if c.form_errors %}
        <ul class="messaging error">
                {% for error in c.form_errors %}
				<span class="icon-close"></span>
                <li>
                    {% if c.form_errors[error] %}
                    {{ c.form_errors[error] }}
                    {% endif %}
                </li>
                {% endfor %}
        </ul>
        {% endif %}

	{% if c.form_success %}
	<h2 class="sectiontitle">{{ _("Password Reset") }}</h2>
	<p>{{ _("Please enter your new password twice so we can verify you typed it correctly.") }}</p>

	<div class="spacetoplarge">
		<form id="password_reset_form" method="POST" action="{{ h.url(controller='member', action='resetPassword') }}?returnTo={{ c.returnTo }}">
			<div class="formlabelwrap">
				<label class="required formlabel" for="password" title="{{ _('New Password') }}">
					{{ _("New Password") }}
				</label>
			</div>
			<div>
				<input type="password" id="password" class="forminput" name="password" 
					data-required="{{ c.messages.ACCOUNT_NEW_PASSWORD_HINT  }}"
					data-minlength="{{ c.messages.ACCOUNT_PASSWORD_MINLENGTH  }}"
					data-ck12_password="{{ c.messages.ACCOUNT_PASSWORD_INVALID }}"/>
			</div>
			<div class="error hide" data-for="password"></div>

			<div class="formlabelwrap">
				<label class="required formlabel" for="confirm_password" title="{{ _('Confirm New Password') }}">
					{{ _("Confirm New Password") }}
				</label>
			</div>
			<div>
				<input type="password" id="confirm_password" class="forminput" name="confirm_password" 
					data-required="{{ c.messages.ACCOUNT_CONFIRM_PASSWORD_EMPTY  }}"
					data-minlength="{{ c.messages.ACCOUNT_CONFIRM_PASSWORD_MINLENGTH  }}"
					data-equalto="{{ c.messages.ACCOUNT_CONFIRM_PASSWORD_NOTSAME }}"/>
			</div>
			<div class="error hide" data-for="confirm_password"></div>
			
			{% if c.member.givenName == '' %}
				<p>{{ _("We did not have a chance to get your name. Please provide us your name below to complete the signup process.") }}</p>
				<div class="formlabelwrap">
					<label class="required formlabel" for="name">{{ _("Full Name") }}</label>
				</div>

				<div>
					<input type="text" id="name" class="forminput" name="name" value="{{ c.member.givenName | replace(None,'') }}{% if c.member.surname != None %} {{ c.member.surname }}{% endif %}" 
						data-required="{{ c.messages.ACCOUNT_FIRSTNAME_EMPTY }}"
						data-maxlength="{{ c.messages.ACCOUNT_FIRSTNAME_MAXLENGTH }}"/>
					<div class="error hide" data-for="name"></div>
				</div>
			{% endif %}

			<div class="formsubmitwrap">
				<input type="hidden" name="rurl" value="{{ c.rurl }}" />
				<input type="hidden" name="token" value="{{ c.token }}" />
				<input type="submit" id="passwordresetformsubmit" class="button turquoise formrightcolumn" value="{{ _('Reset My Password') }}" />
				<div class="clear"></div>
			</div>
		</form>
	</div>
        {% endif %}
</div>
{% endblock %}
