<div class="toolbox">
  <div class="tools transition-all"> 
    <!--
    <a id="download" href="#" download="">
        <div id="camera" class="button"><span class="icon-camera"></span></div>
    </a>
    -->
    <div class="mobile-tools">
      <div title="thin pen" class="icon-scratchpad_thin tool" data-stroke="thin"></div>
      <div title="medium pen" class="icon-scratchpad_medium tool" data-stroke="med"></div>
      <div title="thick pen" class="icon-scratchpad_thick tool" data-stroke="thick"></div>
      <input title="color" class="spectrum-color-picker" type="text">
      <div title="eraser" class="icon-eraser js-eraser tool"></div>
      <div title="clear scratchpad" class="icon-remove js-trashcan tool"></div>
      <div title="close"  class="icon-close js-close tool"></div>
    </div>
  </div>

</div>
