{% from "macros/pagination.html" import paginate with context %}  

{% if c.paginator.item_count > 0 %}
  {% if not c.asOverlay %}

  {% for i in c.paginator.items %}
    <div class="tr paneview {{ h.hide_if_full(c.viewmode)}}">
      <div class="td id">{{i.id}}</div>
      <div class="td viewtrigger" data-id="{{i.id}}">{{h.idlink2('/exercise/', i, alttext=i.title|truncate(60)|escape)}}</div>
      <div class="td nowrap">{{i.updateTime|compact}}</div>
    </div>
    <div class="tr fullview {{ h.hide_if_pane(c.viewmode)}}">
      <div class="td id">{{i.id}}</div>
      <div class="td">{{i.encodedID}}</div>
      <div class="td viewtrigger" data-id="{{i.id}}">{{h.idlink2('/exercise/', i, alttext=i.title|truncate(60)|escape)}}</div>
      <div class="td nowrap">{{i.creationTime|compact}}</div>
      <div class="td nowrap">{{i.updateTime|compact}}</div>
    </div>
  {% endfor %}

  {% else %}

  {% for i in c.paginator.items %}
    <div class="tr">
      <div class="td id">{{h.idlink('/exercise/', i, 'id')}}</div>
      <div class="td">{{i.encodedID}}</div>
      <div class="td">{{i.title|escape}}</div>
      <div class="td nowrap">{{i.creationTime|compact}}</div>
      <div class="td nowrap">{{i.updateTime|compact}}</div>
      <div class="td actionitemwrap">
        <div class='actionitem'></div>
        <div class='actionmsg hide'></div>
      </div>
    </div>
  {% endfor %}
  
  {% endif %}
{{ paginate(c.paginator) }}
{% endif %}