{% from "macros/pagination.html" import paginate with context %}  

{% if c.paginator.item_count > 0 %}
  {% for i in c.paginator.items %}
    <div class="tr paneview {{ h.hide_if_full(c.viewmode)}}">
      <div class="td id">{{i.id}}</div>
      <div class="td viewtrigger" data-id="{{i.id}}">{{h.idlink2('/hwerror', i, alttext=i.reason|truncate(32)|escape)}}<br/>
        {{i.errorType}} - {{i.status}}
      </div>
      <div class="td nowrap">{{i.updateTime|compact}}</div>
      <div class="td nowrap">{{i.creationTime|compact}}</div>
    </div>

    <div class="tr fullview {{ h.hide_if_pane(c.viewmode)}}">
      <div class="td id">{{i.id}}</div>
      <div class="td">{{i.questionClass}}</div>
      <div class="td">{{i.errorType}}</div>
      <div class="td viewtrigger" data-id="{{i.id}}">{{h.idlink2('/hwerror', i, alttext=i.reason|truncate(36)|escape)}}</div>
      <div class="td">{{i.status}}</div>
      <div class="td">{{h.userlink(i, 'reviewer', 'reviewedBy')}}</div>
      <div class="td nowrap">{{i.updateTime|compact}}</div>
      <div class="td nowrap">{{i.creationTime|compact}}</div>
    </div>
  {% endfor %}
  {{ paginate(c.paginator) }}
{% endif %}