<div id="ck12-resource-clip" class="row collapse text-center ck12-resource-clip-container">
	<div class="row collapse">
		<div>We noticed that you tried to use the bookmarklet on a CK-12 page. Unfortunately, the bookmarklet only works on websites outside of CK-12.</div>
		<div id="add-library-msg" class="bottom-message-text hide">If you want to add content that is on CK-12 to your "Library", try using the <span class="text-bold"> Add to Library </span> button on the left panel.</div>
	</div>
	<div class="standard button turquoise close-clipper js-close-bookmarklet">Close</div>
</div>