<div id="bookmarklet-signin" class="row collapse bookmarklet-signin-container">
	<div class="row collapse show-small bookmarklet-header">
		<a id ="close" class="close-bookmarklet right">
			<i class="close-icon"></i>
		</a>
		<a class="left" href="/" target=_blank title="CK-12 Foundation Home">
			<img class="logo-img" src="/media/common/images/logo_ck12_medium.png" width="60" height="22" alt="CK-12">
		</a>
		<div class="left text-center bookmarklet-header-text">// Add to CK-12</div>
	</div>
	<div class="row collapse sign-in-button-wrapper">
		<div class="small-10 column small-centered">
			<div class="row collapse sign-in-button-container sign-in-buttons">
				<a class="button dark-tangerine small text-left sign-in-button js-sign-in-button" data-provider="google" title="Sign in with Google">
					<i class="icon-google"></i><span>Sign in with Google</span>
				</a>
				<a class="button midnight-blue small text-left sign-in-button js-sign-in-button" data-provider="facebook" title="Sign in with Facebook">
					<i class="icon-facebook"></i><span>Sign in with Facebook</span>
				</a>
				<a class="button sky-blue small text-left left sign-in-button-hide small-button hide twitter-button js-sign-in-button" data-provider="twitter" title="Sign in with Twitter">
					<i class="icon-twitter"></i><span>Twitter</span>
				</a>
				<a class="button royal-blue small text-left sign-in-button-hide hide small-button js-sign-in-button" data-provider="azure" title="Sign in with Microsoft">
					<i class="icon-microsoftlive"></i><span>Microsoft</span>
				</a>
			</div>
			<div id="show-more" class="row collapse text-center pointer show-more">Show More</div>
		</div>
	</div>
	<div class="row collapse sign-in-email">
		<div class="row collapse">
			<div class="small-10 column large-centered small-centered text-center">
				<div class="row collapse">
					<div class="hide signin-error js-empty-error js-signin-error ">Please enter username and password.</div>
					<div class="hide signin-error js-unknown-error js-signin-error">Login failed. Please try again later.</div>
					<div class="hide signin-error js-incorrect-error js-signin-error">Incorrect login or password.</div>
					<input type="text" placeholder="Username or Email" name="login" class="pretty-input js-signin-edit"/>
					<input type="password" placeholder="Password" name="token" class="pretty-input js-signin-edit signin-popup-password"/>
					<input type="hidden" name="authType" value="ck-12"/>
					<div class="row collapse custom-box terms-container text-left">
						<div class="columns small-1">
							<input type="checkbox" id="agree-to-terms" name="agree-to-terms">
							<label id="agree-checkbox" for="agree-to-terms" class="checkbox terms-label">
								<span>
									<i class="icon-validated"></i>
								</span>
							</label>
						</div>
						<div class="columns small-11 terms-content">
							<div class="terms-wrapper">
								<span>By signing up, I confirm that I have read and agree to the </span>
								<a target="_blank" href="http://www.ck12.org/about/terms-of-use/">Terms of use</a>.
							</div>
						</div>
					</div>
					<!-- <div class="custom-box remember-container text-left">
						<input type="checkbox" id="remember" name="remember">
						<label for="remember" class="checkbox remember-label"><span><i class="icon-validated"></i></span> Keep me signed in</label>
					</div> -->
					<div class="row collapse">
						<div class="forgot-password left">
							<a class="forgot-password-link js-return-to" title="Forgot Password?" target="_blank" href="/auth/forgot/password?returnTo=/">Forgot Password?</a>
						</div>
						<input type="button" class=" right btn button dusty-grey sign-in-submit pretty-button js-sign-in-submit right" disabled = "disabled" value="Sign In"/>
					</div>
				</div>
			</div>
		</div>
		<div class="row collapse text-center sign-in-separator">or</div>
	</div>
	<div class="row collapse text-center sign-up">
		<div class="column large-12 sign-up-account">
			<span>Don't have an account?</span>
			<a class="js-sign-up" target="_blank" href="/auth/signup" rel="nofollow">Sign up</a>
		</div>
	</div>
</div>
