<html>
    <head>
        <title>Reindex Artifact</title>
    </head>
    <body>
        <form name="metadata" method="POST" action="{{ c.prefix }}/update/index">
            <table>
                <tr>
                    <td>
                        Artifact IDs (separate with commas):
                    </td>
                    <td>
                        <input type="text" name="artifactIDs" value="" size="100" />
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <label><input type="checkbox" name="waitFor" value="True" /> Wait synchronously for the results?</label>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <label><input type="checkbox" name="recursive" value="true" /> Recursively reindex children?</label>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <input type="submit" name="submit" value="OK" />
                    </td>
                </tr>
            </table>
        </form>
    </body>
</html>
