<div class="large-4 columns">
    <div class="forum-card">
        <div class="cafe-edit-container hide">
            <i class="icon-edit"></i>
        </div>
        <img  class="forum-image" src="<%-resource.uri%>" />
        <div class="content-container">
            <h2><a class="title forum-title-link" href="../forum/<%-id%>/home"><%- name %></a></h2>
            <div class="description">
                <div class="description-text">
                    <%- tagLine%>
                </div>
            </div>
            <div class="card-footer-container">
                <div class="members-container">
                    <% _.each(membersData.members, function(member){ %>
                        <img src="/auth/member/image/<%- member.id %>" />
                    <% });%>
                    <a href="../forum/<%-id%>/member" class="members-count"> <%- membersData.total %> Followers</a>
                </div>
                <div class="actions-info-container">
                    <div class="follow-btn">
                        <% if(!isMember){%>
                        <div class="btn-follow button btn-forum small">
                            <i class="icon-plus"></i>Follow
                        </div>
                        <%}else{%>
                        <div class="btn-following button btn-forum small">
                            <i class="icon-checkmark"></i>Following
                        </div>
                        <%}%>
                    </div>
                    <div class="count last"> <%-peerHelpInfo.commentsCount%></div>
                    <div class="icon-background answer">
                        <div class="image-container">
                            <img src="/media/forums/images/answers.svg" />
                        </div>
                    </div>
                    <div class="count"> <%-peerHelpInfo.threadsCount%></div>
                    <div class="icon-background thread">
                        <div class="image-container">
                            <img src="/media/forums/images/threads.svg" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="large-1 columns"></div>
</div>
