<div class="large-12 columns">
    <div class="filters-container">
        <a class="filter all active">All</a>
        <a class="filter student">Student</a>
        <a class="filter teacher">Teacher</a>
        <a class="create-new-cafe-btn hide">Create New Cafe +</a>
    </div>
    <div id="forums-list"></div>
    <div class="row collapse">
        <div class="large-12 small-12 columns center">
            <div class="show-more-container">
                <a class="hide" id="btn-load-more-forum">+SHOW MORE</a>
            </div>
        </div>
    </div>
</div>

<div id="modalCreateForumContainer"></div>
<div id="forum-guideline-container"></div>
