<div class="row collapse elementary-header hide-for-small">
	<h1>
		<a href="/browse/">Browse</a>
		<span>/</span>
		<a href="/math/">Math</a>
		<span class="branch-name" data-branch="elementary-math">/ Grade 1&ndash;5</span>
	</h1>
</div>
<div class="row collapse elementary-header show-for-small">
	<h1>
		<a href="/browse/">Browse</a>
		<span> / Grade 1&ndash;5</span>
	<h1>
</div>
<div class="row collapse relative">
	<div id="browse-grades" class="columns large-2 small-12 hide-for-small">
		<div class="row collapse grades-header bold">ELEMENTARY</div>
		<ul class="grades-wrapper" data-eid="<%= data.eid %>">
			<li class="js-grade" data-grade="1">
				<div class="list-item">
					<a href="/elementary-math-grade-1">Grade 1</a>
				</div>
			</li>
			<li class="js-grade" data-grade="2">
				<div class="list-item">
					<a href="/elementary-math-grade-2">Grade 2</a>
				</div>
			</li>
			<li class="js-grade" data-grade="3">
				<div class="list-item">
					<a href="/elementary-math-grade-3">Grade 3</a>
				</div>
			</li>
			<li class="js-grade" data-grade="4">
				<div class="list-item">
					<a href="/elementary-math-grade-4">Grade 4</a>
				</div>
			</li>
			<li class="js-grade" data-grade="5">
				<div class="list-item">
					<a href="/elementary-math-grade-5">Grade 5</a>
				</div>
			</li>
		</ul>
	</div>
	<div class="columns large-2 small-12 show-for-small grades-wrapper-parent">
		<span class="row collapse grades-header left bold">GRADES:</span>
		<ul class="grades-wrapper left" data-eid="<%= data.eid %>">
			<li class="js-grade text-center" data-grade="1">
				<div class="list-item">
					<a href="/elementary-math-grade-1">1</a>
				</div>
			</li>
			<li class="js-grade text-center" data-grade="2">
				<div class="list-item">
					<a href="/elementary-math-grade-2">2</a>
				</div>
			</li>
			<li class="js-grade text-center" data-grade="3">
				<div class="list-item">
					<a href="/elementary-math-grade-3">3</a>
				</div>
			</li>
			<li class="js-grade text-center" data-grade="4">
				<div class="list-item">
					<a href="/elementary-math-grade-4">4</a>
				</div>
			</li>
			<li class="js-grade text-center" data-grade="5">
				<div class="list-item">
					<a href="/elementary-math-grade-5">5</a>
				</div>
			</li>
		</ul>
	</div>
	<div class="large-9 small-12 columns">
		<div id="topic-container" class="row collapse"></div>
	</div>
</div>
