<div class="topic-details-container js-topic-details-container left">
	<div class="topic-header" data-color="<%= data.class %>">
		<div class="row collapse">
			<div class="columns large-10 large-offset-1">
				<span title="<%= data.name %>"><%= data.name %></span>
				<div class="right pointer topic-close close-button js-topic-close">
					<i class="close-icon"></i>
				</div>
			</div>
		</div>
	</div>
	<div class="topic-details row collapse">
		<div class="columns large-10 large-offset-1 js-trackListContainer"></div>
	</div>
</div>