<div class="large-12 columns">
    <div class="row collapse">
        <div class="go-back-nav hide-for-small">
            <span class="go-back-level0">
                <a href="/forums">CK-12 Cafe</a>
            </span>
            <span class="go-back-level1">
                <i class="icon-arrow3_right"></i>
                <span></span>
            </span>
            <span class="go-back-level2 hide">
                <i class="icon-arrow3_right"></i>
                <span></span>
            </span>
        </div>
        <!-- <div id="forum-info-container" class="large-3 small-12 columns forum-container hide-content js-large-edit hide-for-small">
        </div> -->
        <div id="forum-detail-container" class="large-12 small-12 columns">
            <div class="row collapse">
                <div class="large-12 small-12 columns">
                    <div class="mobile-use-container-wrapper">
                        <div class="mobile-use-container">
                            <div class="page-content" id="levelOne">
                            </div>
                            <div class="page-content" id="levelTwo">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- <div id="mobile-nav-container" class="small-12 columns show-for-small"></div> -->
        <div id="deleteforumModal" class="reveal-modal small modal-uikit">
            <a class="close-reveal-modal close hide-for-small">+</a>
            <div class="row collapse">
                <div class="large-12 columns">
                    <h5 class="title">Delete Forum</h5>
                    <div class="delete-content">
                        Sorry to see this forum discussion go!
                        <br> This can't be undone.
                    </div>
                    <div class="center">
                        <a class="button standard tangerine dusty-grey" id="delete-forum-cancel">Cancel</a>
                        <a class="button standard tangerine" id="delete-forum">Delete Forum</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="full-screen hide">
        <button id="test-close"> close</button>
</div>
<div id="showGuidelines-home" class="reveal-modal large modal-uikit">
    <a class="close-reveal-modal close hide-for-small">+</a>
    <a class="close-reveal-modal show-for-small icon-close2"></a>
    <div class="guide-background">
        <div class="row collapse">
            <div class="large-8 small-12 large-offset-2 columns">
                <div class="guideline-title">
                    CK-12 Cafe Guidelines
                </div>
                <div class="sub-title">
                    What is CK-12 Cafe?
                </div>
                <div class="content">CK-12 Cafe is meant to encourage CK-12 users to engage in exciting conversations. Users are invited to post questions, share viewpoints, offer multiple ways to solve problems, and share resources.
                </div>
                <div class="sub-title">
                    Share your ideas:
                </div>
                <div class="content">
                    <ul>
                        <li>Participate in great learning discussions.</li>
                        <li>Suggest alternate opinions and methods.</li>
                        <li>Share content you use with others.</li>
                        <li>Enhance the page with helpful questions and answers and avoid words or images that could lead to confusion.</li>
                    </ul>
                </div>
                <div class="sub-title">
                    Be respectful:
                </div>
                <div class="content">
                    <ul>
                        <li>Please keep in mind that these are learning discussions.</li>
                        <li>Respect the opinions of others.</li>
                        <li>Use appropriate language. Attacks on others, profane or offensive language, and other inappropriate comments will be deleted and users will lose the privilege to use CK-12.</li>
                        <li>To enhance clarity, use proper grammar and punctuation.</li>
                        <li>Post meaningful images and resources.</li>
                        <li>Don’t post personal information about yourself or others.</li>
                        <li>Don’t be a troll. Off-topic, incoherent, and inflammatory statements are destructive to the community and will be deleted.</li>
                        <li>Encourage others to positively add to the conversation to help everyone learn.</li>
                    </ul>
                </div>
                <div class="term">
                    “The art and science of asking questions is the source of all knowledge.”
                    <div class="term right">- Thomas Berger</div>
                </div>
            </div>
        </div>
    </div>
</div>
