<div class="tutorial__modal__top-row hide show-small">
    <a class="tutorial__modal__top-row__end__button">Skip tour</a>
    <a class="tutorial__modal__top-row__done__button hide">Done!</a>

</div>
<div class="tutorial__modal__slide">
    <div class="tutorial__modal__slide-0" data-slide="0">
         <p class="tutorial__modal__slide-0__header">Welcome to <span class="org-name">CK-12</span> Cafe</p>
         <img class="small-image show-small" src="/media/forums/images/2.0-Forums-animate.gif">
         <div class="tutorial__modal__slide-0__welcome">
            <img class="hide-small" src="/media/forums/images/2.0-Forums-animate.gif">
            <div class="tutorial__modal__slide-0__content">
                <div class="tutorial__modal__slide-0__content__top">
                CK-12 Cafe is a place where you can have a conversation and develop your viewpoints on topics that matter to you. Members are invited to post questions, viewpoints on a topic, multiple ways to solve problems, resources, links, and answers.
                </div>
                <div class="tutorial__modal__slide-0__content__middle">
                    You must have a CK-12 account to participate in, or follow, a discussion.
                </div>
                <div class="tutorial__modal__slide-0__content__bottom">
                    <div class="button tangerine standard start-tour" data-slide="1" >Take the tour</div>
                    <div class="cancel-tour"> or Skip the tour </div>
                    <!-- <div class="button tangerine standard start-tour show-small" data-slide="1" >Take the Tour</div> -->
                </div>

            </div>
        </div>
    </div>
    <!-- Slides -->
    <div class="slides-container hide">
        <div class="tutorial__modal__slide-1 mobile-swipe" data-slide="2">
            <img src="/media/forums/images/tour1.png" class="hide-small">
            <img src="/media/forums/images/tour1small.png" class="show-small">
            <div class="content">
                Post a question or share something interesting.
            </div>
        </div>
        <div class="tutorial__modal__slide-2 mobile-swipe" data-slide="3">
            <img src="/media/forums/images/tour2.png" class="hide-small">
            <img src="/media/forums/images/tour2small.png" class="show-small">
            <div class="content">
                Anyone in your discussion can post, reply to a question, or leave a comment.
            </div>
        </div>
        <div class="tutorial__modal__slide-3 mobile-swipe" data-slide="4">
            <img src="/media/forums/images/tour3.png" class="hide-small">
            <img src="/media/forums/images/tour3small.png" class="show-small">
            <div class="content">
                Vote on posts to indicate how useful they are to the community members.
            </div>
        </div>
    </div>
    <!-- End Slides -->
</div>

<div class="tutorial__modal__bottom-row">
    <div class="tutorial__modal__bottom-row__skip hide-small">
        <div class="tutorial__modal__bottom-row__skip__text">Skip Tour</div>
    </div>
    <div class="tutorial__modal__bottom-row__dots">
        <div class="tutorial__modal__bottom-row__dot tutorial__modal__bottom-row__dot--active" data-slide="2"></div>
        <div class="tutorial__modal__bottom-row__dot" data-slide="3"></div>
        <div class="tutorial__modal__bottom-row__dot" data-slide="4"></div>
    </div>
    <div class="tutorial__modal__bottom-row__next hide-small">
        <button class="button tangerine standard tutorial__modal__bottom-row__next__button">Continue</button>
        <button class="button tangerine standard tutorial__modal__bottom-row__end__button hide">Done!</button>
    </div>
</div>
