<div class="concept_container relative"> 
	<div class="relative">
		<div class="row collapse relative desktop_view ">
			<div class="concept_info_top"></div>
		</div>
	</div>
	<div class="relative featured_content hide-small">
		<div id="featured-loading-icon" class="loading-icon js-loading-icon">
        	<img alt="loading" src="/media/common/images/icon_loading.gif">
		</div>
		<div class="row collapse desktop_view ">
			<div>
				<h5>Featured Content</h5>
			</div>
			<div class="featured_content_wrapper"><div id="featured_content"></div></div>
		</div>
	</div>
	<div class="relative concept-list-container">
		<div id="concept-loading-icon" class="loading-icon js-loading-icon">
        	<img alt="loading" src="/media/common/images/icon_loading.gif">
		</div>
		<div class="vanilla">
			<div class="relative filters_container">
				<div class= "filters_wrapper">
					<div class="row collapse desktop_view filters_top_container"></div>
				</div>
				<div class="desktop_view relative">
					<div id="level-tooltip-container" class="level-tooltip-container hide">
						<div class="level-tooltip-header">
							<span>Levels are CK-12's student achievement levels.</span>
						</div>
						<div class="level-tooltip-grade">
							<span class="level-tooltip-grade-title">Basic</span>
							<span>Students matched to this level have a partial mastery of prerequisite knowledge and skills fundamental for proficient work.</span>
						</div>
						<div class="level-tooltip-grade">
							<span class="level-tooltip-grade-title">At Grade (Proficient)</span>
							<span>Students matched to this level have demonstrated competency over challenging subject matter, including subject matter knowledge, application of such knowledge to real-world situations, and analytical skills appropriate to subject matter.</span>
						</div>
						<div class="level-tooltip-grade">
							<span class="level-tooltip-grade-title">Advanced</span>
							<span>Students matched to this level are ready for material that requires superior performance and mastery.</span>
						</div>
						<div class="pointer level-tooltip-close js-level-tooltip-close">
							<i class="icon-close"></i>
						</div>
					</div>
				</div>
				<div class="row collapse desktop_view modalities_top_container">
					<ul id="modality_filters_list" class="filters_list">
						<li class="mdoalityfilterdropmenuwrap hide">
							<a class="lnk_modality_filter">
								<i class="icon-arrow3_right"></i>
								<span class="group_label">
									<span>More</span>
								<br class="show-small"/>
								<span>(</span><span id="more-concept-count"></span><span>)</span>
							</span>
						</a>
							<ul id="modality_extra_filter_list" class="drop-menu hide"></ul>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="relative vanilla">
			<div class="row collapse desktop_view">
				<div class="modalities_container">
					<ul class="modality_list"></ul>
				</div>
			</div>
		</div>
	</div>
</div>
