{
    "extends": "eslint-config-nfen",
    "globals": {
        "$": false,
        "_": false,
        "Annotator": false
    },
    "rules": {
        "indent": [
            2,
            4
        ],
        "quotes": [
            2,
            "single"
        ],
        "linebreak-style": [
            2,
            "unix"
        ],
        "semi": [
            2,
            "always"
        ],
        "no-extra-strict": 0,
        "dot-notation": 0,
        "strict": 0
    },
    "env": {
        "amd": true
    }
}
