<div class="row">
	<div class='column large-12 soft-registration-container'>
		<div class="dxtrack-user-action right soft-reg-banner-close" data-dx-desc='soft_reg_close'  data-dx-style='banner'>
		</div>
		<div class="column large-9 soft-reg-txt-container">
			<div class="soft-registration-content"><%= bannerMsgPropsSecondary %>
			</div>
			<div class='soft-registration-join-txt'>
				<%= bannerMsgPropsPrimary %>
			</div>
		</div>	
		<div class='column large-3'>
			<div class= 'soft-registration-btn-content'>
				<button class="dxtrack-user-action soft-reg-join-btn button tangerine standard"
				data-dx-desc='soft_reg_signup'  data-dx-style='banner'>JOIN</button>
			</div>
				<u class="dxtrack-user-action soft-reg-sign-in-btn" data-dx-desc='soft_reg_signin'  data-dx-style='banner'>SIGN IN</u>
		</div>
	</div>
</div>

