<div class=" right-container text-center row collapse">
	<h2 class="soft-reg-thanks-heading thanks-heading hide-small">Thanks for being patient</h2>
	<div class="row collapse teacher-student-image"><img src="/media/softRegistration/images/underage-thanks.png"/></div>
	<div class="soft-reg-thanks-text row collapse thanks-text"><span class="signup-thanks-text">Thanks for signing up!</span><span> We've sent instructions to your teacher, parent or guardian to activate your account.</span></div>
	<div class="row collapse">We can't wait for you to join us!</div>
	<div class="soft-reg-thanks-btn-container row back-homepage collapse"><a class="button tangerine standard back-homepage-btn">Back</a></div>
</div>