/************************************************************************************
CK12-Licence Content
 *************************************************************************************/
#licence-main{
	margin:10px 10px 0 5px;
}
/*****************************************************************************************
 * CK12-License Container
 ****************************************************************************************/
#license-content{
	max-height:400px;
	overflow:auto;
	margin-bottom:8px;
	background:#F9F9F5;
	text-align:justify;
}
#licenseModal .right-btn-wrap{
	text-align:center;
}