<html>
    <head>
        <title>Register Client</title>
    </head>
    <body>
        <form name="Client Data" method="GET" action="/dexter/register/client">
            <table>
                <tr>
                    <td> <label>Client Name</label> </td>
		    <td><input type='text' name="name" placeholder="FBS or iNAP or Flexmath or StudyNow" ></input></td>
                 </tr>
                 <tr>
                    <td>
                        <input type="submit" name="submit" value="OK" />
                    </td>
                </tr>
            </table>
        </form>
    </body>
</html>

