{% extends "details/modalities/modality_details_generic.html" %}
{% from "macros/attachments.html" import ck12_resources_tab with context %}
{% block modality_js %}
<script language="JavaScript" type="text/javascript">
    var artifactID = '{{c.modality_data.artifact.get_artifact_id()}}';
    var artifactRevisionID = '{{c.modality_data.artifact.get_revision_id()}}';
    var standardBoards = "";
    
    require(['main'],function(){
        require(['flxweb.details.modality.read']);
    })
</script>

{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{{ h.url_css('noty_theme_twitter.css') }}" />
<link rel="stylesheet" type="text/css" href="{{ h.url_css('jquery.noty.css') }}" />
{{ super() }}
{% endblock %}

{% block meta_extra %}
{{ super() }}
<meta property="og:title" content="{{ c.domain.name|escape }}" />
<meta property="og:type" content="website" />
<meta property="og:image" content="{{ c.modality_data.artifact.get('coverImageThumbLarge') }}" />
<meta property="og:url" content="{{ h.url(c.page_url, qualified=True) }}" />
<meta property="og:description" content="{{ c.modality_data.artifact.summary }}" />
{% endblock %}

{% block modality_actions %}
<ul>	
    {% if c.modality_data_json.artifact.artifactType in ['lesson', 'lecture', 'enrichment', 'asmtquiz', 'asmtpractice'] %}
	<li class="modality-info assign-to-class hide"><a title="Assign to Class" class="assign_to_class">Assign to Class</a><span class="assign-info-img icon-Info"></span><div id="reveal-overlay" class="reveal-modal-bg"></div></li>	<!-- This change is for QUIZ -->
    {% endif %}
	{% if c.modality_data_json.artifact.revisionInLibrary == None %}
		<li> <a id="add_to_library" title="Add to Library"> Add to Library </a> </li>
	{% else %}
		<li> <a class="already_in_library" title="Already in Library"> Add to Library </a> </li>
	{% endif %}
	<li> <a class="js-shareGroupLink" data-sharetype="group" data-artifactID="{{ c.modality_data.artifact.id }}" title="{{ _('Share via Groups') }}">Share to Groups</a> </li>
    {% if c.show_details %}<li> {{ ck12_modality_details( c.modality_data.artifact ) }} </li>{% endif %}
	<li> {{ ck12_modality_resources( c.modality_data.artifact ) }} </li>
</ul>
{% endblock %}

{% block after_metadata %}
{{ super() }}
{% block resources %}
<div class="clear"></div>
<div class="resourcesview">
    <h3 class=" js_block_toggle js_resources_toggle" data-toggle=".js_resources_toggle" data-container=".js_resources_container">
        <span class="show">{{ _('Show') }}</span><span class="noshow hide">{{ _('Hide') }}</span> {{ _('Resources') }} <span class="tip"></span>
    </h3>
    <div class="divider thin"></div>
    <div class="js_resources_container" style="display: none">
    <!-- Resources -->
    {{ ck12_resources_tab(c.modality_data.artifact, c.user, loadlater='clickload') }}
    </div>
</div>
{% endblock %}
{% endblock %}
