<html>
    <head>
        <title>Update Member Password</title>
    </head>
    <body>
        <form name="memberdata" method="POST" action="{{ h.url(controller='member', action='updatePassword') }}/{{c.memberDict['id']}}">
            <table>
                <tr>
                    <td>
                        Old password:
                    </td>
                    <td>
                        <input name="old password"
                               type="password"
                               size="64"/>
                    </td>
                </tr>
                <tr>
                    <td>
                        New password:
                    </td>
                    <td>
                        <input name="password"
                               type="password"
                               size="64"/>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="submit" name="submit" value="OK" />
                    </td>
                </tr>
            </table>
        </form>
    </body>
</html>
