.tutorial-container {
    display: block;
    position: absolute;
    top: 0; 
    right: 0;
    bottom: 0;
    left: 0; 
    z-index: 65000;
    background: transparent;
}

.tutorial-container .content {
    position: fixed;
    z-index: 1;
}

.tutorial-container .content * {
    color: white;
}

.tutorial-container .overlay {
    position: fixed;
    opacity: 0.8;
    background: #000;
    z-index: 1;
}
.tutorial-container .overlay.top {
    top: 0;
    right: 0;
    bottom: initial;
    left: 0; 
}
.tutorial-container .overlay.right {
    top: 0;
    right: 0;
    bottom: 0; 
    left: initial;
}
.tutorial-container .overlay.bottom {
    top: initial;
    right: 0;
    bottom: 0; 
    left: 0;
}
.tutorial-container .overlay.left {
    top: 0;
    right: initial;
    bottom: 0; 
    left: 0;
}

.tutorial-container .button {
    position: fixed;
    right: 10px;
    top: 10px;
    z-index:2;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
} 
.tutorial-container .button.continue {
    right: 100px;
}

.no-scroll {
    overflow: hidden !important;
}

/** make exit button look like an X after 1st slide **/
[class^="tutorial-"]:not(.tutorial-1) .exit {
    color: #FFF;
    width: 125px !important;
    height: 40px;
    background: rgba(100, 100, 100, 0.9);
    text-align: left;
    border: none;
    position: fixed;
    top: 10px;
    right: 0;
    line-height: 2em;
    font-size: 14px;
}
[class^="tutorial-"]:not(.tutorial-1) .exit:hover {
    color: #FFF;
    cursor: pointer;
}

[class^="tutorial-"]:not(.tutorial-1) .exit::before,
[class^="tutorial-"]:not(.tutorial-1) .exit::after {
    content: "";
    width: 2px;
    height: 20px;
    color: #FFF;
    background: #FFF;
    position: absolute;
    top: 10px;
    right: 20px;
}
[class^="tutorial-"]:not(.tutorial-1) .exit::before {
    -webkit-transform: rotate(45deg);
    transform: rotate(-45deg);
}

[class^="tutorial-"]:not(.tutorial-1) .exit::after {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}


@media screen and (max-width:767px) {
    /** make exit button look like an X after 1st slide **/
    [class^="tutorial-"]:not(.tutorial-1) .exit {
        color: transparent;
        width: 44px !important;
        height: 40px;
        background: transparent;
        border: none;
        position: fixed;
        top: 0 !important;
        right: 0 !important;
    }
    [class^="tutorial-"]:not(.tutorial-1) .exit:hover {
        color: transparent;
        cursor: pointer;
    }

    [class^="tutorial-"]:not(.tutorial-1) .exit::before,
    [class^="tutorial-"]:not(.tutorial-1) .exit::after {
        content: "";
        width: 2px;
        height: 36px;
        color: #FFF;
        background: #FFF;
        position: fixed;
        top: 5px;
        right: 22px;
    }
    [class^="tutorial-"]:not(.tutorial-1) .exit::before {
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
    }

    [class^="tutorial-"]:not(.tutorial-1) .exit::after {
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
    }

}
