
<div class="row collapse hide-for-small">
    <div class="large-12 columns" id="member-header">
    </div>
    <div class="large-12 columns back-button-container hide-for-small">
        <a class="back-button"><i class="icon-arrow3_left"></i>Back</a>
    </div>
</div>
<div class="row collapse">
    <div class="large12 columns forum-member-wrapper">
        <div id="forum-leader" class="row collapse">
            <h5 class="members-header"> OWNER </h5>
            <div id="forum-member-leader-list"></div>
        </div>
        <div id="forum-members" class="row collapse">
            <h5 class="members-header"> FOLLOWERS </h5>
            <div class="row collapse">
                <div class="large-12 small-12 columns member-details">
                    <div class="member-image left">
                        <img src="/media/forums/images/default_user.svg" alt="<%- name%>">
                    </div>
                    <div class="member-name invite-follwer-wrapper left">
                        <a id="invite-follower">
                            +Invite a Follower
                        </a>
                    </div>
                    <!-- <a data-reveal-id="removeMemberModal" class="close-group-member js-remove-member"></a> -->
                </div>
            </div>
            <div id="forum-member-list"></div>
        </div>
        <div class="row collapse">
            <div class="large-12 small-12 columns center">
                <a class="button btn-forum" id="btn-load-more">Load More Followers</a>
            </div>
        </div>
    </div>
</div>
