<html>
  <head></head>
  <body>
    <p>Dear {{ member.fix().name }},</p>
    <p>Thank you for registering with CK-12's FlexBook System. We're sure you're eager to explore our excellent resources. Here are a few tips to help:</p>
    <p></p>
    <ul>
        <li>Our content is divided into concepts and books. Concepts are great for learning or reviewing specific topics. Books provide in-depth details about a subject.</li>
        <li>Concepts and books can be edited to best match a teacher or learners needs.</li>
        <li>Please direct any questions or feedback to <a href="mailto:support@ck12.org">support@ck12.org</a>.</li>
    </ul>
    <p></p>
    <p>Just get started from <a href="{{ site }}" target="_blank">here</a>. Enjoy these great resources!</p>
    <p></p>
    <p> Sincerely,</p>
    <p>The CK-12 Team </p>
  </body>
</html>
