<div class="listitem js-listitem row collapse js-select-concept-wrapper" 
    data-encodedid="<%= data.domain && data.domain.encodedID %>"
    data-handle="<%= data.domain && data.domain.handle %>"
    data-artifactID="<%= data.artifactID %>"
    data-concept-collection-handle="<%= data.collection && data.collection.conceptCollectionHandle %>"
    data-collection-handle="<%= data.collection && data.collection.collectionHandle %>"
    data-collection-creator-ID="<%= data.collection && data.collection.collectionCreatorID %>"
    data-concept-collection-absolute-handle="<%= data.collection && data.collection.conceptCollectionHandle %>"
>
        <div class="large-9 column">
            <a title="<%- data.title %>" class="bold js-quiz-title"><%- data.title %></a>
            <div class="hide js-concept-name"><%= data.domain && data.domain.name %></div>
        </div>

        <div class="actions large-3 column text-right">
            <a href="#" class="button tangerine small  library-action library-assign js-assign-concept button-custom margin-bottom-zero" 
                data-artifactID="<%= data.artifactID %>">Assign</a>
            <% if (data.artifactType !== "asmtpractice") {%>
                <a title="Edit" target="_blank" class="mylibrary_edit hide-for-small library-action library-edit warn-external" href="<%= data.editor_url %>">
                    <span class="icon-edit"></span>
                </a>
            <% } %>
            <a title="Move to Archived" class="js_archive library-action library-archive" href="#" 
                data-revisionID="<%= data.artifactRevisionID?data.artifactRevisionID:data.resourceRevisionID %>"
                data-itemtype="<%= data.artifactID?"artifactRevision":"resourceRevision" %>"
                >
                <span class="icon-remove"></span>
            </a>
            
        </div>
</div>
