<div class="row collapse library-header bold hide-for-small">
    <div class="column large-9 small-12 header-text"><i class="icon-backpack"></i> My Library</div>
    <div class="column right large-3 hide-for-small dropdown-wrapper">
        <a href="#" class="button turquoise small dropdown" data-dropdown="drop1">Create</a>
        <ul class="f-dropdown content-type-dropdown" data-dropdown-content="" id="drop1">
            <li class="js-dropdown-element warn-external create-new-button"><a target="lms-context-override" title="New Modality" href="/new/concept/?referrer=my_content"> Modality</a></li>
            <li class="js-dropdown-element warn-external create-new-button"><a target="lms-context-override" title="New Quiz" href="/create/exercise/test/?referrer=my_content"> Quiz</a></li>
        </ul>
    </div

    
</div>
