<div class="small-<%= data.small %> large-<%= data.large %> columns left subject-wrapper no-hover">
	<div class="row collapse pointer subject-title-wrapper js-node-wrapper">
		<div class="small-3 large-3 columns subject-icon">
			<span class="<%= data.icon %>"></span>
		</div>
		<div class="small-9 large-9 columns subject-title">
			<a data-encodedId="<%= data.encodedID %>" class="link-green js-node-name" data-collection="<%= data.title %>"><%= data.title %></a>
		</div>
	</div>
</div>

<!-- <a class="subject-link js-node-wrapper show-for-small">
	<span>
		<span class="subject-icon">
			<span class="<%= data.icon %>"></span>
		</span>
		<span data-encodedId="<%= data.encodedID %>" class="browse-title js-node-name"><%= data.title %></span>
	</span>
</a> -->