body{
	background: blue;
}
#header {
  background: #56544D;
  color: #FF6633;
  height: 75px;
  font-weight: bold; }
  #header .title {
    font-size: 3em;
    margin-left: 60px; }
  #header .version {
    margin: 35px 0 0 20px; }
  #header .date {
    color: #8E8774;
    font-weight: normal;
    margin: 20px 35px 0 0; }

.row {
  max-width: 100%; }

.button, .button.standard {
  padding: 0.55em 1em 0.513em;
  border: none;
  border-radius: 5px;
  font-size: 1em; }
  .button.split:not(.nav), .button.standard.split:not(.nav) {
    padding-right: 3.5em; }
    .button.split:not(.nav) span, .button.standard.split:not(.nav) span {
      width: 2.3em; }
      .button.split:not(.nav) span:before, .button.standard.split:not(.nav) span:before {
        border-top-style: solid;
        border-width: 0.53em;
        margin-left: -0.462em;
        top: 0.925em; }
.button.huge {
  padding: 1.03125em 1.7em;
  font-size: 1.25em; }
  .button.huge.split:not(.nav) {
    padding-right: 5.5em; }
    .button.huge.split:not(.nav) span {
      width: 3.75em; }
      .button.huge.split:not(.nav) span:before {
        border-top-style: solid;
        border-width: 0.625em;
        margin-left: -0.5625em;
        top: 1.3125em; }
.button.large {
  padding: .75em 1.25em;
  font-size: 1.13em; }
  .button.large.split:not(.nav) {
    padding-right: 4.1em; }
    .button.large.split:not(.nav) span {
      width: 2.75em; }
      .button.large.split:not(.nav) span:before {
        border-top-style: solid;
        border-width: 0.6em;
        margin-left: -0.462em;
        top: 1.113em; }
.button.small.split:not(.nav) {
  padding-right: 3.238em; }
  .button.small.split:not(.nav) span {
    width: 2.013em; }
    .button.small.split:not(.nav) span:before {
      border-top-style: solid;
      border-width: 0.5625em;
      margin-left: -0.362em;
      top: 0.944em; }
.button i, .button i.left-side, .button span, .button span.left-side {
  margin-right: 5px; }
.button i.right-side, .button span.right-side {
  margin-left: 5px;
  margin-right: 0; }
.button.primary.turquoise, .button.turquoise {
  background: #00ABA4;
  box-shadow: 0 3px 0 #0089A6; }
  .button.primary.turquoise i, .button.turquoise i {
    color: #0089A6; }
  .button.primary.turquoise:hover, .button.turquoise:hover {
    background: #4DCCC4;
    box-shadow: 0 3px 0 #00ABA4;
    color: #fff; }
    .button.primary.turquoise:hover i, .button.turquoise:hover i {
      color: #FFF; }
  .button.primary.turquoise:active, .button.turquoise:active {
    background: #019690;
    box-shadow: 0 -3px 0 #007974;
    top: 3px; }
    .button.primary.turquoise:active i, .button.turquoise:active i {
      color: #FFF; }
.button.primary.tangerine, .button.tangerine {
  background: #FF6633;
  box-shadow: 0 3px 0 #D9491A; }
  .button.primary.tangerine i, .button.tangerine i {
    color: #D9491A; }
  .button.primary.tangerine:hover, .button.tangerine:hover {
    background: #D9491A;
    box-shadow: 0 3px 0 #FF6633;
    color: #FFF; }
    .button.primary.tangerine:hover i, .button.tangerine:hover i {
      color: #FFF; }
  .button.primary.tangerine:active, .button.tangerine:active {
    background: #C54116;
    box-shadow: 0 -3px 0 #9C320F;
    top: 3px; }
    .button.primary.tangerine:active i, .button.tangerine:active i {
      color: #FFF; }
.button.primary.dusty-grey, .button.dusty-grey {
  background: #B5B1A8;
  box-shadow: 0 3px 0 #9C9992; }
  .button.primary.dusty-grey i, .button.dusty-grey i {
    color: #8E8774; }
  .button.primary.dusty-grey:hover, .button.dusty-grey:hover {
    background: #CEC9BE;
    box-shadow: 0 3px 0 #B5B1A8;
    color: #fff; }
    .button.primary.dusty-grey:hover i, .button.dusty-grey:hover i {
      color: #FFF; }
  .button.primary.dusty-grey:active, .button.dusty-grey:active {
    background: #8E8774;
    box-shadow: 0 -3px 0 #76705E;
    top: 3px; }
    .button.primary.dusty-grey:active i, .button.dusty-grey:active i {
      color: #FFF; }
.button.disabled.grey {
  background: #DDDDDD;
  box-shadow: 0 3px 0 #CCCCCC;
  color: #999999; }
  .button.disabled.grey i {
    color: #999999; }
.button.secondary {
  color: #FFF; }
  .button.secondary:hover {
    color: #FFF; }
  .button.secondary:active {
    color: #FFF; }
  .button.secondary.purple {
    background: #B186B1;
    box-shadow: 0 3px 0 #9B719B; }
    .button.secondary.purple i {
      color: #9B719B; }
    .button.secondary.purple:hover {
      background: #CDAACD;
      box-shadow: 0 3px 0 #B186B1; }
      .button.secondary.purple:hover i {
        color: #FFF; }
    .button.secondary.purple:active {
      background: #9B719B;
      box-shadow: 0 -3px 0 #795479;
      top: 3px; }
      .button.secondary.purple:active i {
        color: #FFF; }
.button.split {
  box-shadow: none; }
  .button.split:active {
    top: 0;
    box-shadow: none; }
  .button.split:hover {
    box-shadow: none; }
  .button.split.simple {
    background: #FFFFFF;
    border: 2px solid #CCCCCC;
    box-shadow: none;
    color: #8F8E8A;
    font-weight: normal; }
    .button.split.simple span {
      border-left-color: #FFFFFF; }
      .button.split.simple span:before {
        border-color: #00ABA4 transparent transparent; }
  .button.split.custom span {
    text-align: center;
    border-left-color: #4DCCC4; }
    .button.split.custom span:before {
      border: none; }
    .button.split.custom span i {
      color: #FFF;
      display: block;
      margin: 9px 0 0 5px; }
  .button.split.nav {
    font-weight: normal;
    border-radius: 0; }
    .button.split.nav img {
      margin-right: 5px; }

.mainContainer .title {
  color: #56544D;
  font-size: 1.5em;
  font-weight: bold;
  margin: 40px 0 25px 15px; }

.button-class {
  color: #D6D6D6;
  font-size: 0.9em; }

.middle-column {
  border-left: 2px dashed #CCCCCC;
  border-right: 2px dashed #CCCCCC;
  margin-left: 30px; }

.custom-last {
  float: left !important; }

.tangerine-list {
  padding: 0; }
  .tangerine-list.simple:before {
    left: 86px; }
  .tangerine-list.simple:after {
    left: 85px; }
  .tangerine-list li {
    padding: 5px; }
    .tangerine-list li:hover {
      background: #FFF9D5; }
  .tangerine-list.nav {
    width: auto;
    border: none; }
    .tangerine-list.nav.tangerine:before {
      border-color: transparent transparent #ff6633; }
    .tangerine-list.nav.tangerine:after {
      border-color: transparent transparent #FF6633; }
    .tangerine-list.nav.tangerine li {
      background: #FF6633; }
      .tangerine-list.nav.tangerine li a {
        color: #FFF; }
      .tangerine-list.nav.tangerine li i {
        color: #D9491A;
        margin-right: 5px; }
      .tangerine-list.nav.tangerine li:hover {
        background: #D9491A; }
        .tangerine-list.nav.tangerine li:hover i {
          color: #FFF; }

input[type='text'], textarea.tangerine-textarea {
  border: 2px solid #CDCCCA;
  border-radius: 5px;
  color: #56544D;
  height: auto; }
  input[type='text'][disabled], textarea.tangerine-textarea[disabled] {
    border-color: #CDCCCA !important;
    color: #CCCCCC !important;
    background: #F4F4F4; }
  input[type='text']:focus, textarea.tangerine-textarea:focus {
    box-shadow: none;
    border-color: #878682; }
  input[type='text'], input[type='text'].standard, textarea.tangerine-textarea, textarea.tangerine-textarea.standard {
    font-size: 1em;
    padding: 10px 15px; }
  input[type='text'].huge, textarea.tangerine-textarea.huge {
    font-size: 1.25em;
    padding: 17px 19px; }
  input[type='text'].large, textarea.tangerine-textarea.large {
    font-size: 1.13em;
    padding: 14px 17px; }
  input[type='text'].huge, textarea.tangerine-textarea.huge {
    font-size: 0.8125em;
    padding: 8px 11px; }

.input {
  position: relative; }
  .input i {
    position: absolute;
    z-index: 1; }
  .input, .input.standard {
    font-size: 1em; }
    .input input[type='text'], .input.standard input[type='text'] {
      padding: 10px 15px; }
    .input i, .input.standard i {
      font-size: 1.5em;
      right: 8px;
      top: 8px; }
  .input.huge {
    font-size: 1.25em; }
    .input.huge input[type='text'] {
      padding: 17px 19px; }
    .input.huge i {
      right: 13px;
      top: 13px; }
  .input.large {
    font-size: 1.13em; }
    .input.large input[type='text'] {
      padding: 14px 17px; }
    .input.large i {
      right: 10px;
      top: 12px; }
  .input.small {
    font-size: 0.8125em; }
    .input.small input[type='text'] {
      padding: 8px 11px; }
  .input.valid i {
    color: #B8D543; }
  .input.alert input[type='text'] {
    border-color: #D9491A; }
  .input.alert i {
    color: #D9491A; }
  .input.search i, .input.search.standard i {
    background: #A5E5D8;
    color: #00ABA4;
    padding: 4px 7px;
    right: 5px;
    top: 5px; }
  .input.search.huge i {
    padding: 10px 15px; }
  .input.search.large i {
    padding: 8px 12px; }
  .input.search.small i {
    padding: 3.5px 8px; }

label .checkbox.custom {
  background: none repeat scroll 0 0 #FFFFFF;
  border: 2px solid #CCCCCC;
  border-radius: 2px;
  display: inline-block;
  height: 16px;
  position: relative;
  top: 2px;
  width: 16px;
  overflow: hidden; }
  label .checkbox.custom i {
    font-size: 16px;
    left: -2px;
    position: relative;
    top: -2px;
    display: none; }
  label .checkbox.custom:hover i {
    background: #000000;
    color: #FFFFFF;
    display: block; }
  label .checkbox.custom.checked {
    border-color: #00ABA4; }
    label .checkbox.custom.checked i {
      color: #00ABA4;
      background: #FFF;
      display: block; }

label .custom.radio {
  border: 2px solid #CCCCCC;
  height: 17px;
  width: 17px; }
  label .custom.radio:hover:before {
    background: none repeat scroll 0 0 #56544D;
    border-radius: 1000px 1000px 1000px 1000px;
    content: "";
    display: block;
    height: 7px;
    left: 3px;
    position: relative;
    top: 3px;
    width: 7px; }
  label .custom.radio.checked {
    border-color: #56544D; }
    label .custom.radio.checked:before {
      background: none repeat scroll 0 0 #56544D;
      border-radius: 1000px 1000px 1000px 1000px;
      content: "";
      display: block;
      height: 7px !important;
      left: 3px;
      position: relative;
      top: 3px;
      width: 7px !important; }

.onoffswitch {
  position: relative;
  width: 74px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none; }
  .onoffswitch .onoffswitch-label {
    display: block;
    overflow: hidden;
    cursor: pointer;
    border-radius: 10px; }
  .onoffswitch .onoffswitch-inner {
    width: 200%;
    margin-left: -100%;
    -moz-transition: all 0.3s ease-in 0s;
    -webkit-transition: all 0.3s ease-in 0s;
    -o-transition: all 0.3s ease-in 0s;
    transition: all 0.3s ease-in 0s; }
    .onoffswitch .onoffswitch-inner:before, .onoffswitch .onoffswitch-inner:after {
      float: left;
      width: 50%;
      height: 30px;
      line-height: 30px;
      font-size: 14px;
      color: #FFF;
      font-family: Trebuchet, Arial, sans-serif;
      font-weight: 700;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      padding: 0; }
    .onoffswitch .onoffswitch-inner:before {
      content: "ON";
      padding-left: 10px;
      background-color: #FF6633;
      color: #FFFFFF; }
    .onoffswitch .onoffswitch-inner:after {
      content: "OFF";
      padding-right: 10px;
      background-color: #CEC9BE;
      color: #FFFFFF;
      text-align: right; }
  .onoffswitch .onoffswitch-switch {
    width: 21px;
    background: #D9491A;
    border-radius: 7px;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 44px;
    -moz-transition: right 0.3s ease-in 0s;
    -webkit-transition: right 0.3s ease-in 0s;
    -o-transition: right 0.3s ease-in 0s;
    transition: right 0.3s ease-in 0s;
    margin: 4.5px; }
  .onoffswitch .onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0; }
  .onoffswitch .onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0; }
  .onoffswitch .onoffswitch-checkbox {
    display: none; }
  .onoffswitch.tangerine .onoffswitch-inner:before {
    background-color: #FF6633; }
  .onoffswitch.tangerine .onoffswitch-switch {
    background: #D9491A; }
  .onoffswitch.dark-blue .onoffswitch-inner:before {
    background-color: #56544D;
    color: #A5E5D8; }
  .onoffswitch.dark-blue .onoffswitch-switch {
    background: #00ABA4; }
  .onoffswitch.cyan .onoffswitch-inner:before {
    background-color: #A5E5D8;
    color: #0089A6; }
  .onoffswitch.cyan .onoffswitch-switch {
    background: #00ABA4; }
