{% extends "common/master.html" %}

{% block title %}{{ _("Library") }}{% endblock %}

{% block stylesheets %}
{{ super() }}
	<link rel="stylesheet" type="text/css" media="all" href="{{ h.asset_lib('library/css/tangerine.library.css') }}" />
	<link rel="stylesheet" type="text/css" media="all" href="{{ h.asset_lib('common/css/google.docs.css') }}" />
{% endblock %}
 
{% block js %}
{{ super() }}
	<script>
		document.getElementsByClassName('page-title')[0].innerHTML = "Library";
    	require(['main'], function(){
            require(['library/controllers/library'],function(Library){
                Library.start({
                    el: $("body")
                });
            });
        });
	</script>
{% endblock %}
 
<!-- Main Page Content and Sidebar -->
{% block content %}
{{ super() }}
	<div id="page-disable" class="page-disable js-page-disable hide"></div>
	<div id="loading-icon" class="loading-icon js-loading-icon">
       	<img alt="loading" src="{{ h.asset_image('common/images/icon_loading.gif') }}">
	</div>
	<div id="library-container" class="row collapse"></div>
{% endblock %}
<!-- End Main Content and Sidebar -->
