{% extends "details/artifact_details_common.html" %}
{% from "macros/artifact.html" import ck12_metadata_list_for_standards with context %}
{% from "macros/attachments.html" import ck12_resources_link with context %}

{% block hidden_divs %}
{{ super() }}
{% include "jstemplates/share_groups.html" %}
{% endblock %}

{% block js %}
{{ super() }}

<script language="javascript" type="text/javascript">
	require(['main'], function(){
		require(['main-details'], function(){
			require(['flxweb.details.flexbook']);
		});
	});
</script>
{% endblock %}

{% block schema_itemscope %} itemscope itemtype="http://schema.org/Book" {% endblock %}

{% block artifact_coverimage %}
	<div class="books hide-for-small">
		<figure class="book">
			<a href="{{ url(controller='details', action='book_details_react', artifact_type=artifact.get('artifactType'), artifact_title=artifact.get('handle'), realm=artifact.get('realm'), ext=None, noindex=c.noindex) }}" title="{{ artifact.title|escape }}">
				<ul>
					<li class="front">
						<div class="cover">
							<img src="{{ artifact|ck12_artifact_cover_thumbnail_large }}" title="{{ artifact.title|escape }}" alt="{{ artifact.title|escape }}">
						</div>
						<span class="shadow"></span>
					</li>
					<li class="pages">
						<div class="thin page1"></div>
						<div class="thin page2"></div>
						<div class="thin page3"></div>
					</li>
					<li class="back"></li>
					<span class="shadow"></span>
				</ul>
			</a>
		</figure>
	</div>
{% endblock %}

{% block artifact_edit_link %}
<div class="divider spacetop"></div>
<div class="spacetop">
		{{ ck12_artifact_edit( artifact=c.artifact, context=None, user=c.user, position=None, editable=True) }}
</div>
{% endblock %}


{% block artifact_sidebar_extra %}
{% if c.show_answer_keys_link %}
	{{ ck12_resources_link(c.artifact, c.user) }}
	<div class="divider spacetop"></div>
{% endif %}
{% endblock %}

{% block artifact_navigation %}
{% endblock %}

{% block artifact_navigation_top_small %}
{% endblock %}

{% block content_body %}
	<div class="js_detailbody">
		<div class="listheading alternate-h2">{{ _("Table of Contents" )}}</div>
		<p class="listitemsummary messagetousers hide-for-small">{{ artifact.messageToUsers|escape|replace("None", "") or '' }}</p>
		<ul class="toc_list">
		{{ _("Loading...")}}&nbsp;<img title="{{ _('Loading...') }}" class="js_loadingplaceholder" src="{{ h.url_images('icon_loading.gif') }}" width="43" height="11" />
		</ul>
	</div>
{% endblock %}

{% block artifact_navigation_bottom %}
{% endblock %}

{% block extra_content %}
{% endblock %}

<!-- Overriding block from artifact_details_common -->
{% block pageinfobottom %}
{% endblock %}
{% block standard_correlations %}
	<div class="columnwrap spacetopmedium js_standardboards_container"
		data-loadurl="{{ h.url( controller='standards', action='ajaxStandardBoardsByArtifactID', artifact_id=c.artifact.get_artifact_id() ) }}">
	</div>
	<div class="clear"></div>
	<div class="divider spacetop"></div>
{% endblock %}
