<!DOCTYPE html>
<link rel="stylesheet" href="{{ h.url_css('style.css') }}" />
<link rel="stylesheet" href="{{ h.url_css('rosetta.css') }}" />
<link rel="stylesheet" href="{{ h.url_css('reader.css') }}" />
<link rel="stylesheet" type="text/css" href="{{ h.url_lib('jquery-ui/css/smoothness/jquery-ui-1.8.17.custom.css') }}" />
<link rel="stylesheet" type="text/css" href="{{ h.url_lib('jquery-loadmask/css/jquery.loadmask.css') }}" />
<script language="javascript" type="text/javascript">
	var webroot_url = '{{ h.url('/', qualified=True) }}';
</script>
<script type="text/javascript" src="{{ h.url_lib('jquery/jquery-1.7.1.js') }}"></script>
<script type="text/javascript" src="{{ h.url_lib('jquery-loadmask/js/jquery.loadmask.js') }}"></script>
<script language="javascript" type="text/javascript" src="{{ h.url_lib('jquery-ui/js/jquery-ui-1.8.17.custom.min.js') }}"></script>
<script language="javascript" type="text/javascript" src="{{ h.url_lib('jquery-plugins/jquery.scrollTo-min.js') }}"></script>
<script language="javascript" type="text/javascript" src="{{ h.url_lib('jquery-plugins/jquery.ba-hashchange.min.js') }}"></script>
<script language="javascript" type="text/javascript" src="{{ h.url_js('jquery.flxweb.carousel.js') }}"></script>
<script language="javascript" type="text/javascript" src="{{ h.url_js('flxweb.utils.base64.js') }}"></script>
<script language="javascript" type="text/javascript" src="{{ h.url_js('flxweb.utils.url.js') }}"></script>
<script language="javascript" type="text/javascript" src="{{ h.url_js('flxweb.details.paginated.js') }}"></script>
<script type="text/javascript" src="http://use.typekit.com/ubf8gom.js"></script>
<script type="text/javascript">try{Typekit.load();}catch(e){}</script>

{# Since this page does not use flxweb.global.js and other depencies, I have called ADS directly rather than
using the $.flxweb.logADS #}
{% if config.ads_enabled == "true" %}
<script language="javascript" type="text/javascript" src="{{ config.ads_js }}"></script>
<script language="javascript" type="text/javascript">
//ADS log visited event
(function($) {
    $(document).ready(function() {
       _ck12.logEvent('fbs_visit', 'visited', 1 , [{{c.artifact.artifactID}},{{c.artifact.artifactRevisionID}}], ['reader']);
    });
})(jQuery);
</script>
{% endif %}
	<!-- content body -->
	<section id="artifact_content" class="clearfix">
	{% block content_body %}
		<header>
			<h1>{{c.artifact.title}}</h1>
			<div class="left">
				<a href="{{config.webroot_url}}" title="{{ _('CK-12 Foundation Home') }}" id="logo" style="width:7em">CK-12</a>
				<a href="#close" title="Close" id="close">Close</a>
				<a href="#toc" title="Table of Contents" id="toc">Table of Contents</a>
			</div>
			<div class="right">
				<a href="#" title="Increase font size" id="increaseFont">Increase font size</a>
				<a href="#" title="Decrease font size" id="decreaseFont">Decrease font size</a>
			</div>
		</header>

		<nav>
			<a href="#prev" title="Previous page" id="prev"><span>Previous page</span></a>
			<a href="#next" title="Next page" id="next"><span>Next page</span></a>
		</nav>
		
		<div id="toc_container">
			<div class="wrapper">
				<h2>Table of contents</h2>
         {% if c.do_show_custom_toc == "false" %}
         <div id="toc_enclosure">
         <div id="toc_skeleton_enclosure">
         <div id="table_of_contents">
                <ol start=1 style="width:90%;">
                {% for each in c.artifact.children %}
                    <li>
                    <button class="toc_button" id="{{each.handle}}" data-artifactType="{{ each.artifactType }}" data-realm="{{ each.realm }}" onmouseup='loadChapter(this, false, "{{ each.artifactType }}")'>{{ each.title }}</button>
                    {% for key,value in c.toc_list.items() %}
                        {% if each.title == key %}
                        <ol style='list-style:circle; text-align:left; vertical-align:top'>
                        {% for each_id in value %}
                            <li><button class='toc_nested_button' onmouseup='loadSection()'>{{c.toc_artifact_map[each_id].title}}</button></li>
                        {% endfor %}
                        </ol>
                        {% endif %}
                    {% endfor %}
                    </li>
                {% endfor %}
                 </ol>
         </div>
         </div>
         <!--<div id="toc_pull_button" title="Table of contents">
         </div>
         <div id="toc_help_text">
             <span><img style="float:left;position:absolute;left:-10" src="{{h.url_images('icon_tip_arrow.png')}}"/></span>Click to view the table of contents.
	     <button style="background:transparent;border-style:none;position:absolute;left:88%;top:70%" onmouseup="hide_toc_help()"><span style="color:grey">Hide</span></button>
         </div>-->
         </div>
         {% else %}
                 {% if c.header_titles %}
         <div id="toc_enclosure">
         <div id="toc_skeleton_enclosure">
         <div id="table_of_contents">
                 <ol start=1 style="width:90%;">
                     {% for each_title in c.header_titles %}
                         <li><button class='toc_section_button' onmouseup='loadSection()'>{{each_title}}</button></li>
                     {% endfor %}
                  </ol>
         </div>
         </div>
         <!--<div id="toc_pull_button" title="Table of contents">
         </div>
         <div id="toc_help_text">
             <span><img style="float:left;position:absolute;left:-10" src="{{h.url_images('icon_tip_arrow.png')}}"/></span>Click to view the table of contents.
	     <button style="background:transparent;border-style:none;position:absolute;left:88%;top:70%" onmouseup="hide_toc_help()"><span style="color:grey">Hide</span></button>
         </div>-->
         </div>
                 {% endif %}
             
         {% endif %}
			</div>
		</div>

		<div id="container">

        <div id="artifact_reader_title">{{c.artifact.title}}</div>
        <div id="content_frame" class="content_frame_holder" width="100%" ></div>

		</div>
        <div id="actual_content" >
            {{ c.artifact.getXHTML() }}<p>.</p>
        </div>
        <div id="actual_content_first">
        </div>
        <div id="backup_content" >
            {{ c.artifact.getXHTML() }}
        </div>
        <div id="preprocessed_content">
        </div>
        <div id="paginated_div">
        </div>
        <div id="split_tables">
        </div>
        <div id="split_lists">
        </div>

		<footer>
        <div id="reader_page_info">
            <div id="current_content_covered_info" data-artifactType="{{ c.artifact.artifactType }}"> Chapter 1: 10% </div>
            <div id="reader_page_slider">
            </div>
            <div id="percent_covered_info_full">
                {{_("Reading")}}<span id="percent_covered_info"></span>
            </div>
        </div>
		</footer>
	{% endblock %}
	</section>
	<!-- /content body -->
