<div id = "email-verified" data-options="closeOnBackgroundClick: false;" class="reveal-modal medium app-reveal-modal modal-uikit emailVerified">
    <div class="close close-modal close-email-verified close-reveal-modal">+</div>
		<div class=" right-container text-center row collapse">
			<div class="verified-title">Email Verified</div>
			<div class="verified-image"><img src="{{h.url_images('landing/email-verified.png' )}}"/></div>
			<div class="verified-title-small show-small">Email Verified</div>
			<div class="verified-text">Well done! You've successfully verified the email address <span id ="verified_email_address"></span>.</div>
			<div><a id="okButtonModal"class="button tangerine standard verified-ok-button">OK</a></div>
		</div>
</div>
	
<div id ="email-verified-mob" class="show-small hide">
	<div class="verified-image"><img src="{{h.url_images('landing/email-verified.png' )}}"/></div>
	<div class="verified-title-small show-small">Email Verified</div>
	<div class="verified-text">Well done! You've successfully verified the email address <span id ="verified_email_address_mob"></span>.</div>
	<div><a id="okButtonModalMob" class="button tangerine standard verified-ok-button">OK</a></div>
</div>