{% extends "common/header.html" %}

{% block extra_header_class %}no-icons{% endblock %}

{% block role_selection %}
<ul class="left role-selection-wrapper">
	<li class="role-icon list-box">
		<a id="nav_switch_student" href="{{ h.url('student') }}" title="{{ _('Find information on how CK-12 can help Students learn') }}" class="box-anchor">
			<i class="icon-student-version menu-item-img menu-item-img-top"></i>
			<span class="menu-item-title menu-item-title-top bold">{{ _('Switch to Student Version') }}</span>
		</a>
	</li>
</ul>
{% endblock %}

{% block after_nav_items %}
<li class="standards-link hide-small list-box new-nav-standards-link">
	<a id="nav_standards" title="Standards" class="box-anchor">
		<span class="menu-item-img-top icon-standards"></span>
		<span class="menu-item-title-top">
			<span>{{ _('Standards') }}</span>
			<i class="icon-arrow-up menu-title-arrow"></i>
		</span>
		
	</a>
	<ul id="standardsDropdownNew" class="f-dropdown standards-dropdown navigation-dropdown">
		<li class="js-dropdown-element"><a id="nav_ccss" title="COMMON CORE MATH" href="/ccss/"><span class="menu-inside-title">{{ _('COMMON CORE MATH') }}</span></a></li>
		<li class="js-dropdown-element"><a id="nav_ngss" title="NEXT GENERATION SCIENCE" href="/ngss/"><span class="menu-inside-title">{{ _('NEXT GENERATION SCIENCE') }}</span></a></li>
	</ul>
</li>
<li class="standards-link original-nav-standards-link hide-small">
	<a id="nav_standards" data-dropdown="standardsDropdown" title="Standards">
		<span class="menu-item-img icon-standards"></span>
		<i class="menu-item-title">{{ _('Standards') }}</i>
		<span class="small button dropdown"></span>
	</a>
	<ul id="standardsDropdown" data-dropdown-content="" class="f-dropdown standards-dropdown">
		<li class="js-dropdown-element"><a id="nav_ccss" title="COMMON CORE MATH" href="/ccss/">{{ _('COMMON CORE MATH') }}</a></li>
		<li class="js-dropdown-element"><a id="nav_ngss" title="NEXT GENERATION SCIENCE" href="/ngss/">{{ _('NEXT GENERATION SCIENCE') }}</a></li>
	</ul>	
</li>
<li class="show-small">
	<a id="side_nav_standards" title="standard" href="/standard/">
		<span class="menu-item-img icon-standards"></span>
		<span class="menu-item-title">{{ _('Standards') }}</span>
	</a>
</li>
<li class="role-icon list-box show-for-small">
	<a id="nav_switch_student" href="{{ h.url('student') }}" title="{{ _('Find information on how CK-12 can help Students learn') }}" class="box-anchor">
		<i class="icon-student-version menu-item-img menu-item-img-top"></i>
		<span class="menu-item-title menu-item-title-top">{{ _('Switch to Student Version') }}</span>
	</a>
</li>
{% endblock %}
{% block notify_image %}
	<a href="http://www.ck12.org/about/whats-new/#teacher" class="whatsnew">
	  <img src="{{ h.asset_image('common/images/whats-new-animation-teacher.gif') }}" class="role-image">	
	</a>
{% endblock %}
{% block notify_text %}
	<a href="http://www.ck12.org/about/whats-new/#teacher" class="whatsnew">See what's new this school year</a>
{% endblock %}
