<script type="text/javascript">
// GA global object
var _gaq = _gaq || [];
// GTM dataLayer for global data push
dataLayer = [];

{# RG: TODO: Why not push this to the dataLayer ?
// global js variables to be used for Google Tag Manager #}
var pageType = pageType || "{{ c.page_type}}";
var pageSubType = pageSubType || "";
var gtm_pageType = pageType;
var gtm_pageSubType = pageSubType;
var gtm_userType,
	gtm_memberType,
	gtm_user_logged_in,
	gtm_user_id,
	gtm_user_firstname,
	gtm_user_lastname,
	gtm_user_email,
	gtm_user_username;
try {
	{% if c.user %}
		gtm_userType="Member";
		{% if c.user.isTeacher() %}
		gtm_memberType = "teacher";
		{% else %}
		gtm_memberType = "student";
		{% endif %}

		gtm_user_logged_in = true;
		gtm_user_id = '{{ c.user.id }}';
		gtm_user_firstname = {{ c.user.firstName|e|ck12_json }};
		{% if c.user.lastName %}
		gtm_user_lastname = {{c.user.lastName|e|ck12_json }};
		{% else %}
		gtm_user_lastname = '';
		{% endif %}
		gtm_user_email =  {{ c.user.email|e|ck12_json }};
		gtm_user_username =  {{ c.user.login|e|ck12_json }};
	{% else %}
		gtm_user_logged_in = false;
		gtm_userType="Guest";
	{% endif %}
} catch(e) {
	console.log(e);
}
</script>

<!-- Google Tag Manager -->
{% if config.gtm_enabled == "true" %}
<noscript><iframe src="//www.googletagmanager.com/ns.html?id={{ config.gtm_container  }}"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','{{ config.gtm_container  }}');</script>
<!-- End Google Tag Manager -->
{% endif %}
