@import '../main';

:local {
    .page {
        background-color: $IVORY;
    }

    .contentBody {
        background-color: $IVORY;
        margin:auto;
        max-width: 73rem !important;
    }

    .loader {
        text-align: center;
        margin: 0 auto;
        display: block;
        padding: ($global-padding * 3) 0;
    }
}