{% extends "common/master.html" %}
{% block title %}{{ _(" Auto Aligned Standards") }}{% endblock %}

{% block stylesheets %}
{{ super() }}
<link rel="stylesheet" type="text/css" media="all" href="{{ h.asset_lib('autoStdAlignment/css/autoStandard.css') }}" />
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.css" />
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick-theme.min.css" />
{% endblock %}


{% block js %}
{{ super() }}
<script>
  require(['main'], function(){});
</script>
<script src='/media/autoStdAlignment/dist/vendor.bundle.js'></script>
<script src='/media/autoStdAlignment/dist/autoAlignment.js'></script>
{% endblock %}

{% block content %}
{{ super() }}
<div id="stdAligned" style="background-color:white; height: 700px"></div>
{% endblock %}
