.#{$slide-class}-4 {
    background-image: url('/media/conceptmap/images/tutorial/feedback-tour.png');
    background-position: top right;
    background-repeat: no-repeat;
    background-size: 50%;
    padding-right: 30%;
}
