<div class="columns large-12 small-12 standards-parent-container hide-for-small">
	<div class="row collapse">
		<div class="columns large-3 standrads-left-nav">
			<div class="row collapse standards-header-wrapper js-standards-header-wrapper">
				<img class="left" alt="math" src="/media/standard/images/science-icon.png">
				<div class="left standards-header">
					<div class="standards-first-header"> Next Generation </div>
					<div class="standards-second-header"> Science </div>
					<div class="standards-third-header"> Standards Browser </div>
				</div>
			</div>
			<ul id="sets" class="sets-wrapper js-sets"></ul>
		</div>
		<div class="columns large-8 large-offset-4 standrds-details">
			<div class="row collapse standards-details-description-1">
				The Next Generation Science Standards 
			</div>
			<div class="row collapse standards-details-description-2">
				Are there Common Core standards for science? Not quite.
			</div>
			<div class="row collapse standards-details-description-2">
				The
				<a href="http://www.nextgenscience.org" target="_blank"> Next Generation Science Standards (NGSS) </a>
				is a nationwide effort to evolve a framework of rigorous K-12 cross-disciplinary standards for students learning science.  
			</div>
			<div class="row collapse standards-details-description-2">
				We can help you find CK-12 content that is aligned to these standards and make it available to these classes.
			</div>
			<div class="row collapse standards-details-description-3">
				Here's how:
			</div>
			<div class="row collapse guideline">
				<span class="guideline-img">
					<img class="left" alt="math" src="/media/standard/images/science-core-img1.png">
				</span>
				<span class="guideline-description">
					Use our <a id="browse-start"> Next Generation Science Standards Browser </a> to see concepts that are aligned to each standard.
				</span>
			</div>
			<div class="row collapse guideline">
				<span class="guideline-img">
					<img class="left" alt="math" src="/media/standard/images/science-core-img2.png">				
				</span>
				<span class="guideline-description">
					View the correlated standards on each concept.
				</span>
			</div>
			<div class="row collapse guideline">
				<span class="guideline-img">
					<img class="left" alt="math" src="/media/standard/images/science-core-img3.png">
				</span>
				<span class="guideline-description">
					Assign concepts to your class.<br/>
					<a href="http://help.ck12.org/hc/en-us/articles/200352475-How-to-Create-a-Group" target="_blank"> Learn how to create a class </a>
				</span>
			</div>
		</div>
	</div>
</div>

<div class="columns small-12 mobile-view show-for-small ngss-container">
	<div class="row collapse text-center mobile-page-container js-mobile-info-container">
		<div class="row collapse mobile-individual-page-wrapper js-mobile-individual-page-wrapper">
			<div class="row collapse left mobile-individual-page js-mobile-individual-page">
				<div class="mobile-standard-header">
					The Next Generation Science Standards
				</div>
				<img alt="math" src="/media/standard/images/science-core-img1.png">
				<div class="mobile-standard-description text-left">
					<span> Use our </span>
					<a id="browser-start-small"> Next Generation Science Standards Browser </a>
					<span> to see the CK-12 concepts that are aligned to each standard. </span>
				</div>
			</div>
			<div class="row collapse left mobile-individual-page js-mobile-individual-page">
				<div class="mobile-standard-header">
					The Next Generation Science Standards
				</div>
				<img alt="math" src="/media/standard/images/science-core-img2.png">
				<div class="mobile-standard-description text-left">
					View the correlated standards on each concept.
				</div>
			</div>
			<div class="row collapse left mobile-individual-page js-mobile-individual-page">
				<div class="mobile-standard-header">
					The Next Generation Science Standards
				</div>
				<img alt="math" src="/media/standard/images/science-core-img3.png">
				<div class="mobile-standard-description text-left">
					<div>Assign concepts to your class</div>
					<div>
						<a href="http://help.ck12.org/hc/en-us/articles/200352475-How-to-Create-a-Group" target="_blank">Learn how to create a class.</a>
					</div>
				</div>
			</div>
		</div>
		<div class="row collapse pagination mobile-pagination">
			<span class="option-button active"></span>
			<span class="option-button"></span>
			<span class="option-button"></span>
		</div>
		<div class="mobile-skip text-center js-mobile-skip">
			Skip
		</div>
	</div>
	
	<div class="row collapse hide-important mobile-sets-container js-mobile-sets-container">
		<div class="row collapse mobile-standards-header">
			<img class="left" alt="math" src="/media/standard/images/science-icon.png">
			<div class="left standards-header">
				<div>Next Generation Science</div>
				<div>Standards Browser</div>
			</div>
		</div>
		<ul id="sets" class="sets-wrapper js-sets"></ul>
	</div>
</div>
