<div class="columns large-12 small-12 standard-mobile-view">
	<div class="row collapse">
		<div class="columns large-6 math-standards js-math-standards">
			<div class="row collapse math-row">
				<img class="left" alt="math" src="/media/standard/images/math-icon.png">
				<div class="left standards-header">
					<div class="standards-first-header"> Common Core </div>
					<div class="standards-second-header"> Math </div>
					<div class="standards-third-header"> Standards Browser </div>
				</div>
			</div>
			<a class="text-center mobile-guideline">The Common Core State Standards (CCSS) have become an important set of guidelines for students and teachers of mathematics.</a>
		</div>
		<div class="columns large-6 science-standards js-science-standards">
			<div class="row collapse science-row">
				<img class="left" alt="math" src="/media/standard/images/science-icon.png">
				<div class="left standards-header">
					<div class="standards-first-header"> Next Generation </div>
					<div class="standards-second-header"> Science </div>
					<div class="standards-third-header"> Standards Browser </div>
				</div>
			</div>
			<a class="text-center mobile-guideline">The NGSS is a nationwide effort to evolve a framework of rigorous K-12 cross-disciplinary standards for students learning science.</a>
		</div>
	</div>
</div>
