<div class="row school-banner-top-layer">
    <div class="column large-6 small-12 school-banner-header">
		<div class="row collapse">
			<span>Schools</span><img class="heart-image" src="/media/common/images/heart_throb_anim.gif"/><span>CK-12,</span>
		</div>
		<div class="row collapse">
			and we love you too.
		</div>
    </div>
</div>
<div class="school-banner-bottom-layer">
	<div class="row collapse home-image-wrapper">
		<img class="right home-image hide-for-small" src="/media/schools/images/school.png"/>
		<img class="home-image show-for-small" src="/media/schools/images/school.png"/>
	</div>
</div>