<div class="row collapse">
    <div class="row collapse">
        <div id="schoolsFiltersTop" class="large-12 small-12 column schools-filters-top">
            <div class="row collapse">
                <div class="large-3 columns large-centered small-10 small-centered">
                        <div id="stateSelector" class="hide"></div>
                </div>
            </div>
        </div>
        <div class="large-12 small-12 column school-content">
            <div class="row collapse">
                <div id="schoolList" class="large-12 small-12 column"></div>
            </div>
        </div>
    </div>
</div>
