<% if(updateError){ %>
<div class="alert_big error">
    <i class="icon-notification"></i>
    <span><% if(errorMsg){ %>
            <%- errorMsg %>
        <% }else{ %>
             Your changes could not be saved. Please try again.
        <% } %>

    </span>
</div>
<% } %>

<div id="school_<%- schoolID %>" class="school row collapse <% if (!hasBooks()) { %> hide <%}%> ">
    <div class="column large-12 small-12">
        <div class="school_title row collapse">
            <div class="show-for-small">
                <a id="lnk_school_title_small_<%- schoolID %>"
                    href="/schools/<%- stateSlug %>/<%- slug %>-<%- schoolID %>"><%- schoolName %></a>
            </div>
            <div class="hide-for-small">
                <span class="left">
                    <a id="lnk_school_title_<%- schoolID %>" href="/schools/<%- stateSlug %>/<%- slug %>"><%- schoolName %></a>
                </span>
                <span class="right school-link">
                    <a id="lnk_school_view_<%- schoolID %>" href="/schools/<%- stateSlug %>/<%- slug %>">
                        <span>View School</span>
                        <span class=" icon-arrow3_right right-side"><span>
                    </a>
                </span>
            </div>
        </div>
        <div class="school-breadcrumbs hide">
            <a id="lnk_state_breadcrumb_<%- stateSlug%>" class="school-breadcrumb-state" href="/schools/<%- stateSlug %>" ><%- stateName %></a>
            <span class="school-breadcrumb-separator"> &gt; </span>
            <span class=""><%- schoolName %></span>
        </div>
        <% if(editMode){ %>
        <div class="book-container columns large-3 medium-4 small-6">
            <div class="add-flex-book-container">
                <div class="add-flex-book-wrapper">
                        <p class='add-flex-book-header'>Add A FlexBook</p>
                    <div class="card" style='height: 65%'>
                        <div class="parent-textarea">
                            <textarea id="add-flex-book-url-field" placeholder="Enter the URL of the flexbook"></textarea>
                        </div>
                    </div>
                        <br/> <br/>
                        <div class="flex-book-action">
                            <a class="add-flex-book-cancel turquoise  left" >CLEAR</a>
                            <a class="add-flex-book-save tangerine right"  >ADD</a>
                    </div>
                </div>
            </div>
        </div>

        <% } %>
        <div class="row collapse bookListMain bookList">

        </div>
    </div>
</div>
<% if(editMode){ %>
        <div class="parent-done-btn">
          <!-- <div class="done-btn-wrapper"> -->
            <button class="done-edit-you-school center button tangerine large">Done Editing</button>
          <!-- </div>   -->
        </div>
<% } %>
