<!-- state selector -->
<div class="state-selection-wrapper">
    <div data-dropdown="state-selection" class="button small split simple js-dropdown state-selected">
        <div class="state-label-wrapper text-left">
            <i class="icon-map"></i>
            <label class="dropdown-label js-close-drop-down state-selected-label inline">California</label>
        </div>
        <span class="js-close-drop-down"></span>
    </div>
    <ul id="state-selection" class="f-dropdown tangerine-list simple state-selection" data-dropdown-content></ul>
</div>