<!--Self-Study zero state Code: Starts-->
 <div class="columns large-12 small-12 dashboard-zerostate">
     <div class="row collapse self-study-complete-message">
         <div class="left-practice-message">
        </div>
         <div class="practice-message">
             <div class="large-12 columns start-practice-wrapper">
                 <span class="completed-concepts-success"></span>
                 <div class="header1-regular">Hooray!</div>
                 <div class="header4-regular">You completed all of the concepts that you were studying.</div>
             </div>
             <div class="large-12 columns zerostate-buttons-wrapper">
                 <div class="button turquoise large try-concepts"><span class="icon-groups"></span>Try more concepts</div>
                 <div class="button turquoise large view-progress"><span class="icon-groups"></span>View your progress</div>
             </div>
         </div>
         <div class="right-practice-message">
        </div>
     </div>
 </div>
 <!--Self-Study zero state Code: Ends--> 