<div class="row collapse">
    <div class="columns large-9 small-9 large-offset-2 small-offset-2">
        <div class="row collapse">
            <div class="small-12 large-12 columns subject-space">
                <div class="row collapse subject-header">
                    <p>Math</p>
                </div>
                <div class="row collapse" id="selfStudyMathSubjectsContainer"></div>
            </div>
        </div>
        <div class="row collapse">
            <div class="small-12 large-12 columns subject-space">
                <div class="row collapse subject-header">
                    <p>Science</p>
                </div>
                <div id="selfStudyScienceSubjectsContainer" class="row collapse"></div>
            </div>
        </div>
        <div class="row collapse">
            <div class="small-12 large-12 columns">
                <div class="row collapse subject-header">
                    <p>English</p>
                </div>
                <div id="selfStudyEnglishSubjectsContainer" class="row collapse"></div>
            </div>
        </div>
    </div>
</div>
