<div class="activity-content-individual-wrapper row collapse">
     <div class="activity-content left">
         <span class="title-container">
             <a href="@@activityLink@@" target="_blank" class="ie8text activity-header" title="@@activityTitle@@">@@activityTitle@@</a>
             <span class="show-for-small activity-type-mobile">Shared</span>
         </span>
         <div class="activity-user ie8text row collapse">
             <img src="/auth/member/image/@@activityOwnerAuthID@@" alt="@@activityOwner@@" class="member-image">
             <span class="activity-detail hide-for-small" title="@@activityOwner@@ shared @@activityTime@@">@@activityOwner@@ shared @@activityTime@@</span>
             <span class="show-for-small activity-detail-small text-center">@@activityTimeSmall@@</span>
          </div>
     </div>
</div>
