<div class="activity-content-individual-wrapper row collapse">
     <div class="activity-content left">
         <span class="assign-activity-header" title="@@assignTitle@@ @@changedue@@">
             <span class="@@previousTitleGroup@@ card-assign-change">@@activityPrevTitle@@</span>
             <span class="@@changedTo@@ card-assign-change">changed to</span>
             <span class="ie8text activity-header js-assign-link @@assignmentLink@@" title="@@assignTitle@@ @@changedue@@" data-name="@@assignTitle@@" data-duedate="@@changedue@@">@@assignTitle@@</span>
             <span class="@@due@@ dueDateMobile ">@@dueDate@@</span>
             <span class="@@assignmentDelete@@  assign-mobile">All reports have been removed.</span>
             <span class="show-for-small activity-type-mobile assign-mobile @@hideForDelete@@">@@activityType@@</span>
         </span>
         <div class="activity-user ie8text row collapse">
             <img src="/auth/member/image/@@activityOwnerAuthID@@" alt="@@activityOwner@@" class="member-image">
             <span class="activity-detail hide-for-small" title="@@activityOwner@@ @@activityType@@ @@activityTime@@">@@activityOwner@@ @@activityType@@ @@activityTime@@</span>
              <span class="show-for-small activity-detail-small text-center">@@activityTimeSmall@@</span>
          </div>
     </div>
</div>