<li class="track-item @@completedTrack@@">
    <div class="items-row">
        <div class="row-left-column">
            <a class="">@@assignmentName@@</a>
            <span class="icon-arrow_down arrow-icon hide"></span>
        </div>
        <div class="row-right-column">
            <span class="progress-container"><input type="text" class="knob" value="@@percentage@@"></span>
            <span class="progress-count">
                <span class="progress-completed">@@completed@@</span>
                <span class="disable progress-total">/@@total@@</span>
            </span>
        </div>
    </div>
    <!--widget-body-expand code:Starts-->
    <div class="widget-body-expands hide">
        <a class="right expand-view-button active"><span class="expand-close"></span></a>
        <span class="spindle-expand">
             
         </span>
         <span class="swiped-top-button">...</span>
         <div class="row collapse concepts-wrapper">
             <ul class="assignment-concept-list small-font">@@conceptList@@</ul>
         </div>
         <span class="swiped-bottom-button">...</span>
    </div><!--widget-body-expand code:Ends-->
</li>