<div class="left dashboard-widget" id="@@id@@" data-enable-qa="@@enableQA@@">
       <div class="widget-group-activity-header">
         <div class="groups-sub-title">@@groupType@@</div>
         <span class="js-group-link"><img class="group-image" alt="Group Image" src="@@imageSrc@@"/></span>
         <span class="header4-regular widget-groups-title js-group-link" title="@@groupName@@">@@groupName@@</span>
     </div>
     <div class="widget-groups-add-assignments">
         <div class="assignment-inner-block js-share-link">
             <span class="share-learned"><i class="icon-share"></i></span>
             <div>
                 <a class="header3-regular" href="javascript:;">Share something <br>you’ve learned</a>
             </div>
         </div>
     </div>
     <div class="widget-group-activity-footer">
         <div class="left group-owner">
             <span class="group-owner-you @@hideOwn@@">
                 <i class="icon-you "></i> You
             </span>
             <span class="group-owner-name @@hideOther@@" title="@@ownerName@@">
                 @@ownerName@@
             </span>
         </div>
         <div class="right members-counts-wrapper paragraph pointer js-group-members">
              <i class="icon-user"></i>
             <span class="members-count">@@totalMembers@@</span>
         </div>
   </div>
</div>