<!--Group Activity zero state Code: Starts-->
 <div class="large-12 small-12 columns dashboard-zerostate">
     <div class="row collapse">
         <div class="large-12 columns start-practice-wrapper">
             <span class="share-resources"></span>
             <div class="header1-regular">Learning is better with friends copy TBD.</div>
             <div class="header4-regular">Share resources, ask questions, learn at a deeper level.</div>
         </div>
         <div class="large-12 columns zerostate-buttons-wrapper">
             <div class="button turquoise large join-groups"><span class="icon-groups"></span>Create/Join a Group</div>
         </div>
     </div>
 </div>
 <!--Group Activity zero state Code: Ends--> 