<div class="left dashboard-widget" id="@@id@@" data-enable-qa="@@enableQA@@">
       <div class="widget-group-activity-header">
         <div class="groups-sub-title">@@groupType@@</div>
         <span class="js-group-link"><img class="group-image" alt="Group Image" src="@@imageSrc@@"/></span>
         <span class="header4-regular widget-groups-title js-group-link" title="@@groupName@@">@@groupName@@</span>
     </div>
     <div class="widget-group-activity-body">
         <span class="latest-activity-patch">Latest Activity</span>
         <div class="activity-contect-wrapper">
             @@activityStamp@@
         </div>
     </div>
     <div class="widget-group-activity-footer">
         <div class="left group-owner">
             <span class="group-owner-you @@hideOwn@@">
                 <i class="icon-you "></i> You
             </span>
             <span class="group-owner-name @@hideOther@@" title="@@ownerName@@">
                 @@ownerName@@
             </span>
         </div>
         <div class="right members-counts-wrapper paragraph pointer js-group-members">
              <i class="icon-user"></i>
             <span class="members-count">@@totalMembers@@</span>
         </div>
     </div>
     <div class="card-new-assignment @@hide@@">
        <i class="icon-grps_assgnmts"></i>
        <span>New Assignment</span>
     </div>                         
</div>