<div class="columns large-12 small-12 dashboard-zerostate student-zerostate">
    <div class="row collapse dashboard-common-wrapper">
        <div class="large-12 columns start-practice">
            <div class="header1-regular">What do you want to learn today?</div>
            <div class="header3-regular">Just start practicing and we'll keep track of how you’re doing.</div>
        </div>
    </div>
    <div class="row collapse">
        <div class="row collapse student-activity-container">
            <div class="row collapse start-practice-wrapper dashboard-common-wrapper">
                <div class="large-4 small-4 columns">
                    <span class="start-image-wrapper">
                        <img src="/media/dashboard/images/practice-img1.png">
                    </span>
                    <div class="header3-regular start-title">Learn</div>
                    <div class="start-description">Pick a subject and concept.</div>
                </div>
                <div class="large-4 small-4 columns">
                    <span class="start-image-wrapper">
                        <img src="/media/dashboard/images/practice-img2.png">
                    </span>
                    <div class="header3-regular start-title">Practice</div>
                    <div class="start-description">See how well you understand each concept.</div>
                </div>
                <div class="large-4 small-4 columns">
                    <span class="start-image-wrapper">
                        <img src="/media/dashboard/images/practice-img3.png">
                    </span>
                    <div class="header3-regular start-title">Improve</div>
                    <div class="start-description">Use the Dashboard to track your progress and see what you can do next.</div>
                </div>
            </div>
        </div>
        <div class="row collapse started-ribbon-wrapper text-center">
            <span class="zerostate-started-ribbon sub-header1">get started</span>
        </div>
    </div>
    <div class="row collapse dashboard-common-wrapper">
        <div class="columns large-9 small-9 large-offset-2 small-offset-2">
            <div class="row collapse">
                <div class="small-12 large-12 columns subject-space">
                    <div class="row collapse subject-header">
                        <p>Math</p>
                    </div>
                    <div class="row collapse math-subjects-container" id="mathSubjectsContainer"></div>
                </div>
            </div>
            <div class="row collapse">
                <div class="small-12 large-12 columns subject-space">
                    <div class="row collapse subject-header">
                        <p>Science</p>
                    </div>
                    <div id="scienceSubjectsContainer" class="row collapse science-subjects-container"></div>
                </div>
            </div>
            <div class="row collapse">
                <div class="small-12 large-12 columns">
                    <div class="row collapse subject-header">
                        <p>English</p>
                    </div>
                    <div id="englishSubjectsContainer" class="row collapse english-subjects-container"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="row collapse dashboard-join-group-wrapper">
        <div class="row collapse dashboard-common-wrapper">
            <div class="large-4 small-4 columns join-image-container"><img src="/media/dashboard/images/dashboard-joingroups-img.png"></div>
            <div class="large-8 small-8 columns">
                <div class="header2-regular">Learning is better with friends!</div>
                <p class="paragraph join-group-description">Join or create a study group to share resources.</p>
                <a class="start-now" href="/my/groups/">Start now</a>
            </div>
        </div>
    </div>
</div>
