<div class="columns large-12 small-12 dashboard-zerostate teacher-zerostate">
    <div class="row collapse dashboard-common-wrapper">
        <div class="large-12 columns start-practice">
            <div class="header1-regular">Use CK-12 for Your Class</div>
            <div class="header3-regular">Give your students great learning resources and practice.</div>
        </div>
    </div>
    <div class="row collapse teacher-activity-container">
        <div class="row collapse dashboard-common-wrapper">
            <div class="large-12 columns zerostate-practice-wrapper">
                <div class="row collapse">
                    <div class="large-6 columns large-offset-1">
                        <div class="header3-regular">Create a <strong>class</strong> to assign math and <br/>science practice to students.</div>
                        <div class="assign-concept"></div>
                    </div>
                    <div class="large-5 columns">
                        <div class="header3-regular">Customize a <strong>FlexBook</strong>® Textbook<br/>for your students to use.</div>
                        <div class="customize-flexbook"></div>
                    </div>
                </div>
            </div>
            <div class="large-12 columns zerostate-buttons-wrapper">
                <a href="/my/groups/" class="button turquoise large create-class">Create a Class</a>
                <a href="/new/book/" class="button turquoise large browse-flex-books">Create a FlexBook® Textbook</a>
            </div>
        </div>
    </div>
    <div class="row collapse dashboard-common-wrapper">
        <div class="columns large-9 small-9 large-offset-2 small-offset-2 teacher-subjects-container">
            <div class="row collapse">
                <div class="small-12 large-12 columns subject-space">
                    <div class="row collapse subject-header">
                        <p>Math</p>
                    </div>
                    <div class="row collapse math-subjects-container" id="mathSubjectsContainer"></div>
                </div>
            </div>
            <div class="row collapse">
                <div class="small-12 large-12 columns subject-space">
                    <div class="row collapse subject-header">
                        <p>Science</p>
                    </div>
                    <div id="scienceSubjectsContainer" class="row collapse science-subjects-container"></div>
                </div>
            </div>
            <div class="row collapse">
                <div class="small-12 large-12 columns">
                    <div class="row collapse subject-header">
                        <p>English</p>
                    </div>
                    <div id="englishSubjectsContainer" class="row collapse english-subjects-container"></div>
                </div>
            </div>
        </div>
    </div>
</div>
