<li>
    <div class="display-indicator-container">
        <span class="option-button"><span class="option-select @@hideRadioButton@@"></span></span>
    </div>
    <div class="concept-descriptions concept" data-contextUrl="@@data-contextUrl@@" title="@@conceptName@@" data-mtype="@@mtype@@" data-login="@@login@@" data-encodedid="@@encodedid@@" data-assignmentid="@@assignmentid@@" data-handle="@@handle@@" data-concept-collection-handle="@@conceptCollectionHandle@@" data-collection-creator-ID="@@collectionCreatorID@@" data-collection-handle="@@collectionHandle@@"><i class="modality-icon icon-@@icon-name@@"></i>@@conceptName@@</div>
    <div class="practice-score-container">
        <span class="@@hideScore@@">@@percentage@@</span>
        <span class="practice-complete @@hideComplete@@"></span>
    </div>
</li>