.subject-wrapper a {
    display: block;
    margin-left: 0px;
}
.browse-title {
    font-size: 18px;
    display: inline-block;
    margin-left: 11px;
    vertical-align: middle;
}
.subject-container h1 {
    font-weight: normal;
}
.subject-link {
    padding: 0px 20px;
}
.subject-link:hover {
    background-color: #d0f1e8;
}
.subject-icon {
    display: inline-block;
    vertical-align: middle;
}
.subject-container h1 {
    padding-left: 15px;
}