    <div id="licenseModal" data-options="closeOnBackgroundClick: false;" class="reveal-modal app-reveal-modal large">
        <a class="close-reveal-modal"></a>
        <h4 id="license-modal-heading">Our Terms of Use have changed.</h4>
        <div class="spacetoplarge"></div>
        <div id = 'license-content'></div>
        <div class="right-btn-wrap">
            <input class="button turquoise" type="button" id="continue_btn" value="I Accept"></input>
        </div>
        <div class="clear"></div>
    </div>
