<div class="notification-panel">
	<div class="">
		<div class="notification-header clearfix row collapse">
			<div class="notification-title columns large-6 medium-6 small-10">Notifications</div>
			<div class="notification-dismiss-all-container columns large-6 medium-6">
				<a class="lnk_notifications_dismiss_all">Dismiss All</a>
			</div>
			<div class="notification_close_container columns small-2 lnk_close_notifications">
				<i class="icon-close"> </i>
			</div>
		</div>
		<ul id="notifications_list" class="notification-list large-12" ></ul>
		<div id="notifications-loading-icon" class="notifications-loading hide js-loading-icon">
			<img src="/media/images/icon_loading.gif" width="43" height="11" />
		</div>
		<div class="lnk_notifications_dismiss_all button">Dismiss All</div>
	</div>
	<div class="notifications-empty-message">
		<div> All is quiet here. </div>
		<div> You have no new notifications.</div>
	</div>
</div>