.bookmark-removed{
	margin-bottom:15px;
}
.username{
	margin-top:10px;
}
.back-to-dashboard{
	margin-top: 1.5em;
}
.bookmark-removed-content{
	border-top: 1px solid #CCCCCC;
    padding-top: 15px;
}
.bookmark-removed-title{
	padding-top:50px;
}