/*************************************************************************************
Image Attribution
*************************************************************************************/

.ui-tooltip-img-attribute {
	background-color:#fff;
	border:none;
	-webkit-box-shadow:0 0 20px rgba(0, 0, 0, .5);
	-moz-box-shadow:0 0 20px rgba(0, 0, 0, .5);
	box-shadow:0 0 20px rgba(0, 0, 0, .5);
	filter: progid:DXImageTransform.Microsoft.Shadow(color=#999999,direction=135,strength=10);
	max-width:250px;
	min-width:0;
	max-height:250px;
	min-height:0;
}

.ui-tooltip-img-attribute .ui-tooltip-content{
	font-size: 12px;
	line-height:18px;
	padding:10px;
}

.ui-tooltip-img-attribute .ui-tooltip-content .vtitle {
	color: #050505;
	font-size: 12px;
	font-weight: bold;
	padding-bottom:10px;
	margin:0;
}

.img_attribution li {
    word-wrap: break-word;
}
