<div class="learn-claim-school-body">
<div class='learn-claim-school-container'>
    <div class='learn-claim-school-header'>You will have access to:</div>
     <div class="learn-claim-icon-container">
           
           <span class="claim-learn-icon-wrapper clearfix">
             <i class="claim-learn-icon icon-add icon-uikit"></i>
             <span class='learn-claim-school-add-btn'>Add a FlexBook&reg</span>
           </span>
           <p class='claim-learn-icon-separator'></p>
           <span class="claim-learn-icon-wrapper clearfix"> 
                  <i class="claim-learn-icon icon-remove icon-uikit"></i>
                  <span class='learn-claim-school-remove-btn'>Remove a FlexBook&reg</span>
           </span>
           <p class='claim-learn-icon-separator'></p>
           <span class="claim-learn-icon-wrapper clearfix"> 
                <i class="claim-learn-icon icon-edit icon-uikit"></i>
                <span class='learn-claim-school-edit-btn'>Edit the school name</span>
           </span> 
           <p class='claim-learn-icon-separator'></p>
     </div>
</div>
     <div class="learn-claim-btn-container">
            <div class='learn-claim-txt'>Want to manage this school page?</div>
             <div class='learn-claim-btn' style='text-align: center;'>
                 <a class="learn-claim-cancel-btn turquoise">Cancel</a>
                 <div class="button large tangerine modal-uikit-ok learn-claim-school-btn">Claim School</div>
             </div>
     </div> 
</div> 