{
    "extends": "eslint-config-defaults",
    "rules": {
        "indent": [
            1,
            4,
            {"SwitchCase": 1}
        ],
        "quotes": [
            1,
            "single"
        ],
        "linebreak-style": [
            0,
            "unix"
        ],
        "semi": [
            2,
            "always"
        ],
        "camelcase": [0],
        "no-underscore-dangle": [0],
        "new-cap": [0],
        "key-spacing": [0],
        "no-console": [0]
    },
    "env": {
        "browser": true,
        "amd": true
    }
}
